﻿@using Airtime.Data.Content
@inherits AirtimeViewPage<Widget>

<div class="widget @WidgetTypeEnum.ActiveSurveys.ToString()Widget">
	@Html.Partial("_WidgetEditorPartial", Model)

	<h2>@Html.Raw(Model.Heading)</h2>
	<div>@Html.Raw(Model.Content)</div>

	<div ng-controller="ActiveSurveysController" ng-init="init('@Url.Action("ActiveSurveys", "Widgets", new { area = "Public", channelId = Model.Channel.Id })')" class="ng-cloak" ng-cloak>
		<p ng-show="!surveys.length">There are currently no active surveys that you have not yet completed. Check back again later.</p>

		<div ng-show="surveys.length">
			<p>One or more surveys are currently underway, select a Start button below to log in and begin right now!</p>
			<table class="table-condensed">
				<tr ng-repeat="survey in surveys">
					<td><a class="btn" href="{{survey.LoginUrl}}">Start &raquo;</a></td>
					<td>{{survey.ChannelName}} (Closes {{survey.EndDateLong}})</td>
				</tr>
			</table>
		</div>
	</div>
</div>
