﻿@using Airtime.Data.Content
@inherits AirtimeViewPage<Widget>

<div class="widget @WidgetTypeEnum.Custom.ToString()Widget">
	@Html.Partial("_WidgetEditorPartial", Model)

	<h2>@Html.Raw(Model.Heading)</h2>	
	<div>@Html.Raw(Model.Content)</div>
</div>