﻿@using Airtime.Data.Content
@inherits AirtimeViewPage<Widget>

<div class="widget @WidgetTypeEnum.MessageTheBoss.ToString()Widget">
	@Html.Partial("_WidgetEditorPartial", Model)

	<h2>@Html.Raw(Model.Heading)</h2>
	<div>@Html.Raw(Model.Content)</div>

	<div ng-controller="MessageTheBossController" ng-init="init('@Url.Action("MessageTheBoss", "Widgets", new { area = "Public", channelId = Model.Channel.Id })')" class="ng-cloak" ng-cloak>
		<div ng-repeat="alert in alerts">
			<div ng-class="alert.type" class="alert">
				<a href="#" class="close" data-dismiss="alert" ng-click="closeAlert($index)">&times;</a>
				{{alert.msg}}
			</div>
		</div>

		<form name="form" novalidate ng-disabled="isSending">
			<textarea rows="5" name="Message" id="Message" ng-model="model.message" class="input-block-level" ng-disabled="isSending"></textarea>
			<button class="btn" ng-click="send(model)" ng-disabled="form.$invalid || form.$pristine || isSending || isEmpty(model)">Send &raquo;</button>
		</form>
	</div>
</div>
