﻿@using Airtime.Data.Content
@inherits AirtimeViewPage<Widget>

<div class="widget @WidgetTypeEnum.News.ToString()Widget">
	<div class="brandlogo">
	</div>

	@Html.Partial("_WidgetEditorPartial", Model)

	<h1>@Html.Raw(Model.Heading)</h1>
	<div>@Html.Raw(Model.Content)</div>
</div>
