﻿@using Airtime.Data.Content
@inherits AirtimeViewPage<Widget>

<div class="widget @WidgetTypeEnum.SongsYouVotedOn.ToString()Widget">
	@Html.Partial("_WidgetEditorPartial", Model)

	<h2>@Html.Raw(Model.Heading)</h2>
	<div>@Html.Raw(Model.Content)</div>

	<div ng-controller="SongsYouVotedOnController" ng-init="init('@Url.Action("SongsYouVotedOn", "Widgets", new { area = "Public", channelId = Model.Channel.Id })')" class="ng-cloak" ng-cloak>
		<p ng-show="!items.length">You have not yet completed any surveys or its data is not yet available.</p>

		<div ng-show="items.length">
			<div class="input-prepend" style="padding-right:25px">
				<span class="add-on"><i class="icon-search"></i></span>
				<input type="text" ng-model="query" ng-change="search()" class="input-block-level" style="width:100%" placeholder="Search" />
			</div>
						
			<table class="table table-striped table-condensed table-hover">
				<thead>
					<tr>
						<th style="width:50%">Artist</th>
						<th style="width:50%">Title</th>
						<th style="text-align:center">Play</th>
					</tr>
				</thead>
				<tfoot>
					<tr>
						<td colspan="6">
							<div class="pagination pull-right">
								<ul>
									<li ng-class="{disabled: currentPage == 0}">
										<a href ng-click="prevPage()">&laquo; Prev</a>
									</li>
									<li ng-repeat="n in range(pagedItems.length)" ng-class="{active: n == currentPage}" ng-click="setPage()">
										<a href ng-bind="n + 1">1</a>
									</li>
									<li ng-class="{disabled: currentPage == pagedItems.length - 1}">
										<a href ng-click="nextPage()">Next &raquo;</a>
									</li>
								</ul>
							</div>
						</td>
					</tr>
				</tfoot>
				<tbody>
					<tr ng-repeat="item in pagedItems[currentPage]">
						<td style="width:50%">{{item.Artist}}</td>
						<td style="width:50%">{{item.Title}}</td>
						<td style="text-align:center"><img class="playButton" data-song-url="{{item.Filename}}" src="/Content/themes/airtime/images/icons/icon-play-button.gif" /></td>
					</tr>
				</tbody>
			</table>
		</div>
					
	</div>
</div>
