﻿@using Airtime.Data.Content
@inherits AirtimeViewPage<Widget>

<div class="widget @WidgetTypeEnum.YourTopSongs.ToString()Widget">
	@Html.Partial("_WidgetEditorPartial", Model)

	<h2>@Html.Raw(Model.Heading)</h2>
	<div>@Html.Raw(Model.Content)</div>
	
	<div ng-controller="YourTopSongsController" ng-init="init('@Url.Action("YourTopSongs", "Widgets", new { area = "Public", channelId = Model.Channel.Id })')" class="ng-cloak" ng-cloak>
		<p ng-show="!songs.length">You have not yet completed any surveys or its data is not yet available.</p>

		<div ng-show="songs.length">
			<table class="table table-striped table-condensed table-hover">
				<thead>
					<tr>
						<th style="width:50%">Artist</th>
						<th style="width:50%">Title</th>
						<th style="text-align:center">Play</th>
					</tr>
				</thead>
				<tbody>
					<tr ng-repeat="item in songs">
						<td style="width:50%">{{item.Artist}}</td>
						<td style="width:50%">{{item.Title}}</td>
						<td style="text-align:center"><img class="playButton" data-song-url="{{item.Filename}}" src="/Content/themes/airtime/images/icons/icon-play-button.gif" /></td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
</div>
