﻿@using Airtime.Core;
@using Airtime.Data.Account

@model Airtime.Models.Members.UserModel

@{
	ViewBag.Title = "Airtime Surveys - " + Resources.Members.EditUser;
	ViewBag.Section = SectionEnum.Members;
}

@section Head {
	@Helpers.DateTimePickerScript()
}

<h2>@Resources.Members.EditUser</h2>

@using (Html.BeginForm()) {
	<fieldset>
		<legend>Account Details</legend>

		<div class="editor-label">
			@Html.LabelFor(m => m.PersonEmail)
		</div>
		<div class="editor-field">
			@Html.EditorFor(m => m.PersonEmail)
			@Html.ValidationMessageFor(m => m.PersonEmail)
		</div>

		<div class="editor-label">
			@Html.LabelFor(m => m.Username)
		</div>
		<div class="editor-field">
			@Html.EditorFor(m => m.Username)
			@Html.ValidationMessageFor(m => m.Username)
		</div>

		<div class="editor-label">
			@Html.LabelFor(m => m.Password)
		</div>
		<div class="editor-field">
			@Html.EditorFor(m => m.Password)
			@Html.ValidationMessageFor(m => m.Password)
		</div>

		@if (Model.Id > 0) {
			<div class="editor-label">
				Automatic Login Link
			</div>
			<div class="editor-field">
				@{var tokenLoginUrl = Html.Action("GetTokenLoginUrl", "Shared", new { guid = Model.Guid }); }
				<a href="@tokenLoginUrl" target="_blank">@tokenLoginUrl</a>
			</div>
		}

		<br />
		<div class="editor-field">
			@Html.EditorFor(m => m.Enabled) @Html.LabelFor(m => m.Enabled)
			@Html.ValidationMessageFor(m => m.Enabled)
		</div>
	</fieldset>

	<fieldset>
		<legend>Personal Details</legend>

		<div class="editor-label">
			@Html.LabelFor(m => m.PersonGivenName)
		</div>
		<div class="editor-field">
			@Html.EditorFor(m => m.PersonGivenName)
			@Html.ValidationMessageFor(m => m.PersonGivenName)
		</div>

		<div class="editor-label">
			@Html.LabelFor(m => m.PersonFamilyName)
		</div>
		<div class="editor-field">
			@Html.EditorFor(m => m.PersonFamilyName)
			@Html.ValidationMessageFor(m => m.PersonFamilyName)
		</div>

		<div class="editor-label">
			@Html.LabelFor(m => m.PersonPersonalDateOfBirth)
		</div>
		<div class="editor-field">
			@Html.EditorFor(m => m.PersonPersonalDateOfBirth)
			@Html.ValidationMessageFor(m => m.PersonPersonalDateOfBirth)
		</div>

		<div class="editor-label">
			@Html.LabelFor(m => m.PersonPersonalGender)
		</div>
		<div class="editor-field">
			<input type="radio" name="PersonPersonalGender" value="@PersonGenderEnum.M.ToString()" id="PersonalGender_M" @Helpers.Checked(Model.PersonPersonalGender == PersonGenderEnum.M) /> <label for="PersonalGender_M">@PersonGenderEnum.M.ToResourceString()</label><br />
			<input type="radio" name="PersonPersonalGender" value="@PersonGenderEnum.F.ToString()" id="PersonalGender_F" @Helpers.Checked(Model.PersonPersonalGender == PersonGenderEnum.F) /> <label for="PersonalGender_F">@PersonGenderEnum.F.ToResourceString()</label><br />
			@Html.ValidationMessageFor(m => m.PersonPersonalGender)
		</div>
	</fieldset>

	<fieldset>
		<legend>Contact Details</legend>

		<div class="editor-label">
			@Html.LabelFor(m => m.PersonContactAddress)
		</div>
		<div class="editor-field">
			@Html.EditorFor(m => m.PersonContactAddress)
			@Html.ValidationMessageFor(m => m.PersonContactAddress)
		</div>

		<div class="editor-label">
			@Html.LabelFor(m => m.PersonContactSuburb)
		</div>
		<div class="editor-field">
			@Html.EditorFor(m => m.PersonContactSuburb)
			@Html.ValidationMessageFor(m => m.PersonContactSuburb)
		</div>

		<div class="editor-label">
			@Html.LabelFor(m => m.PersonContactCity)
		</div>
		<div class="editor-field">
			@Html.EditorFor(m => m.PersonContactCity)
			@Html.ValidationMessageFor(m => m.PersonContactCity)
		</div>

		<div class="editor-label">
			@Html.LabelFor(m => m.PersonContactState)
		</div>
		<div class="editor-field">
			@Html.EditorFor(m => m.PersonContactState)
			@Html.ValidationMessageFor(m => m.PersonContactState)
		</div>

		<div class="editor-label">
			@Html.LabelFor(m => m.PersonContactPostcode)
		</div>
		<div class="editor-field">
			@Html.EditorFor(m => m.PersonContactPostcode)
			@Html.ValidationMessageFor(m => m.PersonContactPostcode)
		</div>

		<div class="editor-label">
			@Html.LabelFor(m => m.PersonContactCountry)
		</div>
		<div class="editor-field">
			@Html.EditorFor(m => m.PersonContactCountry)
			@Html.ValidationMessageFor(m => m.PersonContactCountry)
		</div>

		<div class="editor-label">
			@Html.LabelFor(m => m.PersonContactDaytimePhone)
		</div>
		<div class="editor-field">
			@Html.EditorFor(m => m.PersonContactDaytimePhone)
			@Html.ValidationMessageFor(m => m.PersonContactDaytimePhone)
		</div>

		<div class="editor-label">
			@Html.LabelFor(m => m.PersonContactMobilePhone)
		</div>
		<div class="editor-field">
			@Html.EditorFor(m => m.PersonContactMobilePhone)
			@Html.ValidationMessageFor(m => m.PersonContactMobilePhone)
		</div>
	</fieldset>

	<fieldset>
		<legend>Administrative</legend>

		<div class="editor-label">
			@Html.LabelFor(m => m.Notes)
		</div>
		<div class="editor-field">
			@Html.TextAreaFor(m => m.Notes, new { @class = "text-box multi-line" })
			@Html.ValidationMessageFor(m => m.Notes)
		</div>
	</fieldset>
	
	<nav>
		@if (Model.Id > 0) {
			<text>
			<button type="submit" name="submitAction" value="@SubmitActionEnum.Delete.ToString()" class="delete-button cancel">@Resources.Shared.Delete</button>
			&nbsp;
			&nbsp;
			&nbsp;
			</text>
		}
		<button type="submit" name="submitAction" value="@SubmitActionEnum.Cancel.ToString()" class="cancel-button cancel">@Resources.Shared.Cancel</button>
		<button type="submit" name="submitAction" value="@SubmitActionEnum.Save.ToString()" class="submit-button">@Resources.Shared.Next</button>
	</nav>
}
