﻿@using System.Globalization
@using Airtime.Data.Account
@using Airtime.Models.Members

@inherits AirtimeViewPage<MemberFilterModel>

@{
	ViewBag.Title = "Airtime Surveys - " + Resources.Shared.Members;
	ViewBag.Section = SectionEnum.Members;
}

<h2>@Resources.Shared.Members</h2>

<form id="FilterFields" method="post">
	<div class="accordion hidden">
		<h3><a href="#">@Resources.Members.FilterAccount</a></h3>
		<div>
			<table style="border: none; width: 100%">
				<tbody>
					<tr>
						<td class="alignTop noBorder" width="33%">
							
							<div class="editor-label">
								@Html.LabelFor(m => m.Enabled)
							</div>
							<div class="editor-label">
								@Html.EditorFor(m => m.Enabled)
							</div>

							<div class="editor-label">
								@Html.LabelFor(m => m.GivenName)
							</div>
							<div class="editor-field">
								@Html.EditorFor(m => m.GivenName)
							</div>
							
							<div class="editor-label">
								@Html.LabelFor(m => m.BirthDateAfter)
							</div>
							<div class="editor-field">
								@Html.EditorFor(m => m.BirthDateAfter)
							</div>

							<div class="editor-label">
								@Html.LabelFor(m => m.BirthDateBefore)
							</div>
							<div class="editor-field">
								@Html.EditorFor(m => m.BirthDateBefore)
							</div>
							

						</td>
						<td class="alignTop noBorder" width="33%">
							
							<div class="editor-label">
								@Html.LabelFor(m => m.Gender)
							</div>
							<div class="editor-field">
								@Html.RadioButton("Gender", "null", true, new { id = "GenderAny" })
								@Html.Label("GenderAny", Resources.Shared.Any)
								@Html.RadioButton("Gender", PersonGenderEnum.F, new { id = "GenderFemale" })
								@Html.Label("GenderFemale", PersonGenderEnum.F.ToResourceString())
								@Html.RadioButton("Gender", PersonGenderEnum.M, new { id = "GenderMale" })
								@Html.Label("GenderMale", PersonGenderEnum.M.ToResourceString())
							</div>

							<div class="editor-label">
								@Html.LabelFor(m => m.FamilyName)
							</div>
							<div class="editor-field">
								@Html.EditorFor(m => m.FamilyName)
							</div>

							<div class="editor-label">
								@Html.LabelFor(m => m.AgeFrom)
							</div>
							<div class="editor-label">
								@*@Html.EditorFor(m => m.AgeFrom)*@
								@Html.TextBoxFor(m => m.AgeFrom, new { @class = "short-input" })
							</div>
							
							<div class="editor-label">
								@Html.LabelFor(m => m.AgeTo)
							</div>
							<div class="editor-label">
								@*@Html.EditorFor(m => m.AgeTo)*@
								@Html.TextBoxFor(m => m.AgeTo, new { @class = "short-input" })
							</div>


						</td>
						<td class="alignTop noBorder" width="33%">
							<div class="editor-label">
								@Html.LabelFor(m => m.Email)
							</div>
							<div class="editor-field">
								@Html.EditorFor(m => m.Email)
							</div>
							
							<div class="editor-label">
								@Html.LabelFor(m => m.Username)
							</div>
							<div class="editor-field">
								@Html.EditorFor(m => m.Username)
							</div>

							<div class="editor-label">
								@Html.LabelFor(m => m.BirthDateAfterMonthDay)
							</div>
							<div class="editor-label">
								@Html.EditorFor(m => m.BirthDateAfterMonthDay)
								<input type="hidden" id="BirthDateAfterMonthDayAlt" name="BirthDateAfterMonthDayAlt" />
							</div>
							
							<div class="editor-label">
								@Html.LabelFor(m => m.BirthDateBeforeMonthDay)
							</div>
							<div class="editor-label">
								@Html.EditorFor(m => m.BirthDateBeforeMonthDay)
								<input type="hidden" id="BirthDateBeforeMonthDayAlt" name="BirthDateBeforeMonthDayAlt" />
							</div>

						</td>
					</tr>
				</tbody>
			</table>			
		</div>
	</div>	
	<div class="accordion hidden">
		<h3><a href="#">@Resources.Members.FilterContact</a></h3>
		<div>
			<table style="border: none; width: 100%">
				<tbody>
					<tr>
						<td class="alignTop noBorder" width="33%">
							
							<div class="editor-label">
								@Html.LabelFor(m => m.Address)
							</div>
							<div class="editor-field">
								@Html.EditorFor(m => m.Address)
							</div>
							
							<div class="editor-label">
								@Html.LabelFor(m => m.State)
							</div>
							<div class="editor-field">
								@Html.EditorFor(m => m.State)
							</div>

							<div class="editor-label">
								@Html.LabelFor(m => m.DaytimePhone)
							</div>
							<div class="editor-field">
								@Html.EditorFor(m => m.DaytimePhone)
							</div>

						</td>
						<td class="alignTop noBorder" width="33%">
							
							<div class="editor-label">
								@Html.LabelFor(m => m.Suburb)
							</div>
							<div class="editor-field">
								@Html.EditorFor(m => m.Suburb)
							</div>

							<div class="editor-label">
								@Html.LabelFor(m => m.Country)
							</div>
							<div class="editor-field">
								@*@Html.EditorFor(m => m.Country)*@
								@Html.DropDownList("Country", Model.CountryDropDownList)
							</div>
							
							<div class="editor-label">
								@Html.LabelFor(m => m.MobilePhone)
							</div>
							<div class="editor-field">
								@Html.EditorFor(m => m.MobilePhone)
							</div>

						</td>
						<td class="alignTop noBorder" width="33%">
							
							<div class="editor-label">
								@Html.LabelFor(m => m.City)
							</div>
							<div class="editor-field">
								@Html.EditorFor(m => m.City)
							</div>
							
							<div class="editor-label">
								@Html.LabelFor(m => m.Postcode)
							</div>
							<div class="editor-field">
								@Html.TextBoxFor(m => m.Postcode, new { @class = "short-input" })
							</div>

						</td>
					</tr>
				</tbody>
			</table>			
		</div>
	</div>
	<div class="accordion hidden">
		<h3><a href="#">@Resources.Members.FilterStatus</a></h3>
		<div id="DivFilterFields">
			<table style="border: none; width: 100%">
				<tbody>
					<tr>
						<td class="alignTop noBorder" width="33%">

							<div class="editor-label">
								@Html.LabelFor(m => m.SurveyID)
							</div>
							<div class="editor-field">
								@Html.DropDownList("SurveyID", Model.SurveyDropDownList)
							</div>
							
							<div class="editor-label">
								@Html.LabelFor(m => m.UserSurveyStatus)
							</div>
							<div class="editor-field">
								@{
									var userStatusItems = EnumHelper.GetValues<UserSurveyStatusEnum>()
										.Select(e => new SelectListItem { Value = e.ToString(), Text = e.ToResourceString() })
										.ToList();
								}
								@Html.DropDownListFor(m => m.UserSurveyStatus, userStatusItems)
							</div>

						</td>
						<td class="alignTop noBorder" width="33%">
														
							<div class="editor-label">
								@Html.LabelFor(m => m.OptInsSurveys)
							</div>
							<div class="editor-label">
								@Html.EditorFor(m => m.OptInsSurveys)
							</div>

							<div class="editor-label">
								@Html.LabelFor(m => m.OptInsNewsletters)
							</div>
							<div class="editor-label">
								@Html.EditorFor(m => m.OptInsNewsletters)
							</div>

						</td>
						<td class="alignTop noBorder" width="33%">

							<div class="editor-label">
								@Html.LabelFor(m => m.SignedUpAfter) 
							</div>
							<div class="editor-field">
								@Html.EditorFor(m => m.SignedUpAfter)
							</div>

							<div class="editor-label">
								@Html.LabelFor(m => m.SignedUpBefore)
							</div>
							<div class="editor-field">
								@Html.EditorFor(m => m.SignedUpBefore)
							</div>

						</td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
</form>
<button type="button" class="applyfilter-button">@Resources.Members.ApplyFilter</button>
<button type="button" class="resetfilter-button">@Resources.Members.ResetFilter</button>&nbsp;&nbsp;
<input type="checkbox" id="CollapseFiltersFields" checked /><label for="CollapseFiltersFields">@Resources.Members.ShrinkOnApplyFilter</label>
<div id="FilterSummary" class="hidden editor-label">
	<span class="ui-widget-header">@Resources.Members.FilterActive</span>
	<small><span id="FilterAsString"></span></small>
</div>

@using (Html.BeginForm()) {
	<nav>
		<button type="button" class="ExportAsCsv-button" value="@SubmitActionEnum.ExportAsCsv.ToString()">@Resources.Shared.ExportCSV</button>
		<button type="button" class="ExportAsExcel-button" value="@SubmitActionEnum.ExportAsExcel.ToString()">@Resources.Shared.ExportExcel</button>
		<button type="submit" name="submitAction" value="@SubmitActionEnum.Add.ToString()">@Resources.Shared.Add</button>
		<button type="submit" name="submitAction" value="@SubmitActionEnum.Edit.ToString()">@Resources.Shared.Edit</button>
	</nav>
	
	<div class="tableContainer">
		<table id="dataTable" class="dataTable">
			<thead>
				<tr>
					<th class="alignCenter">@Resources.DataTables.SelectAll</th>
					<th class="nowrap">@Resources.Members.Id</th>
					<th class="width33 nowrap">@Resources.Members.Email</th>
					<th class="width33 nowrap">@Resources.Members.GivenName</th>
					<th class="width33 nowrap">@Resources.Members.FamilyName</th>
					<th class="noWrap">@Resources.Members.Username</th>
					<th class="alignCenter noWrap">@Resources.Members.Gender</th>
					<th class="alignCenter noWrap">@Resources.Members.DateOfBirth</th>
					<th class="alignCenter noWrap">@Resources.Members.Age</th>
					<th class="alignCenter noWrap">@Resources.Members.Phone</th>
					<th class="alignCenter noWrap">@Resources.Members.Mobile</th>
					<th class="alignCenter noWrap">@Resources.Members.Street</th>
					<th class="alignCenter noWrap">@Resources.Members.Suburb</th>
					<th class="alignCenter noWrap">@Resources.Members.Postcode</th>
					<th class="alignCenter noWrap">@Resources.Members.Notes</th>
					<th class="alignCenter noWrap">@Resources.Members.DateLastModified</th>
				</tr>
			</thead>
			<tbody>
			</tbody>
		</table>
	</div>

	<nav>
		<button type="button" class="ExportAsCsv-button" value="@SubmitActionEnum.ExportAsCsv.ToString()">@Resources.Shared.ExportCSV</button>
		<button type="button" class="ExportAsExcel-button" value="@SubmitActionEnum.ExportAsExcel.ToString()">@Resources.Shared.ExportExcel</button>
		<button type="submit" name="submitAction" value="@SubmitActionEnum.Add.ToString()">@Resources.Shared.Add</button>
		<button type="submit" name="submitAction" value="@SubmitActionEnum.Edit.ToString()">@Resources.Shared.Edit</button>
	</nav>
}

@section Head {
	<style type="text/css">
		select.ui-datepicker-year { display:none } @* hide year - only when changeYear is enabled. *@
	</style>

	@Helpers.DateTimePickerScript()

	@Html.RenderScript("~/bundles/datatables")
	<script type="text/javascript">
		$(function() {
			$(':text').attr("autocomplete", "off");
			var form = $("form#FilterFields");
			var surveyId = form.find("#SurveyID");
			var userSurveyStatus = form.find("#UserSurveyStatus");
			var birthDateAfterMonthDay = form.find("#BirthDateAfterMonthDay");
			var birthDateBeforeMonthDay = form.find("#BirthDateBeforeMonthDay");
			var applyFilterButton = $(".applyfilter-button");
			var resetFilterButton = $(".resetfilter-button");
			var collapseFiltersFieldsCheckbox = $("#CollapseFiltersFields");
			var filterSummary = $("#FilterSummary");
			var filterAsString = $("#FilterAsString");
			
			var dateFormat = "@Html.Raw(HttpUtility.JavaScriptStringEncode(ViewBag.DateFormat))";
			var dayMonthFormat = "@Html.Raw(HttpUtility.JavaScriptStringEncode(ViewBag.DayMonthFormat))";

			var ajaxBusy = false;
			var mergeFilterData = undefined;
			var filterString = "";
			
			birthDateAfterMonthDay.attr("readonly", "readonly");
			birthDateAfterMonthDay.datepicker("option", "altField", "#BirthDateAfterMonthDayAlt" );
			birthDateAfterMonthDay.datepicker("option", "altFormat",  dateFormat);
			birthDateAfterMonthDay.datepicker("option", "dateFormat", dayMonthFormat );
			birthDateAfterMonthDay.datepicker("option", "changeMonth", true );
			birthDateAfterMonthDay.datepicker("option", "changeYear", true ); // used to make year invisible with css
			
			birthDateBeforeMonthDay.attr("readonly", "readonly");
			birthDateBeforeMonthDay.datepicker("option", "altField", "#BirthDateBeforeMonthDayAlt" );
			birthDateBeforeMonthDay.datepicker("option", "altFormat", dateFormat );
			birthDateBeforeMonthDay.datepicker("option", "dateFormat", dayMonthFormat );
			birthDateBeforeMonthDay.datepicker("option", "changeMonth", true );
			birthDateBeforeMonthDay.datepicker("option", "changeYear", true ); // used to make year invisible with css

			SetSurveyStatus();

			function SetSurveyStatus() {
				var val = surveyId.val();
				if (val) {
					userSurveyStatus.attr("disabled", false)
				} else {
					userSurveyStatus.attr("disabled", true)
					userSurveyStatus[0].selectedIndex = 0;
				}			
			}

			var baseMemberUrl = "@Html.Raw(Url.Action("List", new { channelId = Url.RequestContext.RouteData.Values["channelId"] }))";
			var dataTable = $("#dataTable").airtimeTable({
				AjaxSource: baseMemberUrl,
				Columns: [
					{ Property: "Id", Title: "@Html.Raw(HttpUtility.JavaScriptStringEncode(Resources.DataTables.SelectAll))", CssClass: "alignCenter", Selectable: true, Sortable: false },
					{ Property: "Id", Visible: false },
					{ Property: "PersonEmail", QueryOn: "Person.Email" },
					{ Property: "PersonGivenName", QueryOn: "Person.GivenName", DefaultSort: "asc" },
					{ Property: "PersonFamilyName", QueryOn: "Person.FamilyName", DefaultSort: "asc" },
					{ Property: "Username", Visible: false },
					{ Property: "PersonPersonalGenderName", QueryOn: "Person.Personal.Gender", CssClass: "alignCenter" },
					{ Property: "PersonPersonalDateOfBirth", QueryOn: "Person.Personal.DateOfBirth", CssClass: "alignRight", Visible: false },
					{ Property: "PersonPersonalAge", QueryOn: "Person.Personal.DateOfBirth", CssClass: "alignCenter" },
					{ Property: "PersonContactDaytimePhone", QueryOn: "Person.Contact.DaytimePhone", CssClass: "alignCenter" },
					{ Property: "PersonContactMobilePhone", QueryOn: "Person.Contact.MobilePhone", CssClass: "alignCenter", Visible: false },
					{ Property: "PersonContactAddress", QueryOn: "Person.Contact.Address", CssClass: "alignCenter", Visible: false },
					{ Property: "PersonContactSuburb", QueryOn: "Person.Contact.Suburb", CssClass: "alignCenter", Visible: false },
					{ Property: "PersonContactPostcode", QueryOn: "Person.Contact.Postcode", CssClass: "alignCenter" },
					{ Property: "Notes", Visible: false },
					{ Property: "DateModified", CssClass: "noWrap alignCenter" }
				],
				Language: @Html.Partial("_DataTablesLanguagePartial"),
				DoubleClick: function (e) {
					$.post(
						"@Html.Raw(Url.Action("GetActionUrl", "Shared"))", {
							action: "Edit",
							controller: "Members",
							channelId: @ViewContext.RouteData.Values["channelId"],
							userId: dataTable.GetRowData(this).Id
						},
						function(url) { window.location.href = url; }
					);
				},
				MergeAjaxFieldsCallback: function () {
					AjaxBusy(true);
					return GetFilterData();
				},
				PostAjaxCallback: function () {
					AjaxBusy(false);
				}
			});

			function AjaxBusy(busy) {
				ajaxBusy = busy;
				applyFilterButton.attr("disabled", ajaxBusy);
				if (ajaxBusy || filterString) {
					resetFilterButton.attr("disabled", ajaxBusy);
				}
			}

			function GetFilterData() {
				if (mergeFilterData) {
					return mergeFilterData;
				}
				return null;
			}

			$(".accordion").show();
			$(".accordion").accordion({
				heightStyle: "content",
				active: false,
				collapsible: true,
			});

			function FieldsAsObject(formFields) {
				var fieldsAsObject = {};
				formFields.each(function() {
					fieldsAsObject[this.name] = $(this).val();
				});
				return fieldsAsObject;
			}

			// Convert all filter fields with values into a filter string summary.
			// hmm this is quite complex.
			function FieldsAsString(formFields) {
				var fieldsAsString = "";
				formFields.each(function() {
					var field = $(this);
					var id = field.attr("id");
					var name = field.attr("name");
					// do not display Alt fields with dates of Month Day.
					if (!name.match(/Alt$/)) { 
						if (name) {
							var label = form.find("label[for='" + name + "']");
							var labelText = label.text();
						}
						var val = field.val();
						var isRadioField = field.is(":radio");
						var isSelectField = field.is("select");
						if (val && val.length > 0 && val != 'null' && val != 'All') {
							if (labelText && labelText.length > 0) {
								fieldsAsString += labelText + ": ";
							}
							var displayedValue = val;
							if (isRadioField) {
								// for radios need Label for Id not the val()
								var radioLabel = form.find("label[for='" + id + "']");
								displayedValue = radioLabel.text();
							}
							if (isSelectField) {
								displayedValue = field.find("option:selected").text();
							}
							fieldsAsString += displayedValue + "@Html.Raw(HttpUtility.JavaScriptStringEncode(CultureInfo.CurrentCulture.TextInfo.ListSeparator)) ";
						}
					}
				});
				return fieldsAsString.slice(0, -2);
			}
			
			function GetFormFields(form) {
				var formFields = form.find(":input:not(:button)");
				var radioCheckedFields = formFields.filter(":radio:checked");
				var notRadioFields = formFields.filter(":not(:radio)");
				var fields = $.merge(radioCheckedFields, notRadioFields);
				return fields;
			}

			function ResetFilterFields() {
				var formFields = form.find(":input:not(:button)");
				var selectFields = formFields.filter("select");
				selectFields.val(0);
				
				var radioFieldsAny = formFields.filter(":radio[id$='Any']");
				radioFieldsAny.attr("checked", true);

				var notRadioFields = formFields.filter(":not(:radio)");
				var notRadioSelectFields = notRadioFields.filter(":not(select)");
				notRadioSelectFields.val("");
			}
			
			function ValidateDateRange(afterId, beforeId, validateMessage, errorMap) {
				var afterDate = form.find("#" + afterId).datepicker("getDate")
				var beforeDate = form.find("#" + beforeId).datepicker("getDate");

				if (afterDate && beforeDate) {
					if (afterDate > beforeDate) {
						errorMap[afterId] = validateMessage;
					}
				}
				return errorMap;
			}
			
			function ValidateRange(fromId, toId, validateMessage, errorMap) {
				var fromVal = form.find("#" + fromId).val();
				var toVal = form.find("#" + toId).val();
				if (fromVal && toVal) {
					if (parseFloat(fromVal, 10) > parseFloat(toVal, 10)) {
						errorMap[fromId] = validateMessage;
					}
				}
				return errorMap;
			}

			function ValidateFilterRangeFields(errorMap) {
				errorMap = ValidateDateRange("SignedUpAfter", "SignedUpBefore",
					"@Html.Raw(HttpUtility.JavaScriptStringEncode(Resources.Members.SignUpAfterGreaterThanBefore))", errorMap);
				errorMap = ValidateDateRange("BirthDateAfter", "BirthDateBefore", 
					"@Html.Raw(HttpUtility.JavaScriptStringEncode(Resources.Members.SignUpAfterGreaterThanBefore))", errorMap);
				errorMap = ValidateRange("AgeFrom", "AgeTo",
					"@Html.Raw(HttpUtility.JavaScriptStringEncode(Resources.Members.SignUpAfterGreaterThanBefore))", errorMap);
				return errorMap;
			}

			function SetFilterSummary(str) {
				filterString = str;
				filterAsString.text(str);
				if (str && (str.length > 0)) {
					filterSummary.removeClass("hidden");
				} else {
					filterSummary.addClass("hidden");
				}
			}
			
			function ValidateMemberFilter(validFunc) {
				var validateRules = {
					rules: {
						AgeFrom: "number",
						AgeTo: "number"
					},
					messages: {
						AgeFrom: "@Html.Raw(HttpUtility.JavaScriptStringEncode(Resources.Members.MustBeANumber))",
						AgeTo: "@Html.Raw(HttpUtility.JavaScriptStringEncode(Resources.Members.MustBeANumber))"
					},
				};
				form.validate(validateRules);
				var errorMap = {};

				if (form.valid()) {
					var errorMap = ValidateFilterRangeFields(errorMap);
					if (!$.isEmptyObject(errorMap)) {
						form.validate().showErrors(errorMap);
					} else {
						if (validFunc) {
							validFunc();
						}
					}
				}
			}

			function DataTableRefresh() {
				var fields = GetFormFields(form);
				mergeFilterData = FieldsAsObject(fields);
				SetFilterSummary(FieldsAsString(fields));
				$("#dataTable").dataTable().fnDraw(true);
			}

			function ApplyFilterToDataTable() {
				ValidateMemberFilter(DataTableRefresh);
			}

			
			applyFilterButton.click(function() {
				ApplyFilterToDataTable();
				if (collapseFiltersFieldsCheckbox.is(":checked")) {
					$(".accordion").accordion("option", "active", false);
				}
			});

			function DisableFilter() {
				mergeFilterData = null;
				SetFilterSummary(null);
				$("#dataTable").dataTable().fnDraw(true);
			}

			resetFilterButton.click(function() {
				DisableFilter();
				ResetFilterFields();
				SetFilterSummary(null);
			});
			
			$("#SurveyID").change(function() {
				SetSurveyStatus();
			});
			
			function submitFilterForm(actionUrl) {
				$('form').get(0).setAttribute('action', actionUrl)
				form.submit();
			}

			$(".ExportAsCsv-button").click(function() {
				submitFilterForm(
					"@Html.Raw(Url.Action(SubmitActionEnum.ExportAsCsv.ToString(), "Members", new { channelId = Url.RequestContext.RouteData.Values["channelId"] }))")
			});
			
			$(".ExportAsExcel-button").click(function() {
				submitFilterForm(
					"@Html.Raw(Url.Action(SubmitActionEnum.ExportAsExcel.ToString(), "Members", new { channelId = Url.RequestContext.RouteData.Values["channelId"] }))")
			});
		});
	</script>
}
