﻿@inherits Airtime.Core.HelperPage

@using System.Globalization
@using System.Linq
@using System.Web.Mvc
@using System.Web.Mvc.Html
@using System.Web.Routing
@using Airtime.Core
@using Airtime.Core.Globalization
@using Airtime.Data.Content


@helper AudioPlayerScript() {
	Html.RenderPartial("_AudioPlayerScript");
}

@helper DateTimePickerScript() {
	Html.RenderAction("DateTimePickerScript", "Shared");
}

@helper Selected(CultureInfo culture1, CultureInfo culture2) {
	if (culture1.Equals(culture2)) {
		@:selected="selected"
	}
}

@helper Selected(bool value) {
	if (value) {
		@:selected="selected"
	}
}

@helper Checked(bool value) {
	if (value) {
		@:checked="checked"
	}
}

@helper Disabled(bool value) {
	if (value) {
		@:disabled="disabled"
	}
}

@helper CultureSelector(string action) {
	var url = new UrlHelper(Context.Request.RequestContext);
	<div class="culture-selection">
		<label for="cultureSelector">@Resources.Account.ChangeLanguage</label>
		<select id="cultureSelector" name="cultureSelector">
		@foreach (var culture in CultureSupport.SupportedCultures.Select(code => CultureInfo.GetCultureInfo(code)).OrderBy(c => c.NativeName)) {
			<option value="@url.Action(action, new { culture = culture.Name })" @Selected(culture, CultureInfo.CurrentUICulture)>@culture.NativeName</option>
		}
		</select>
	</div>
}

@helper WidgetEditor(Widget model, string widgetSelector, string language)
{
	var url = new UrlHelper(Context.Request.RequestContext);
	<div class="widgetEditor">
		<label>Heading</label>
		<input type="text" style="width:98%" id="widgetHeading1" class="widgetEditorHeading" value="@model.Heading" />
		<label>Content</label>
		<textarea class="widgetEditorContent">@model.Content</textarea>
	</div>
	@Html.RenderScript("~/bundles/widgeteditor")
	<script>
		$(function () {
			BindWidgetEditor(
				"@Html.Raw(widgetSelector)",
				"@Html.Raw(url.Action("SaveWidget", "Widgets", new { area = "Public", channelId = model.Channel.Id, widgetType = model.WidgetType }))",
				{
					EditWidget: "@Html.Raw(HttpUtility.JavaScriptStringEncode(Resources.Shared.Edit))",
					Cancel: "@Html.Raw(HttpUtility.JavaScriptStringEncode(Resources.Shared.Cancel))",
					Save: "@Html.Raw(HttpUtility.JavaScriptStringEncode(Resources.Shared.Save))",
					LanguageDirection: "@Html.LayoutDirection()",
					Language: "@Html.Raw(language)"
				}
			);
		});
	</script>
}
