﻿@using Airtime.Core
@using Airtime.Models.Reports

@model MusicReportModel

@{
	ViewBag.Title = "Airtime Surveys - " + Resources.Shared.Summary;
	ViewBag.Section = SectionEnum.ReportsMusic;
}


<h2>Members who @ViewBag.RatingLevel</h2>

<div class="ui-state-default" style="width:600px"><div>
	<table class="playlist-item">
		<tr>
			<td class="playlist-item-play" rowspan="2"><img src="@Url.Content("~/Content/themes/airtime/images/icons/icon-play-button.gif")" alt="Play" class="playButton" data-song-url="@ViewBag.Song.Filename" /></td>
			<td class="playlist-artist-label">Artist:</td>
			<td class="playlist-artist-value">@ViewBag.Song.Artist</td>
			<td class="playlist-library-label">Library:</td>
			<td class="playlist-library-value">@ViewBag.Song.Library</td>
		</tr>
		<tr>
			<td class="playlist-title-label">Title:</td>
			<td class="playlist-title-value">@ViewBag.Song.Title</td>
			<td class="playlist-length-label">Length:</td>
			<td class="playlist-length-value">@ViewBag.Song.Length</td>
		</tr>
	</table>
	<input type="hidden" name="SongsId" value="${Id}" /></div>
</div>
@Helpers.AudioPlayerScript()

<br />
<br />

<table id="dataTable" class="dataTable">
	<thead>
		<tr>
			<th class="width33 noWrap">@Resources.Members.Email</th>
			<th class="width33 noWrap">@Resources.Members.GivenName</th>
			<th class="width33 noWrap">@Resources.Members.FamilyName</th>
			<th class="alignCenter noWrap">@Resources.Members.Gender</th>
			<th class="alignCenter noWrap">@Resources.Members.Age</th>
			<th class="alignCenter noWrap">@Resources.Members.Phone</th>
			<th class="alignCenter noWrap">@Resources.Members.Mobile</th>
			<th class="alignCenter noWrap">@Resources.Members.Street</th>
			<th class="alignCenter noWrap">@Resources.Members.Suburb</th>
			<th class="alignCenter noWrap">@Resources.Members.Postcode</th>
			<th class="alignCenter noWrap">@Resources.Members.DateRegistered</th>
			<th class="alignCenter noWrap hidden"></th>
		</tr>
	</thead>
	<tbody>
		@foreach (Airtime.Data.Account.Membership user in ViewBag.Users) {
			<tr>
				<td>@user.Person.Email</td>
				<td>@user.Person.GivenName</td>
				<td>@user.Person.FamilyName</td>
				<td class="alignCenter">@(user.Person.Personal.Gender.HasValue ? user.Person.Personal.Gender.Value.ToResourceString() : null)</td>
				<td class="alignCenter">@user.Person.Personal.Age</td>
				<td class="alignCenter">@user.Person.Contact.DaytimePhone</td>
				<td class="alignCenter">@user.Person.Contact.MobilePhone</td>
				<td class="alignCenter">@user.Person.Contact.Address</td>
				<td class="alignCenter">@user.Person.Contact.Suburb</td>
				<td class="alignCenter">@user.Person.Contact.Postcode</td>
				<td class="alignCenter noWrap">@user.DateCreated.ToString("g")</td>
				<td class="alignCenter noWrap hidden">@user.DateCreated.Ticks</td>
			</tr>
		}
	</tbody>
</table>

@{
	var surveysArray = Model.Filter.SelectedSurveyIds;
	var FilterSurveys = String.Join(",", surveysArray);

	var choicesArray = Model.Filter.SelectedQuestionChoiceIds;
	var FilterQuestionChoices = String.Join(",", choicesArray);
}

@using (Html.BeginForm()) {
	<nav>
		<button type="submit" name="submitAction" value="@SubmitActionEnum.Back.ToString()" class="cancel-button cancel">@Resources.Shared.Back</button>
	</nav>
}


@section Head {
	@Html.RenderScript("~/bundles/datatables")
	<script type="text/javascript">
		$(function() {
			var dataTable = $("#dataTable").airtimeTable({
				ServerSide: false,
				Columns : [
					{ Title: "@Html.Raw(HttpUtility.JavaScriptStringEncode(Resources.Members.Email))" },
					{ Title: "@Html.Raw(HttpUtility.JavaScriptStringEncode(Resources.Members.GivenName))" },
					{ Title: "@Html.Raw(HttpUtility.JavaScriptStringEncode(Resources.Members.FamilyName))" },
					{ Title: "@Html.Raw(HttpUtility.JavaScriptStringEncode(Resources.Members.Gender))", QueryOn: "Person.Personal.Gender", CssClass:"alignCenter" },
					{ Title: "@Html.Raw(HttpUtility.JavaScriptStringEncode(Resources.Members.Age))", QueryOn: "Person.Personal.Age", CssClass:"alignCenter" },
					{ Title: "@Html.Raw(HttpUtility.JavaScriptStringEncode(Resources.Members.Phone))", QueryOn: "Person.Contact.DaytimePhone", CssClass:"alignCenter" },	
					{ Title: "@Html.Raw(HttpUtility.JavaScriptStringEncode(Resources.Members.Mobile))", QueryOn: "Person.Contact.MobilePhone", CssClass:"alignCenter", Visible:false },	
					{ Title: "@Html.Raw(HttpUtility.JavaScriptStringEncode(Resources.Members.Street))", QueryOn: "Person.Contact.Address", CssClass:"alignCenter", Visible:false },	
					{ Title: "@Html.Raw(HttpUtility.JavaScriptStringEncode(Resources.Members.Suburb))", QueryOn: "Person.Contact.Suburb", CssClass:"alignCenter", Visible:false },	
					{ Title: "@Html.Raw(HttpUtility.JavaScriptStringEncode(Resources.Members.Postcode))", QueryOn: "Person.Contact.Postcode", CssClass:"alignCenter" },	
					{ Title: "@Html.Raw(HttpUtility.JavaScriptStringEncode(Resources.Members.DateRegistered))", CssClass:"noWrap alignCenter", DataSort: "DateCreatedTicks" },
					{ Name: "DateCreatedTicks", Internal: true }
				],
				Language: @Html.Partial("_DataTablesLanguagePartial")
			});
		});
	</script>
}
