﻿@using Airtime.Models.Reports

@model MusicReportModel

@{
	ViewBag.Title = "Airtime Surveys - " + Resources.Shared.Summary;
	ViewBag.Section = SectionEnum.ReportsMusic;
}

<h2>Music Detail Report</h2>


@using (Html.BeginForm()) {
	@Html.EditorFor(m => m.Filter)

	<nav>
		<button type="submit" name="submitAction" value="@SubmitActionEnum.Back.ToString()" class="cancel-button cancel">@Resources.Shared.Back</button>
	</nav>
}
