﻿@using Airtime.Data.Client
@using Airtime.Data.Reporting
@using Airtime.Data.Surveying.Answers
@using Airtime.Models.Reports
@using Xtra.Common
@using System.Globalization

@model MusicReportModel

@{
	ViewBag.Title = "Airtime Surveys - " + Resources.Shared.Summary;
	ViewBag.Section = SectionEnum.ReportsMusic;
	Channel channel = ViewBag.Channel;
}

@section Head {
	@Html.RenderStyle("~/Content/themes/airtime/" + @Html.LayoutDirection() + "/TableTools.css")

	@Html.RenderScript("~/bundles/datatables")
	@Html.RenderScript("~/bundles/tabletools")

	<script type="text/javascript">
		$(function() {
		    jQuery.fn.dataTableExt.oSort['percent-asc']  = function(a,b) {
		        var x = $($.parseHTML(a)).text();
		        var y = $($.parseHTML(b)).text();
		        x = (x == "-") ? 0 : x.replace(/@CultureInfo.CurrentCulture.NumberFormat.PercentSymbol/, "");
				y = (y == "-") ? 0 : y.replace(/@CultureInfo.CurrentCulture.NumberFormat.PercentSymbol/, "");
				x = parseFloat(x);
				y = parseFloat(y);
				return ((x < y) ? -1 : ((x > y) ?  1 : 0));
			};

			jQuery.fn.dataTableExt.oSort['percent-desc'] = function(a,b) {
			    var x = $($.parseHTML(a)).text();
			    var y = $($.parseHTML(b)).text();
			    x = (x == "-") ? 0 : x.replace(/@CultureInfo.CurrentCulture.NumberFormat.PercentSymbol/, "");
				y = (y == "-") ? 0 : y.replace(/@CultureInfo.CurrentCulture.NumberFormat.PercentSymbol/, "");
				x = parseFloat(x);
				y = parseFloat(y);
				return ((x < y) ?  1 : ((x > y) ? -1 : 0));
			};

			var dataTable = $("#dataTable").airtimeTable({
				Language: @Html.Partial("_DataTablesLanguagePartial"),
				ServerSide: false,
				Columns: [
					{ Title: "@Html.Raw(HttpUtility.JavaScriptStringEncode(Resources.Media.Title))" },
					{ Title: "@Html.Raw(HttpUtility.JavaScriptStringEncode(Resources.Media.Artist))" },
					@if (Model.ReportType == ReportTypeEnum.XtraResearch) {
						<text>
						{ Title: "@Html.Raw(HttpUtility.JavaScriptStringEncode(Resources.Reports.Raw))" },
						{ Title: "@Html.Raw(HttpUtility.JavaScriptStringEncode(Resources.Reports.Potential))" },
						{ Title: "@Html.Raw(HttpUtility.JavaScriptStringEncode(Resources.Reports.Score))", DefaultSort: "desc" },
						{ Title: "@Html.Raw(HttpUtility.JavaScriptStringEncode(Resources.Reports.Familiar))", Type: "percent" },
						{ Title: "@Html.Raw(HttpUtility.JavaScriptStringEncode(Resources.Reports.LowBurn))", Type: "percent" },
						{ Title: "@Html.Raw(HttpUtility.JavaScriptStringEncode(Resources.Reports.HighBurn))", Type: "percent" },
						{ Title: "@Html.Raw(HttpUtility.JavaScriptStringEncode(Resources.Reports.Love))", Type: "percent" },
						{ Title: "@Html.Raw(HttpUtility.JavaScriptStringEncode(Resources.Reports.Like))", Type: "percent" },
						{ Title: "@Html.Raw(HttpUtility.JavaScriptStringEncode(Resources.Reports.Okay))", Type: "percent", Visible: false },
						{ Title: "@Html.Raw(HttpUtility.JavaScriptStringEncode(Resources.Reports.Dislike))", Type: "percent" },
						{ Title: "@Html.Raw(HttpUtility.JavaScriptStringEncode(Resources.Reports.Hate))", Type: "percent" }
						</text>
					} else if (Model.ReportType == ReportTypeEnum.TRN) {
						<text>
						{ Title: "@Html.Raw(HttpUtility.JavaScriptStringEncode(Resources.Reports.Raw))" },
						{ Title: "@Html.Raw(HttpUtility.JavaScriptStringEncode(Resources.Reports.Positive))", Type: "percent" },
						{ Title: "@Html.Raw(HttpUtility.JavaScriptStringEncode(Resources.Reports.Favourite))", Type: "percent" },
						{ Title: "@Html.Raw(HttpUtility.JavaScriptStringEncode(Resources.Reports.Negative))", Type: "percent" },
						{ Title: "@Html.Raw(HttpUtility.JavaScriptStringEncode(Resources.Reports.Potential))" },
						{ Title: "@Html.Raw(HttpUtility.JavaScriptStringEncode(Resources.Reports.Burn))", Type: "percent" },
						{ Title: "@Html.Raw(HttpUtility.JavaScriptStringEncode(Resources.Reports.Unfamiliar))", Type: "percent" },
						{ Title: "@Html.Raw(HttpUtility.JavaScriptStringEncode(Resources.Reports.Score))", DefaultSort: "desc" },
						{ Title: "@Html.Raw(HttpUtility.JavaScriptStringEncode(Resources.Reports.PotentialScore))" },
						{ Title: "@Html.Raw(HttpUtility.JavaScriptStringEncode("CART"))", Visible: false }
						</text>
					},
					{ Title: "@Html.Raw(HttpUtility.JavaScriptStringEncode(Resources.Media.Play))", Sortable: false }
				],
				Paginate: false,
				TableTools: {
					sSwfPath: '@Url.Content("~/Flash/copy_csv_xls.swf")',
					aButtons: [
						{
							sExtends: "copy",
							sButtonText: "@Html.Raw(HttpUtility.JavaScriptStringEncode(Resources.Shared.Copy))"
						},
						{
							sExtends: "csv",
							sButtonText: "@Html.Raw(HttpUtility.JavaScriptStringEncode(Resources.Shared.ExportCSV))",
							sFieldBoundary: "\"",
							sFileName: '@(channel.InternalName + " " + Resources.Reports.MusicReport + " " + TimeZoneInfo.ConvertTimeFromUtc(DateTime.UtcNow, channel.TimeZoneInfo).ToString("yyyy-MM-dd")).csv',
							mColumns: "all"
						},
						{
							sExtends: "xls",
							sButtonText: "@Html.Raw(HttpUtility.JavaScriptStringEncode(Resources.Shared.ExportExcel))",
							sFileName: '@(channel.InternalName + " " + Resources.Reports.MusicReport + " " + TimeZoneInfo.ConvertTimeFromUtc(DateTime.UtcNow, channel.TimeZoneInfo).ToString("yyyy-MM-dd")).Excel.csv',
							mColumns: "all"
						},
						{
							sExtends: "print",
							sButtonText: "@Html.Raw(HttpUtility.JavaScriptStringEncode(Resources.Shared.Print))"
						}
					]
				}
			});
		});
	</script>
}

<h2>@Resources.Reports.MusicReports</h2>

@using (Html.BeginForm()) {
	@Html.EditorFor(m => m.Filter)
}
	
@Helpers.AudioPlayerScript()

<fieldset>
	<legend>@Resources.Reports.SurveyResults</legend>

	@{
		var surveysArray = Model.Filter.SelectedSurveyIds;
		var FilterSurveys = String.Join(",", surveysArray);

		var choicesArray = Model.Filter.SelectedQuestionChoiceIds;
		var FilterQuestionChoices = String.Join(",", choicesArray);
	}
	<table id="dataTable" class="musicReport dataTable">
		<thead>
			<tr>
				<th class="width50">@Resources.Media.Title</th>
				<th class="width50">@Resources.Media.Artist</th>
					@if (Model.ReportType == ReportTypeEnum.XtraResearch) {
						<th class="alignCenter">@Resources.Reports.Raw</th>
						<th class="alignCenter">@Resources.Reports.Potential</th>
						<th class="alignCenter">@Resources.Reports.Score</th>
						<th class="alignCenter">@Resources.Reports.Familiar (@CultureInfo.CurrentCulture.NumberFormat.PercentSymbol)</th>
						<th class="alignCenter">@Resources.Reports.LowBurn (@CultureInfo.CurrentCulture.NumberFormat.PercentSymbol)</th>
						<th class="alignCenter">@Resources.Reports.HighBurn (@CultureInfo.CurrentCulture.NumberFormat.PercentSymbol)</th>
						<th class="alignCenter">@Resources.Reports.Love (@CultureInfo.CurrentCulture.NumberFormat.PercentSymbol)</th>
						<th class="alignCenter">@Resources.Reports.Like (@CultureInfo.CurrentCulture.NumberFormat.PercentSymbol)</th>
						<th class="alignCenter hidden">@Resources.Reports.Okay (@CultureInfo.CurrentCulture.NumberFormat.PercentSymbol)</th>
						<th class="alignCenter">@Resources.Reports.Dislike (@CultureInfo.CurrentCulture.NumberFormat.PercentSymbol)</th>
						<th class="alignCenter">@Resources.Reports.Hate (@CultureInfo.CurrentCulture.NumberFormat.PercentSymbol)</th>
					 } else if (Model.ReportType == ReportTypeEnum.TRN) {
						<th class="alignCenter">@Resources.Reports.Raw</th>
						<th class="alignCenter">@Resources.Reports.Positive (@CultureInfo.CurrentCulture.NumberFormat.PercentSymbol)</th>
						<th class="alignCenter">@Resources.Reports.Favourite (@CultureInfo.CurrentCulture.NumberFormat.PercentSymbol)</th>
						<th class="alignCenter">@Resources.Reports.Negative (@CultureInfo.CurrentCulture.NumberFormat.PercentSymbol)</th>
						<th class="alignCenter">@Resources.Reports.Potential</th>
						<th class="alignCenter">@Resources.Reports.Burn (@CultureInfo.CurrentCulture.NumberFormat.PercentSymbol)</th>
						<th class="alignCenter">@Resources.Reports.Unfamiliar (@CultureInfo.CurrentCulture.NumberFormat.PercentSymbol)</th>
						<th class="alignCenter">@Resources.Reports.Score</th>
						<th class="alignCenter">@Resources.Reports.PotentialScore</th>
						<th class="alignCenter">CART</th>
					}
					<th class="alignCenter unsortableColumn">@Resources.Media.Play</th>
			</tr>
		</thead>
		<tbody>
			@if (Model.SongReports.Count > 0) {
			   foreach (var songReport in Model.SongReports) {
					<tr>
						@*<td>@Html.ActionLink(songReport.Title, "Music", new { channelId = ViewContext.RouteData.Values["channelId"], songId = songReport.SongId, Model.Filter.Gender, Model.Filter.LowerAge, Model.Filter.UpperAge, FilterSurveys, FilterQuestionChoices })</td>*@
						<td>@songReport.Title</td>
						<td>@songReport.Artist</td>
						@if (Model.ReportType == ReportTypeEnum.XtraResearch) {
							<td class="alignCenter">@songReport.RawAverage</td>
							<td class="alignCenter">@String.Format("{0:F1}", songReport.PotentialScore)</td>
							<td class="alignCenter">@String.Format("{0:F1}", songReport.Score)</td>
							<td class="alignCenter">@String.Format("{0:P0}", songReport.FamiliarPercent)</td>
							<td class="alignCenter">@String.Format("{0:P0}", songReport.LowBurnPercent)</td>
							<td class="alignCenter">@String.Format("{0:P0}", songReport.HighBurnPercent)</td>
							<td class="alignCenter">@Html.ActionLink(String.Format("{0:P0}", songReport.LovePercent), "Members", new { channelId = ViewContext.RouteData.Values["channelId"], songId = songReport.SongId, RatingLevel = RatingLevelEnum.Love, Model.Filter.Gender, Model.Filter.LowerAge, Model.Filter.UpperAge, FilterSurveys, FilterQuestionChoices })</td>
							<td class="alignCenter">@Html.ActionLink(String.Format("{0:P0}", songReport.LikePercent), "Members", new { channelId = ViewContext.RouteData.Values["channelId"], songId = songReport.SongId, RatingLevel = RatingLevelEnum.Like, Model.Filter.Gender, Model.Filter.LowerAge, Model.Filter.UpperAge, FilterSurveys, FilterQuestionChoices })</td>
							<td class="alignCenter hidden">@Html.ActionLink(String.Format("{0:P0}", songReport.OkayPercent), "Members", new { channelId = ViewContext.RouteData.Values["channelId"], songId = songReport.SongId, RatingLevel = RatingLevelEnum.Okay, Model.Filter.Gender, Model.Filter.LowerAge, Model.Filter.UpperAge, FilterSurveys, FilterQuestionChoices })</td>
							<td class="alignCenter">@Html.ActionLink(String.Format("{0:P0}", songReport.DislikePercent), "Members", new { channelId = ViewContext.RouteData.Values["channelId"], songId = songReport.SongId, RatingLevel = RatingLevelEnum.Dislike, Model.Filter.Gender, Model.Filter.LowerAge, Model.Filter.UpperAge, FilterSurveys, FilterQuestionChoices })</td>
							<td class="alignCenter">@Html.ActionLink(String.Format("{0:P0}", songReport.HatePercent), "Members", new { channelId = ViewContext.RouteData.Values["channelId"], songId = songReport.SongId, RatingLevel = RatingLevelEnum.Hate, Model.Filter.Gender, Model.Filter.LowerAge, Model.Filter.UpperAge, FilterSurveys, FilterQuestionChoices })</td>
						} else if (Model.ReportType == ReportTypeEnum.TRN) {
							<td class="alignCenter">@songReport.RawAverage</td>
							<td class="alignCenter">@String.Format("{0:P0}", songReport.PositivePercent)</td>
							<td class="alignCenter">@String.Format("{0:P0}", songReport.LovePercent)</td>
							<td class="alignCenter">@String.Format("{0:P0}", songReport.NegativePercent)</td>
							<td class="alignCenter">@String.Format("{0:F1}", songReport.Potential_TRN)</td>
							<td class="alignCenter">@String.Format("{0:P0}", songReport.HighBurnPercent)</td>
							<td class="alignCenter">@String.Format("{0:P0}", songReport.UnfamiliarPercent)</td>
							<td class="alignCenter">@String.Format("{0:F1}", songReport.Score)</td>
							<td class="alignCenter">@String.Format("{0:F1}", songReport.PotentialScore)</td>
							<td class="alignCenter">@Model.SongAttributes.TryGetOrDefault(songReport.SongId)</td>
						}
						<td class="alignCenter"><img src="@Url.Content("~/Content/themes/airtime/images/icons/icon-play-button.gif")" alt="Play" class="playButton" data-song-url="@songReport.Filename" /></td>
					</tr>
				}
			}
		</tbody>
	</table>           

	<br />
	<div class="alignCenter">
		<b>@Resources.Reports.TotalSampleSize: @Model.SampleSize</b>
	</div>

</fieldset>
