﻿@using System.Globalization
@using Airtime.Core
@using Airtime.Data.Client
@using Airtime.Data.Account
@using Airtime.Data.Reporting
@using Airtime.Data.Surveying.Questions
@using Airtime.Models.Reports

@model PerceptualReportModel

@{
	ViewBag.Title = "Airtime Surveys - " + Resources.Shared.Perceptuals;
	ViewBag.Section = SectionEnum.ReportsPerceptuals;
	Channel channel = ViewBag.Channel;
}

@section Head {
	<link href="@Url.Content("~/Content/themes/airtime/" + @Html.LayoutDirection() + "/TableTools.css")" rel="stylesheet" type="text/css" />
	<style>
		.perceptual-chart {
			width: 90%;
			height: 450px;
			margin: auto;
			background-color: inherit;
		}
	</style>

	@Html.RenderScript("~/bundles/datatables")
	@Html.RenderScript("~/bundles/tabletools")
	@Html.RenderScript("~/bundles/highcharts")
	<script type="text/javascript">
		$(function() {
			var dataTables = $("table.dataTable");
			dataTables.each(function() {
				$(this).airtimeTable({
					ServerSide: false,
					Columns: [
						{ Title: "@Html.Raw(HttpUtility.JavaScriptStringEncode(Resources.Members.GivenName))" },
						{ Title: "@Html.Raw(HttpUtility.JavaScriptStringEncode(Resources.Members.FamilyName))" },
						{ Title: "@Html.Raw(HttpUtility.JavaScriptStringEncode(Resources.Members.Email))" },
						{ Title: "@Html.Raw(HttpUtility.JavaScriptStringEncode(Resources.Members.Gender))", CssClass: "alignCenter" },
						{ Title: "@Html.Raw(HttpUtility.JavaScriptStringEncode(Resources.Members.Age))", CssClass: "alignCenter" },
						{ Title: null }
					],
					Language: @Html.Partial("_DataTablesLanguagePartial"),
					DisplayLength: 25,
					LengthMenu: [[5, 15, 25, 50, 100, -1], [5, 15, 25, 50, 100, "@Resources.Shared.All"]],
					StateSave: false,
					TableTools: {
						sSwfPath: '@Url.Content("~/Flash/copy_csv_xls.swf")',
						aButtons: [
							{
								sExtends: "copy",
								sButtonText: "@Html.Raw(HttpUtility.JavaScriptStringEncode(Resources.Shared.Copy))"
							},
							{
								sExtends: "csv",
								sButtonText: '@Html.Raw(HttpUtility.JavaScriptStringEncode(Resources.Shared.ExportCSV))',
								sFieldBoundary: "\"",
								sFileName: '@(channel.InternalName + " " + Resources.Reports.PerceptualReport + " " + TimeZoneInfo.ConvertTimeFromUtc(DateTime.UtcNow, channel.TimeZoneInfo).ToString("yyyy-MM-dd")).csv',
								mColumns: "all"
							},
							{
								sExtends: "xls",
								sButtonText: "@Html.Raw(HttpUtility.JavaScriptStringEncode(Resources.Shared.ExportExcel))",
								sFileName: '@(channel.InternalName + " " + Resources.Reports.PerceptualReport + " " + TimeZoneInfo.ConvertTimeFromUtc(DateTime.UtcNow, channel.TimeZoneInfo).ToString("yyyy-MM-dd")).Excel.csv',
								mColumns: "all"
							},
							{
								sExtends: "print",
								sButtonText: "@Html.Raw(HttpUtility.JavaScriptStringEncode(Resources.Shared.Print))"
							}
						]
					}
				});
			});
		});
		$(function() {
			var charts = $(".perceptual-chart").each(function() {
				var $this = $(this);
				var chart = new Highcharts.Chart({
					chart: { renderTo: this.id, type: "bar" },
					xAxis: { categories: $this.data("chartlabels"), title: { text:"@Html.Raw(HttpUtility.JavaScriptStringEncode(Resources.Reports.Responses))" } },
					yAxis: { min:0, max:100, title: { text:"@Html.Raw(HttpUtility.JavaScriptStringEncode(Resources.Reports.MembersPercent))" } },
					series: [{
						name: $this.data("charttitle"),
						data: $this.data("chartvalues")
					}],
					credits: { enabled: false },
					title: { text: null },
					subtitle: { text: null },
					legend: { enabled: false },
					tooltip: { formatter: function () {
						return '<b>' + this.x + '</b><br/>' + "@Html.Raw(HttpUtility.JavaScriptStringEncode(Resources.Reports.MembersPercentTooltip))".format(this.point.name, this.y);
					} },
					plotOptions: { bar: { dataLabels: {
						enabled: true,
						formatter: function () { return this.y + "%"; }
					} } }/*,
					exporting: { buttons: { exportButton: { enabled: true } } }*/
				});
			});
		});
	</script>
}


<h2>@Resources.Reports.PerceptualReports</h2>

@using (Html.BeginForm()) {
	@Html.EditorFor(m => m.Filter)
}

<div id="reportContainer">
	@foreach (var question in Model.Questions) {
	if (question.QuestionType == QuestionTypeEnum.TEXT) {
		<div id="@("question" + question.Id)" class="perceptual-table">
			<h3>@String.Format("{0} - {1}. {2}", question.Survey.Name, question.Position - 3, question.Name)</h3>
			<div>
				@Html.Raw(question.Text)
			</div>
			<table class="dataTable" title="@String.Format("{0} - {1}. {2}", question.Survey.Name, question.Position - 3, question.Name)">
				<thead>
					<tr>
						<th class="noWrap">@Resources.Members.GivenName</th>
						<th class="noWrap">@Resources.Members.FamilyName</th>
						<th>@Resources.Members.Email</th>
						<th>@Resources.Members.Gender</th>
						<th>@Resources.Members.Age</th>
						<th>@question.Name</th>
					</tr>
				</thead>
				<tbody>
					@if(Model.OpenEndedReports.ContainsKey(question)) {
						foreach (var report in Model.OpenEndedReports[question]) {
							<tr>
								<td>@report.GivenName</td>
								<td>@report.FamilyName</td>
								<td>@report.Email</td>
								<td>@(report.Gender.ConvertToOrDefault<PersonGenderEnum?>().ToResourceString())</td>
								<td>@report.Age</td>
								<td>@report.Answer</td>
							</tr>
						}
					}
				</tbody>
			</table>
		</div>

	} else {
		var chartTitle = String.Format("{0} - {1}. {2}", question.Survey.Name, question.Position - 3, question.Name);
		var reports = Model.MultiChoiceReports[question];
		var chartLabels = String.Join(",", reports.Select(r => "\"" + r.ResponseName.Replace("\"", "") + "\""));
		var chartValues = String.Join(",", reports.Select(r => String.Format("{{\"name\":\"{0}\",\"y\":{1}}}", r.SelectedTotal, Math.Round(r.SelectedPercent * 100, 1))));

		<h3>@chartTitle</h3>
		<div>
			@Html.Raw(question.Text)
		</div>

		<div id="@("question" + question.Id)" class="perceptual-chart" data-chartlabels='[@chartLabels]' data-chartvalues="[@chartValues]" data-charttitle="@chartTitle">
		</div>
	}

	<br />
	<br />
}
</div>
