﻿@using Airtime.Data.Reporting
@model Airtime.Models.Reports.SummaryReportModel

@{
	ViewBag.Title = "Airtime Surveys - " + Resources.Shared.Summary;
	ViewBag.Section = SectionEnum.Reports;
}

@section Head {
	<script type="text/javascript">
		$(function () {
			var busyStrings = ['.', '..', '...', '....', '...', '..'];
			var busyInterval;
			var busyIndex = false;
			var busyElem;

			function animateBusy() {
				busyElem.innerHTML = busyStrings[busyIndex % busyStrings.length];
				busyIndex++;
			}

			function startBusy(elem) {
				busyIndex = 0;
				busyElem = elem;
				busyInterval = window.setInterval(animateBusy, 300);
			}

			function stopBusy() {
				if (busyInterval) {
					window.clearInterval(busyInterval);
					busyElem.innerHTML = "";
				}
			}

			var refreshing = false;
			$("a#refresh").click(function () {
				if (!refreshing) {
					var elem = $(this);
					var displayElement = elem.find("span:last");
					displayElement.html("@Html.Raw(HttpUtility.JavaScriptStringEncode(Resources.Reports.PleaseWaitReload))");
					startBusy(elem.find("span:first")[0]);
					refreshing = true;
					$.ajax({
						type: "GET",
						url: '@Html.Raw(Url.Action("UpdateReportCache", "Jobs", new { channelId = ViewContext.RouteData.Values["channelId"] }))',
						success: function () {
							stopBusy();
							window.location.href = window.location.href;
						},
						error: function () {
							stopBusy();
							displayElement.html("<span class=\"error\">@Html.Raw(HttpUtility.JavaScriptStringEncode(Resources.Reports.StatisticUpdateFailed))</span>");
						}
					});
				}
				return false;
			});
		});
	</script>
}
			
<h2>@Resources.Shared.Summary</h2>

<h3>@Resources.Reports.TotalMembers: @Model.TotalMembers</h3>

<fieldset class="clear">
	<legend>@Resources.Reports.Demographics</legend>
	<table class="dataTable">
		<thead>
			<tr>
				<th rowspan="2" class="ui-state-default alignCenter">
				</th>
				<th colspan="2" class="ui-state-default alignCenter">
					@Resources.Reports.Men
				</th>
				<th colspan="2" class="ui-state-default alignCenter">
					@Resources.Reports.Women
				</th>
				<th colspan="2" class="ui-state-default alignCenter">
					@Resources.Reports.Total
				</th>
			</tr>
			<tr>
				<th class="ui-state-default alignCenter">
					@Resources.Reports.Percent
				</th>
				<th class="ui-state-default alignCenter">
					@Resources.Reports.Raw
				</th>
				<th class="ui-state-default alignCenter">
					@Resources.Reports.Percent
				</th>
				<th class="ui-state-default alignCenter">
					@Resources.Reports.Raw
				</th>
				<th class="ui-state-default alignCenter">
					@Resources.Reports.Percent
				</th>
				<th class="ui-state-default alignCenter">
					@Resources.Reports.Raw
				</th>
			</tr>
		</thead>
		<tbody>
		@if (Model.HaveAgeGenderTotals) {
			foreach (var ageGenderTotal in Model.AgeGenderTotals) {
				<tr>
					<th class="ui-state-default">
						@ageGenderTotal.AgeRange:
					</th>
					<td class="alignCenter">@String.Format("{0:P0}", ageGenderTotal.PercentMale)
					</td>
					<td class="alignCenter">@ageGenderTotal.SubTotalMale
					</td>
					<td class="alignCenter">@String.Format("{0:P0}", ageGenderTotal.PercentFemale)
					</td>
					<td class="alignCenter">@ageGenderTotal.SubTotalFemale
					</td>
					<td class="alignCenter">@String.Format("{0:P0}", ageGenderTotal.Percent)
					</td>
					<td class="alignCenter">@ageGenderTotal.SubTotal
					</td>
				</tr>
			}
		} else {
	  		<tr>
				<th class="ui-state-default">
				</th>
				<td class="alignCenter">@Resources.Shared.NotAvailable
				</td>
				<td class="alignCenter">@Resources.Shared.NotAvailable
				</td>
				<td class="alignCenter">@Resources.Shared.NotAvailable
				</td>
				<td class="alignCenter">@Resources.Shared.NotAvailable
				</td>
				<td class="alignCenter">@Resources.Shared.NotAvailable
				</td>
				<td class="alignCenter">@Resources.Shared.NotAvailable
				</td>
			</tr>
		}
		</tbody>
	</table>
</fieldset>
<table style="border: none; width: 100%">
	<tr>
		<td class="alignTop noBorder" width="33%">
			<fieldset>
				<legend>@Resources.Reports.LatestSurvey</legend>
				<table class="dataTable">
					<tbody>
						<tr>
							<th class="ui-state-default">
								@Resources.Reports.Name
							</th>
							<td>
								@Model.LatestSurveyName
							</td>
						</tr>
						<tr>
							<th class="ui-state-default">
								@Resources.Reports.Start
							</th>
							<td>
								@Model.LatestSurveyLocalStartDate
							</td>
						</tr>
						<tr>
							<th class="ui-state-default">
								@Resources.Reports.End
							</th>
							<td>
								@Model.LatestSurveyLocalEndDate
							</td>
						</tr>
						<tr>
							<th class="ui-state-default">
								@Resources.Reports.InvitationsSent
							</th>
							<td>
								@Model.LatestSurveyInvited
							</td>
						</tr>
						<tr>
							<th class="ui-state-default">
								@Resources.Reports.CompletedSurveys
							</th>
							<td>
								@Model.LatestSurveyCompleted
							</td>
						</tr>
						<tr>
							<th class="ui-state-default">
								@Resources.Reports.CompletedChannelDemographic<br />
								@Model.ChannelTargetLabel
							</th>
							<td>
								@Html.Raw(Model.ChannelTargetMessage)
							</td>
						</tr>
						<tr>
							<th class="ui-state-default">
								@Resources.Reports.ResponseRate
							</th>
							<td>
								@Model.LatestSurveyResponseRate
							</td>
						</tr>
						<tr>
							<th class="ui-state-default">
								@Resources.Reports.SurveyStatus
							</th>
							<td>
								@Model.LatestSurveyStatus
							</td>
						</tr>
					</tbody>
				</table>
			</fieldset>
		</td>
		<td class="alignTop noBorder" width="33%">
			<fieldset>
				<legend>@Resources.Reports.NewMembers</legend>
				<table class="dataTable">
					<thead>
						<tr>
							<th class="ui-state-default">
							</th>
							<th class="ui-state-default alignCenter">
								@Resources.Reports.PercentTotal
							</th>
							<th class="ui-state-default alignCenter">
								@Resources.Reports.RawTotal
							</th>
							<th class="ui-state-default alignCenter">
								@Resources.Reports.PercentTarget
							</th>
							<th class="ui-state-default alignCenter">
								@Resources.Reports.RawTarget
							</th>
						</tr>
					</thead>
					<tbody>
					@if (Model.HaveNewMemberRates) {
						foreach (var grouping in Model.NewMemberRates) {
							var newMemberRate = grouping.FirstOrDefault(x => x.Key == CacheReportEnum.NewMembers && x.Value != null);
							var newMemberRateInTarget = grouping.FirstOrDefault(x => x.Key == CacheReportEnum.NewMembersInTarget && x.Value != null);
							<tr>
								<th class="ui-state-default">
									@grouping.Key
								</th>
								<td class="alignCenter">
									@String.Format("{0:P0}", !newMemberRate.IsDefault() ? newMemberRate.Value.PercentStat : (double?)null)
								</td>
								<td class="alignCenter">
									@(!newMemberRate.IsDefault() ? newMemberRate.Value.Count : (int?)null)
								</td>
								<td class="alignCenter">
									@String.Format("{0:P0}", !newMemberRateInTarget.IsDefault() ? newMemberRateInTarget.Value.PercentStat : (double?)null)
								</td>
								<td class="alignCenter">
									@(!newMemberRateInTarget.IsDefault() ? newMemberRateInTarget.Value.Count : (int?)null)
								</td>
							</tr>
						}
					} else {
		 				<tr>
							<th class="ui-state-default">
							</th>
							<td class="alignCenter">
								@Resources.Shared.NotAvailable
							</td>
							<td class="alignCenter">
								@Resources.Shared.NotAvailable
							</td>
							<td class="alignCenter">
								@Resources.Shared.NotAvailable
							</td>
							<td class="alignCenter">
								@Resources.Shared.NotAvailable
							</td>
						</tr>
					} 
					</tbody>
				</table>
			</fieldset>
		</td>
		<td class="alignTop noBorder" width="33%">
			<fieldset>
				<legend>@Resources.Reports.ParticipationLevels</legend>
				<table class="dataTable">
					<thead>
						<tr>
							<th class="ui-state-default">
							</th>
							<th class="ui-state-default alignCenter">
								@Resources.Reports.Percent
							</th>
							<th class="ui-state-default alignCenter">
								@Resources.Reports.Raw
							</th>
						</tr>
					</thead>
					<tbody>
					@if (Model.HaveParticipationRates) {
						foreach (var rate in Model.ParticipationRates) {
							<tr>
								<th class="ui-state-default">
									@rate.Label
								</th>
								<td class="alignCenter">
									@String.Format("{0:P0}", rate.PercentStat)
								</td>
								<td class="alignCenter">
									@rate.Count
								</td>
							</tr>
						}
					} else {
						<tr>
							<th class="ui-state-default">
							</th>
							<td class="alignCenter">
								@Resources.Shared.NotAvailable
							</td>
							<td class="alignCenter">
								@Resources.Shared.NotAvailable
							</td>
						</tr>
					}
					</tbody>
				</table>
			</fieldset>
		</td>
	</tr>
</table>
<table style="border: none; width: 100%">
	<tr>
		<td class="alignTop noBorder" width="33%">
			<fieldset>
				<legend>@Resources.Reports.FavouriteStation</legend>
				<table class="dataTable">
					<thead>
						<tr>
							<th class="ui-state-default alignCenter">
							</th>
							<th class="ui-state-default alignCenter">
								@Resources.Reports.Percent
							</th>
							<th class="ui-state-default alignCenter">
								@Resources.Reports.Raw
							</th>
						</tr>
					</thead>
					<tbody>
					@if (Model.HaveStationMostRates) {
						foreach (var item in Model.StationMostRates) {
							<tr>
								<th class="ui-state-default">@item.Label
								</th>
									
								<td class="alignCenter">@String.Format("{0:P0}", item.PercentStat)
								</td>
								<td class="alignCenter">@item.Count
								</td>
							</tr>
						}
					} else {
		 				<tr>
							<th class="ui-state-default">
							</th>
							<td class="alignCenter">
								@Resources.Shared.NotAvailable
							</td>
							<td class="alignCenter">
								@Resources.Shared.NotAvailable
							</td>
						</tr>
					}
					</tbody>
				</table>
			</fieldset>
		</td>
		<td class="alignTop noBorder" width="33%">
			<fieldset>
				<legend>@Resources.Reports.CumedStations</legend>
				<table class="dataTable">
					<thead>
						<tr>
							<th class="ui-state-default alignCenter">
							</th>
							<th class="ui-state-default alignCenter">
								@Resources.Reports.Percent
							</th>
							<th class="ui-state-default alignCenter">
								@Resources.Reports.Raw
							</th>
						</tr>
					</thead>
					<tbody>
					@if (Model.HaveStationsListenRates) {
						foreach (var item in Model.StationsListenRates) {
							<tr>
								<th class="ui-state-default">@item.Label
								</th>
								<td class="alignCenter">@String.Format("{0:P0}", item.PercentStat)
								</td>
								<td class="alignCenter">@item.Count
								</td>
							</tr>
						}
					} else {
		 		 		<tr>
							<th class="ui-state-default">
							</th>
							<td class="alignCenter">
								@Resources.Shared.NotAvailable
							</td>
							<td class="alignCenter">
								@Resources.Shared.NotAvailable
							</td>
						</tr>
					}
					</tbody>
				</table>
			</fieldset>
		</td>
		<td class="alignTop noBorder" width="33%">
			<fieldset>
				<legend>@Resources.Reports.TimeSpentListening</legend>
				<table class="dataTable">
					<thead>
						<tr>
							<th class="ui-state-default alignCenter">
							</th>
							<th class="ui-state-default alignCenter">
								@Resources.Reports.Percent
							</th>
							<th class="ui-state-default alignCenter">
								@Resources.Reports.Raw
							</th>
						</tr>
					</thead>
					<tbody>
					@if (Model.HaveTimeSpentListeningRates) {
						foreach (var item in Model.TimeSpentListeningRates) {
							<tr>
								<th class="ui-state-default">@item.Label
								</th>
								<td class="alignCenter">@String.Format("{0:P0}", item.PercentStat)
								</td>
								<td class="alignCenter">@item.Count
								</td>
							</tr>
						}
					} else {
		 				<tr>
							<th class="ui-state-default">
							</th>
							<td class="alignCenter">
								@Resources.Shared.NotAvailable
							</td>
							<td class="alignCenter">
								@Resources.Shared.NotAvailable
							</td>
						</tr>
					} 
					</tbody>
				</table>
			</fieldset>
		</td>
	</tr>
</table>

            
@if (Model.TimeIt != null) { // for developers, no localisation.
	<div style="width:300px;">
		<fieldset class="clear">
			<legend>Developer Code Statistics</legend>
			<table class="dataTable">
				<thead>
					<tr>
						<th class="ui-state-default alignLeft">
							Label
						</th>
						<th class="ui-state-default alignRight">
							msecs
						</th>
					</tr>
				</thead>
				<tbody>
					@foreach (var labelElapsed in Model.TimeIt.ElapsedList) {
						<tr>
							<td class="alignLeft">@labelElapsed.Label
							</td>
							<td class="alignRight">@labelElapsed.ElapsedMsec
							</td>
						</tr>
					}
					<tr>
						<td class="alignLeft">Total
						</td>
						<td class="alignRight">@Model.TimeIt.TotalMsec
						</td>
					</tr>
				</tbody>
			</table>
		</fieldset>
	</div>
}

@if (Model.ShowRefresh) {
	<div class="ui-state-default alignCenter">
		<small>
			<a id="refresh" href="#" title="@Resources.Reports.RefreshStatistics">
				@Model.CacheLocalDate
				<span style="display: inline-block; width:30px;"></span>
				<span></span>
			</a>
		</small>
	</div>	
}