﻿@{
	ViewBag.Title = "Cache Manager";
}

@section Head {
	@Html.RenderScript("~/bundles/highcharts")
	@Html.RenderScript("~/Scripts/highcharts/themes/grid.js")

	<script type="text/javascript">
		$(function() {
			var chart = new Highcharts.Chart({
				chart: {
						renderTo: "cacheGraph",
						defaultSeriesType: "areaspline",
						marginRight: 20,
						events: {
						load: function () {
							var cacheStats = $("#cacheStats");
							var series = this.series[0];
							setInterval(function() {
								cacheStats.loadAction("@Html.Raw(Url.Action("Stats", "CacheMgr"))", {
									success: function () {
										var x = (new Date()).getTime();
										var y = parseInt($("#ProcessMemory").val(), 10);
										var shift = series.data.length > 300;
										series.addPoint([x, y], true, shift);
									},
									error: function () {
										var x = (new Date()).getTime();
										var y = null;
										var shift = series.data.length > 300;
										series.addPoint([x, y], true, shift);
									},
									complete: function () {
										console.log("complete");
									}
								});
							}, 1000);
						}
						}
				},
				title: { text: "Memory Stats" },
				legend: { enabled: true },
				exporting: { enabled: false },
				xAxis: {
						type:"datetime",
						tickPixelInterval:100,
						maxZoom:20*1000
				},
				yAxis: {
					title: { text:"Size" },
					plotLines: [{ value:0, width:1, color:"#808080" }]
				},
				tooltip: { formatter: function () {
					return '<b>'+ this.series.name +'</b><br/>'+
						Highcharts.dateFormat('%Y-%m-%d %H:%M:%S', this.x) +'<br/>'+ 
						Highcharts.numberFormat(this.y, 2);
				} },
				plotOptions: {
					areaspline: {
						lineWidth: 2,
						marker: {
							enabled: false,
							states: {
								hover: { 
									enabled: true,
									symbol: "circle",
									radius: 4,
									lineWidth: 2
								}
							}
						}
					}
				},
				series: [{
					name: "Process Private Memory",
					data: []
				}]
			});
		});
	</script>
}

<h2>Cache Manager</h2>

<div>
	<div id="cacheStats" class="ajax-panel">
		@Html.Action("Stats")
	</div>
</div>

<br />
<div id="cacheGraph">
	
</div>

@Html.ActionLink("Clear Cache", "Clear")
