﻿@using Airtime.Data.Account
@inherits AirtimeViewPage
@{
	var channelId = ViewContext.RouteData.Values["channelId"].ConvertToOrDefault<int?>();
	var currentChannel = channelId.HasValue ? ChannelRepository[channelId.Value] : null;
}
@{
	if (currentChannel != null) {
		ViewBag.Title = currentChannel.Brand != null
			? currentChannel.Brand.Name
			: currentChannel.Name;
	} else {
		ViewBag.Title = "Airtime Surveys";
	}
}

<div class="container-fluid">
	<div class="hero-unit">
		<button type="button" class="close" data-dismiss="alert">&times;</button>
		@{ Html.RenderAction("News", "Widgets", new { channelId }); }
	</div>

	<div class="widget-list">
		<div class="row-fluid">
			<div class="span4 widget-container">
				@{ Html.RenderAction("SongsYouVotedOn", "Widgets", new { channelId });}
			</div>
			<div class="span4 widget-container">
				@{ Html.RenderAction("YourTopSongs", "Widgets", new { channelId }); }
			</div>
			<div class="span4 widget-container">
				@{ Html.RenderAction("OthersTopSongs", "Widgets", new { channelId }); }
			</div>
		</div>
		<div class="row-fluid">
			<div class="span4 widget-container">
				@{ Html.RenderAction("MessageTheBoss", "Widgets", new { channelId });}
			</div>
			<div class="span4 widget-container">
				@{ Html.RenderAction("ReferFriends", "Widgets", new { channelId });}
			</div>
			<div class="span4 widget-container">
				@{ Html.RenderAction("Custom", "Widgets", new { channelId });}
			</div>
		</div>
		<div class="row-fluid">
			<div class="span4 widget-container">
				@{ Html.RenderAction("ActiveSurveys", "Widgets", new { channelId });}
			</div>
			<div class="span4 widget-container">
				@{ Html.RenderAction("ExternalSurveys", "Widgets", new { channelId });}
			</div>
			<div class="span4 widget-container">
				@{ Html.RenderAction("SocialMedia", "Widgets", new { channelId });}
			</div>
		</div>
	</div>

	@Helpers.AudioPlayerScript()
</div>

@section Head {
	@Html.RenderStyle("~/Content/themes/redmond/css")
}

@section scripts {
	@Html.RenderScript("~/bundles/widgets")
	@Html.RenderScript("~/bundles/jqueryui")

	@if (SecurityService.ValidateChannelPermissions(currentChannel, PermissionEnum.EditLandingPages)) {
		@Html.RenderScript("~/Scripts/ckeditor/ckeditor.js")
		@Html.RenderScript("~/Scripts/ckeditor/adapters/jquery.js")
	}
}
