﻿@inherits AirtimeViewPage<Airtime.Models.Account.LogOnModel>

@{
	Layout = "~/Areas/Public/Views/Shared/_EmptyLayout.cshtml";
	ViewBag.Title = "Log On";

	var channelId = ViewContext.RouteData.Values["channelId"].ConvertToOrDefault<int?>();
	var currentChannel = channelId.HasValue ? ChannelRepository[channelId.Value] : null;
	var currentPerson = SecurityService.CurrentPerson;
}

<div class="container">
	<form class="form-signin" method="post">
		<div class="logo text-center"></div>
		<hr />

		@Html.ValidationSummary(true, Resources.Account.LoginUnsuccessful, new Dictionary<string, object>{ {"class", "alert alert-error"} })

		<h2 class="form-signin-heading">@Resources.Account.PleaseSignIn</h2>
		
		@Html.TextBoxFor(m => m.Email, new { @type="email", @class="input-block-level", placeholder = Resources.Account.EmailAddress })
		@Html.ValidationMessageFor(m => m.Email)

		@Html.PasswordFor(m => m.Password, new { @class="input-block-level", placeholder = Resources.Account.Password })
		@Html.ValidationMessageFor(m => m.Password)
		
		<label class="checkbox">
			@Html.CheckBoxFor(m => m.RememberMe)
			@Resources.Account.RememberMe
		</label>

		<button class="btn btn-large btn-primary" type="submit">@Resources.Account.SignIn</button>
		
		<hr />
		<div class="text-center">@Html.ActionLink(Resources.Account.RecoverPassword, "RecoverPassword", "Home", new { Area = "Public", channelId }, null)</div>

		<input type="hidden" name="Username" value="." />
	</form>
</div>
