﻿@{
	Layout = "~/Areas/Public/Views/Shared/_EmptyLayout.cshtml";
	ViewBag.Title = Resources.Account.RecoverPassword;
}

<div class="container">
	<form class="form-signin">
		<div class="logo text-center"></div>
		<hr />

		<h2 class="form-signin-heading">@Resources.Account.RecoverPassword</h2>

		<p>@Resources.Account.YourPasswordHasBeenEmailed</p>
	</form>
</div>
