﻿@model Airtime.Models.Account.RecoverPasswordModel

@{
	Layout = "~/Areas/Public/Views/Shared/_EmptyLayout.cshtml";
	ViewBag.Title = Resources.Account.RecoverPassword;
}

<div class="container">
	<form class="form-signin" method="post">
		<div class="logo text-center"></div>
		<hr />

		@Html.ValidationSummary(true, Resources.Shared.PleaseCorrectErrors, new Dictionary<string, object>{ {"class", "alert alert-error"} })

		<h2 class="form-signin-heading">@Resources.Account.RecoverPassword</h2>
		
		<p>@Resources.Account.EnterEmail</p>
		
		@Html.TextBoxFor(m => m.Email, new { @type="email", @class="input-block-level", placeholder = Resources.Account.EmailAddress })

		<button class="btn btn-large btn-primary" type="submit">@Resources.Account.SendEmail</button>
	</form>
</div>
