﻿@using System.Web.Hosting
@inherits AirtimeViewPage

@{
	var channelId = ViewContext.RouteData.Values["channelId"].ConvertToOrDefault<int?>();
	var currentChannel = channelId.HasValue ? ChannelRepository[channelId.Value] : null;
	var channelStyleUrl = currentChannel != null
		? "~/Content/themes/external/channels/" + currentChannel.InternalName + "/public.css"
		: null;

	var appId = (ViewContext.RouteData.DataTokens["appId"] ?? Request["appId"]).ConvertToOrDefault<string>();
	var apiVersion = (ViewContext.RouteData.DataTokens["api"] ?? Request["api"]).ConvertToOrDefault<string>();

	var app = !String.IsNullOrEmpty(apiVersion) && !String.IsNullOrEmpty(appId)
		? AppRepository.FindByCode(appId)
		: null;

	string appStyleUrl = null;
	if (app != null) {
		const string rootUrlString = "~/Content/themes/external/apps/";
		string styleUrlString = String.Format("{0}/{1}/{2}/{3}", rootUrlString, apiVersion, appId, "web/public.css");
		if (ServerService.IsHostedParentUrlOf(rootUrlString, styleUrlString)) {
			appStyleUrl = styleUrlString;
		}
	}
}

@if (!String.IsNullOrEmpty(appStyleUrl) && File.Exists(HostingEnvironment.MapPath(appStyleUrl))) {
	<link href="@Url.Content(appStyleUrl)" rel="stylesheet" />
}
@if (!String.IsNullOrEmpty(channelStyleUrl) && File.Exists(HostingEnvironment.MapPath(channelStyleUrl))) {
	<link href="@Url.Content(channelStyleUrl)" rel="stylesheet" />
}
