﻿<!DOCTYPE html>
<html dir="@Html.LayoutDirection()">

<head>
	<meta charset="utf-8" />
	<meta http-equiv="X-UA-Compatible" content="IE=9" />
	<meta name="viewport" content="width=device-width" />

	<title>@ViewBag.Title</title>

	<link href="@Url.Content("~/Content/themes/airtime/images/icons/favicon.ico")" rel="shortcut icon" type="image/x-icon" />

	@Html.RenderStyle("~/Content/bootstrap")
	@Html.RenderStyle("~/Content/"+Html.LayoutDirection()+"/css/public")

	@Html.Partial("_CustomStyles")

	<!--[if lt IE 8]>
	@Html.RenderScript("~/bundles/ie8")
	<![endif]-->
	@Html.RenderScript("~/bundles/common")
	
	@if (IsSectionDefined("Head")) {
		@RenderSection("Head", false)
	}
</head>

<body>
	@RenderBody()

	@Html.RenderScript("~/bundles/bootstrap")
	@RenderSection("scripts", required: false)
</body>
</html>
