﻿@inherits AirtimeViewPage

@{
	var channelId = ViewContext.RouteData.Values["channelId"].ConvertToOrDefault<int?>();
	var currentChannel = channelId.HasValue ? ChannelRepository[channelId.Value] : null;
	var privacyPolicyUrl = currentChannel != null ? currentChannel.PrivacyPolicyUrl : "#privacy";
	var contactUrl = currentChannel != null ? currentChannel.ContactDetailsUrl : "#contact";
	var termsUrl = currentChannel != null ? currentChannel.ContestRulesUrl : "#privacy";
}

<footer class="footer">
	<div class="container-fluid">
		<div class="navbar">
			<ul class="nav">
				<li><a href="@privacyPolicyUrl" target="_blank">Privacy Policy</a></li>
				<li><a href="@termsUrl" target="_blank">Terms & Conditions</a></li>
				<li><a href="@contactUrl" target="_blank">Contact</a></li>
			</ul>
		</div>
	</div>
</footer>
