﻿<!DOCTYPE html>
<html dir="@Html.LayoutDirection()" ng-app>

<head>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />

	<title>@ViewBag.Title</title>

	<link href="@Url.Content("~/Content/themes/airtime/images/icons/favicon.ico")" rel="shortcut icon" type="image/x-icon" />
	<link href='http://fonts.googleapis.com/css?family=Francois+One' rel='stylesheet' type='text/css'>
	<link href='http://fonts.googleapis.com/css?family=Maven+Pro' rel='stylesheet' type='text/css'>

	@Html.RenderStyle("~/Content/bootstrap")
	@Html.RenderStyle("~/Content/"+Html.LayoutDirection()+"/css/public")

	<style type="text/css">
		@@media (min-width: 980px) {
			body { padding-top: 60px; }
		}
	</style>

	@Html.Partial("_CustomStyles")

	<!--[if lt IE 8]>
	@Html.RenderScript("~/bundles/ie8")
	<![endif]-->
	@Html.RenderScript("~/bundles/common")
	@Html.RenderScript("~/bundles/angular")

	@if (IsSectionDefined("Head")) {
		@RenderSection("Head", false)
	}
</head>

<body>
	@Html.Partial("_NavBarPartial")
	
	@RenderBody()

	@Html.Partial("_FooterPartial")

	@Html.RenderScript("~/bundles/bootstrap")
	@RenderSection("scripts", required: false)
</body>
</html>
