﻿@inherits AirtimeViewPage

@{
	var channelId = ViewContext.RouteData.Values["channelId"].ConvertToOrDefault<int?>();
	var currentChannel = channelId.HasValue ? ChannelRepository[channelId.Value] : null;
	var currentPerson = SecurityService.CurrentPerson;
	var currentMembership = MembershipRepository.FindByPersonChannel(currentPerson, currentChannel);
	var airtime1EditDetailsUrl = ConfigurationService.Airtime1EditDetailsUrl;
	var privacyPolicyUrl = currentChannel != null ? currentChannel.PrivacyPolicyUrl : "#privacy";
	var contactUrl = currentChannel != null ? currentChannel.ContactDetailsUrl : "#contact";
	var termsUrl = currentChannel != null ? currentChannel.ContestRulesUrl : "#privacy";
	var uniqueMembershipChannels = MembershipRepository
		.Where(m => m.Person == currentPerson && m.Enabled)
		.SelectMany(m => m.Channels)
		.Where(c => c.EnableLandingPage)
		.OrderBy(c => c.Name)
		.Distinct()
		.ToList();
}

<div class="navbar navbar-inverse navbar-fixed-top">
	<div class="navbar-inner">
		<div class="container-fluid">

			<a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			</a>
			
			@if (currentChannel == null) {
				<a class="brand" href="#"><span class="brandtitle">@ViewBag.Title</span></a>
			} else {
				if (currentChannel.Brand != null) {
					<a class="brand" target="_blank" href="@currentChannel.HomePageUrl"><span class="brandtitle">@currentChannel.Name @currentChannel.Brand.Name</span></a>
				} else {
					<a class="brand" target="_blank" href="@currentChannel.HomePageUrl"><span class="brandtitle">@currentChannel.Name</span></a>
				}
			}

			<div class="nav-collapse collapse">
				<ul class="nav">
					<li class="active">@Html.ActionLink("Home", "Index", "Home", new { Area = "Public" }, null)</li>
				</ul>
				<ul class="nav pull-right">
					@if (currentMembership != null) {
						<li><a href="@airtime1EditDetailsUrl.NamedFormat(new {guid=currentMembership.Guid.ToString("N")})" target="_blank">My Details</a></li>
						<li class="divider-vertical"></li>
					}
					<li class="dropdown">
						<a href="#" class="dropdown-toggle" data-toggle="dropdown">My Subscriptions <b class="caret"></b></a>
						<ul class="dropdown-menu">
							<li class="nav-header">View Subscriptions</li>
							@foreach (var channel in uniqueMembershipChannels) {
								<li>@Html.ActionLink(channel.Name, "Index", "Home", new { area="Public", channelId=channel.Id }, null)</li>
							}
						</ul>
					</li>
					<li class="divider-vertical"></li>
					<li class="navbar-text"><b>Hi @(SecurityService.CurrentPerson != null ? SecurityService.CurrentPerson.GivenName : SecurityService.CurrentMembership.Person.GivenName)</b></li>
					<li>@Html.ActionLink(Resources.Account.LogOff, "LogOff", "Home", new { Area = "Public", channelId }, null)</li>
				</ul>
			</div>

		</div>
	</div>
</div>
