﻿@using Airtime.Data.Account
@inherits AirtimeViewPage<Airtime.Data.Content.Widget>

@if (SecurityService.ValidateChannelPermissions(@Model.Channel, PermissionEnum.EditLandingPages)) {
	<a href="javascript:;" style="float:right"><i class="widgetEditorButton icon-edit"></i></a>
	@Helpers.WidgetEditor(Model, "."+Model.WidgetType+"Widget", GlobalizationService.ConvertCultureForCkEditor())
}
