﻿@using Airtime.Core
@using Airtime.Data.Account

@model Airtime.Models.Reports.ReportFilterModel

<section>
	<fieldset>
		<legend>@Resources.Reports.Filters</legend>

		<table class="noBorder width100">
			<tr>

				<td class="noWrap alignTop alignCenter" style="border-right:2px solid lightgray; padding-right:15px; width:1px">
					<h5>@Resources.Reports.Surveys</h5>
					<div class="alignLeft">
						@for (int i = 0; i < Model.Surveys.Count; i++) {
							<input type="checkbox" name="FilterSurveys" id="@String.Format("FilterSurveys{0}", i)" value="@Model.Surveys[i].Id" @Helpers.Checked(Model.SelectedSurveyIds.Contains(Model.Surveys[i].Id)) />
							<label for="@String.Format("FilterSurveys{0}", i)">
								@Model.Surveys[i].Name <small style="text-align:center">(@Model.Surveys[i].ScheduleStartDate)</small>
							</label>
							<br />
						}
					</div>
				</td>

				<td class="alignTop alignCenter" style="padding-left:15px">
					<h5>@Resources.Reports.Demographics</h5>

					<div style="display:inline-block" class="alignCenter alignTop">
						<div class="display-field">
							@Html.LabelFor(m => m.Gender)
						</div>
						<div class="display-field">
							@{
								var genderItems = EnumHelper.GetValues<PersonGenderEnum>().Select(e => new SelectListItem { Value = e.ToString(), Text = e.ToResourceString(), Selected = (Model.Gender == e) }).ToList();
								genderItems.Insert(0, new SelectListItem { Value = "", Text = Resources.Shared.All });
							}
							@Html.DropDownListFor(m => m.Gender, genderItems)
						</div>
						<br />
						<div class="display-field">
							@Html.LabelFor(m => m.LowerAge)
						</div>
						<div class="display-field">
							@Html.TextBoxFor(m => m.LowerAge, new { maxlength = 2, size = 2, style = "width:3em" })
							-
							@Html.TextBoxFor(m => m.UpperAge, new { maxlength = 2, size = 2, style = "width:3em" })
						</div>
					</div>

					@for (int i = 0; i < Model.Questions.Count; i++ ) {
						<div style="display:inline-block" class="alignCenter alignTop">
							<div class="display-field" style="max-width:200px">
								@Html.Label("FilterQuestionChoices", Model.Questions[i].Name)
							</div>
							<div class="display-field">
								<select name="FilterQuestionChoices" style="max-width:200px" multiple="multiple">
									@foreach (var item in Model.Questions[i].Choices) {
										<option value="@item.Key.Id" @Helpers.Selected(item.Value)>@item.Key.Name.StripHtml()</option>
									}
								</select>
							</div>
						</div>
					}
					<input type="hidden" name="FilterQuestionChoices" value="" />
				</td>
			</tr>
		</table>

		<nav>
			<button type="submit" name="submitAction" value="@SubmitActionEnum.Submit.ToString()">@Resources.Reports.ShowData</button>
		</nav>
	</fieldset>
</section>
