﻿@using System.Globalization
@inherits AirtimeViewPage<String>

@{
	var htmlAttributes = new Dictionary<string, object>();
	htmlAttributes.Add("class", "richtext");
	if (ViewData.ContainsKey("Disabled") && ViewBag.Disabled) {
		htmlAttributes.Add("disabled", "disabled");
	}	
}

<div style="float:left; width:70%">
	@Html.TextArea("", Model, htmlAttributes)
</div>

<div style="float:right; width:30%">
	<table style="font-size:x-small; margin-left:10px">
		<caption>@Resources.CKEditor.TagLegend</caption>
		<thead>
			<tr class="alignTop">
				<th>@Resources.CKEditor.Tag</th>
				<th>@Resources.CKEditor.WhatYouWillSee</th>
				<th>@Resources.CKEditor.WhatYourMembersWillSee</th>
			</tr>
		</thead>
		<tbody>
			<tr class="alignTop">
				<td class="noWrap">@Resources.CKEditor.GivenName</td>
				<td class="noWrap">[[GivenName]]</td>
				<td>@Resources.CKEditor.TheirGivenName</td>
			</tr>
			<tr class="alignTop">
				<td class="noWrap">@Resources.CKEditor.FamilyName</td>
				<td class="noWrap">[[FamilyName]]</td>
				<td>@Resources.CKEditor.TheirFamilyName</td>
			</tr>
			<tr class="alignTop">
				<td class="noWrap">@Resources.CKEditor.Email</td>
				<td class="noWrap">[[EmailAddress]]</td>
				<td>@Resources.CKEditor.TheirEmailAddress</td>
			</tr>
			<tr class="alignTop">
				<td class="noWrap">@Resources.CKEditor.TokenLink</td>
				<td class="noWrap">[[TokenLink]]</td>
				<td>"<span style="font-style:italic; font-weight:bold">Please click here to login</span>" @Resources.CKEditor.HyperlinkForActiveSurvey</td>
			</tr>
			<tr class="alignTop">
				<td class="noWrap">@Resources.CKEditor.TokenURL</td>
				<td class="noWrap">[[TokenURL]]</td>
				<td>@Resources.CKEditor.WebAddressForActiveSurvey</td>
			</tr>
		</tbody>
	</table>
</div>


@*Html.RenderScript("~/bundles/ckeditor")*@
@Html.RenderScript("~/Scripts/ckeditor/ckeditor.js")
@Html.RenderScript("~/Scripts/ckeditor/adapters/jquery.js")

<script type="text/javascript">   
	$(function() {
		if (typeof $.validator.methods.requiredCore == "undefined") {
			var requiredCore = $.validator.methods.required;
			$.extend($.validator.methods, {
				requiredCore: requiredCore,
				required: function(value, element, param) {
					var $element = $(element);
					if ($element.hasClass("richtext")) {
						value = $element.val();
					}
					return requiredCore.call(this, value, element, param);
				}
			});
		}

		var height;
		@if (ViewData.ContainsKey("height")) {
			@:height = '@ViewData["height"]';
		}

		$(".richtext").ckeditor({
			language: '@GlobalizationService.ConvertCultureForCkEditor(CultureInfo.CurrentUICulture)',
			contentsLangDirection: '@Html.LayoutDirection()',
			customConfig: '@Url.Content("~/Scripts/ckeditor-plugins/config.js")',
			loginImageButtonUrl: '@Html.Action("GetChannelThemeUrl", "Shared", new { channelId = ViewContext.RouteData.Values["channelId"] })' + "images/btn/start-now.jpg",
			height: height
		});
	});
</script>
