﻿@model List<Airtime.Models.Media.SongModel>

@{
	ViewBag.DefaultLibraryLength = ViewBag.MaximumSongs == 1 ? 5 : 15;
}

<div>
	<script id="playlistItemTemplate" type="text/x-jquery-tmpl">
		<li class="ui-state-default" style="width:${$item.width}px"><div>
			<table class="playlist-item">
				<tr>
					<td class="playlist-item-play" rowspan="2"><img src="@Url.Content("~/Content/themes/airtime/images/icons/icon-play-button.gif")" alt="Play" class="playButton" data-song-url="${Filename}" /></td>
					<td class="playlist-artist-label">@Resources.Media.Artist:</td>
					<td class="playlist-artist-value">${Artist}</td>
					<td class="playlist-library-label">@Resources.Media.Library:</td>
					<td class="playlist-library-value">${Library}</td>
					<td class="playlist-item-handle" rowspan="2">
						<img src="@Url.Content("~/Content/themes/airtime/images/icons/icon-remove-button.png")" alt="Remove" class="remove-item" />
						<img src="@Url.Content("~/Content/themes/airtime/images/icons/icon-drag-handle.png")" alt="Drag" />
					</td>
				</tr>
				<tr>
					<td class="playlist-title-label">@Resources.Media.Title:</td>
					<td class="playlist-title-value">${Title}</td>
					<td class="playlist-length-label">@Resources.Media.Length:</td>
					<td class="playlist-length-value">${Length}</td>
				</tr>
			</table>
			<input type="hidden" name="SongsId" value="${Id}" /></div>
		</li>
	</script>

	@Html.RenderScript("~/bundles/jqueryui")
	@Html.RenderScript("~/bundles/datatables")
	<script type="text/javascript">
		$(function() {
			var dataTable = $("#libraryTable").airtimeTable({
				AjaxSource : "@Html.Raw(Url.Action("List", "Media", new { channelId = Url.RequestContext.RouteData.Values["channelId"] }))",
				Columns : [
					{
						Property: "Id",
						CssClass: "alignCenter",
						Sortable: false,
						Template: '<img src="@Url.Content("~/Content/themes/airtime/images/icons/icon-play-button.gif")" alt="@Html.Raw(HttpUtility.JavaScriptStringEncode(Resources.Media.Play))" class="playButton" data-song-url="${Filename}" />'
					},
					{ Property: "Artist", DefaultSort: "asc" },
					{ Property: "Title" , DefaultSort: "asc" },
					{ Property: "Length", CssClass:"alignCenter" },
					{ Property: "Library", CssClass:"noWrap" },
					{
						Property: "Id",
						CssClass: "alignCenter",
						Template: '<img src="@Url.Content("~/Content/themes/airtime/images/icons/icon-drag-handle.png")" alt="@Html.Raw(HttpUtility.JavaScriptStringEncode(Resources.Shared.Drag))" />',
						Sortable: false
					}
				],
				Language: @Html.Partial("_DataTablesLanguagePartial"),
				DisplayLength: @ViewBag.DefaultLibraryLength,
				FilterPlaceholder: "@Html.Raw(HttpUtility.JavaScriptStringEncode(Resources.Media.Placeholder_SearchBy))",
				DrawCallback: function() {
					var context = this;
					$("#libraryTable tbody tr").draggable({
						appendTo: "body",
						helper: function() {
							var width = $(this).width();
							return $("#playlistItemTemplate").tmpl(context.GetRowData(this), {width:width});
						}
					});
				}
			});

			$("#libraryTable").disableSelection();

			var playlist = $("#playlist").disableSelection().sortable({ delay:200, placeholder: "ui-state-highlight" });

			$("#playlistContainer")
				.droppable({
					accept: "tr",
					activeClass: "ui-state-active",
					tolerance: "pointer",
					drop: function (event, ui) {
						if (ui.draggable.is("tr")) {
							var maxSongs = playlist.data("max-items");
							var numSongs = $("input[name='SongsId']", playlist).length;
							if (typeof maxSongs == "number" && numSongs >= maxSongs) {
								if (maxSongs == 1) {
									playlist.empty();
								} else {
									setTimeout(function() { alert("@Html.Raw(HttpUtility.JavaScriptStringEncode(Resources.Media.MaximumSongsAlreadyAdded))"); }, 0);
									return;
								}
							}
							var helper = $(ui.helper.clone().removeAttr("style").removeClass("ui-draggable-dragging"));
							var value = $("input[name='SongsId']", helper).val();
							if ($("input[name='SongsId'][value='" + value + "']:first", playlist).length == 0) {
								helper.prependTo(playlist);
							} else {
								setTimeout(function() { alert("@Html.Raw(HttpUtility.JavaScriptStringEncode(Resources.Media.SongAlreadyInPlaylist))"); }, 0);
							}
						}
					}
				})
				.data("addSong", function (song) {
					var maxSongs = playlist.data("max-items");
					var numSongs = $("input[name='SongsId']", playlist).length;
					if (typeof maxSongs == "number" && numSongs >= maxSongs) {
						if (maxSongs == 1) {
							playlist.empty();
						} else {
							setTimeout(function() { alert("@Html.Raw(HttpUtility.JavaScriptStringEncode(Resources.Media.MaximumSongsAlreadyAdded))"); }, 0);
							return;
						}
					}
					var helper = $("#playlistItemTemplate").tmpl(song).removeAttr("style");
					var value = $("input[name='SongsId']", helper).val();
					if ($("input[name='SongsId'][value='" + value + "']:first", playlist).length == 0) {
						helper.prependTo(playlist);
					} else {
						setTimeout(function() { alert("@Html.Raw(HttpUtility.JavaScriptStringEncode(Resources.Media.SongAlreadyInPlaylist))"); }, 0);
					}
				});

			$("#playlist").on("click", ".remove-item", function() {
				$(this).closest("li").remove();
			});

		});
	</script>


	@Helpers.AudioPlayerScript()

	<fieldset id="libraryContainer">
		<legend>@Resources.Media.SongsLibrary</legend>

		<table id="libraryTable" class="display">
			<thead>
				<tr>
					<th class="alignCenter unsortableColumn">@Resources.Media.Play</th>
					<th width="50%">@Resources.Media.Artist</th>
					<th width="50%">@Resources.Media.Title</th>
					<th>@Resources.Media.Length</th>
					<th>@Resources.Media.Library</th>
					<th class="alignCenter unsortableColumn">@Resources.Shared.Drag</th>
				</tr>
			</thead>
			<tbody>
			</tbody>
		</table>
	</fieldset>

	<fieldset id="playlistContainer">
		@if (ViewBag.MaximumSongs == 1) {
			<legend>@Resources.Media.SelectedSong</legend>
		} else {
			<legend>@Resources.Media.SongsPlaylist</legend>
		}

		<h4 style="text-align: center; font-style:italic">
			@if (ViewBag.MaximumSongs == 1) {
				@Resources.Media.DragASongHereToSelectIt
			} else {
				@Resources.Media.DragSongsHereToAddToPlaylist
			}
		</h4>

		<ol id="playlist" data-max-items="@ViewBag.MaximumSongs">
			@foreach (var s in Model) {
				<li class="ui-state-default">
					<table class="playlist-item">
						<tr>
							<td class="playlist-item-play" rowspan="2"><img src="@Url.Content("~/Content/themes/airtime/images/icons/icon-play-button.gif")" alt="Play" class="playButton" data-song-url="@s.Filename" /></td>
							<td class="playlist-artist-label">@Resources.Media.Artist:</td>
							<td class="playlist-artist-value">@s.Artist</td>
							<td class="playlist-library-label">@Resources.Media.Library:</td>
							<td class="playlist-library-value">@s.Library</td>
							<td class="playlist-item-handle" rowspan="2">
								<img src="@Url.Content("~/Content/themes/airtime/images/icons/icon-remove-button.png")" alt="Remove" class="remove-item" />
								<img src="@Url.Content("~/Content/themes/airtime/images/icons/icon-drag-handle.png")" alt="Drag" />
							</td>
						</tr>
						<tr>
							<td class="playlist-title-label">@Resources.Media.Title:</td>
							<td class="playlist-title-value">@s.Title</td>
							<td class="playlist-length-label">@Resources.Media.Length:</td>
							<td class="playlist-length-value">@s.Length</td>
						</tr>
					</table>
					<input type="hidden" name="SongsId" value="@s.Id" />
				</li>
			}
		</ol>
	</fieldset>

</div>