﻿<!DOCTYPE html>
<html dir="@Html.LayoutDirection()">
<head>
	<meta charset="utf-8" />
	<meta http-equiv="X-UA-Compatible" content="IE=9" />
	<title>@ViewBag.Title</title>

	<link href="@Url.Content("~/Content/themes/airtime/images/icons/favicon.ico")" rel="shortcut icon" type="image/x-icon" />

	@Html.RenderStyle("~/Content/themes/redmond/css")
	@Html.RenderStyle("~/Content/"+Html.LayoutDirection()+"/css")

	<!--[if lt IE 8]>
	@Html.RenderScript("~/bundles/ie8")
	<![endif]-->
	@Html.RenderScript("~/bundles/common")
	@Html.RenderScript("~/bundles/jqueryui")

	<script type="text/javascript">
		var airtimeStorage;
		var logErrorUrl = '@Html.Raw(Url.Action("LogJavascriptError", "Error"))';

		$(function () {
			airtimeStorage = new Persist.Store("Airtime2");
			$("body").on("ajaxComplete", function(event, request, settings) {
				if (request.getResponseHeader('REQUIRES_AUTH') === '1') {
					window.location.href = window.location.href;
				}
			});
			$("form").keypress(function(e) {
				if (e.keyCode == 13) {
					if (e.target && e.target.nodeName.toLowerCase() == "textarea") {
						return true;
					}
					var submitButton = $(".submit-button:first", this);
					if (submitButton.length > 0) {
						submitButton.click();
						e.preventDefault();
						return false;
					}
				}
			});
			$(".disabled").click(function() {
				return false;
			});
			$("button[type='submit'].delete-button").click(function() {
				return confirm("@Html.Raw(HttpUtility.JavaScriptStringEncode(Resources.Shared.AllSelectedItemsWillBeDeleted))");
			});
			$(document).tooltip();
		});
	</script>

	@if (IsSectionDefined("Head")) {
		@RenderSection("Head", false)
	}
</head>

<body>
	<div class="page">
		<header id="mainheader">
			<div id="logindisplay">
				@Html.Partial("_LogOnPartial")
			</div>

			<nav id="mainnav">
				@Html.Partial("_MainMenuPartial")
			</nav>
		</header>

		<section id="main" style="clear:both">
			<div id="logo">
				@Html.Partial("_ChannelLogoPartial")
			</div>

			@RenderBody()
		</section>

		<footer>
		</footer>
	</div>
</body>
</html>
