﻿@inherits AirtimeViewPage
@using Airtime.Data.Account
@{
	int? channelId = ViewContext.RouteData.Values["channelId"].ConvertToOrDefault<int?>();
	var classes = new List<string>();
	if (channelId == null || channelId <= 0) {
		classes.Add("disabled");
	}

	string classesSelected = String.Join(" ", classes.Concat(new[] {"selected"}));
	string classesUnselected = String.Join(" ", classes);

	if (ViewBag.Section == null) {
		ViewBag.Section = SectionEnum.Home;
	}
	var currentSection = (SectionEnum)ViewBag.Section;
	var reportSections = new[] { SectionEnum.Reports, SectionEnum.ReportsMusic, SectionEnum.ReportsPerceptuals };
	var surveySections = new[] { SectionEnum.Surveys, SectionEnum.SurveysQuestions, SectionEnum.SurveysInvitations, SectionEnum.SurveysLaunch };
}

<ul id="menu">
	@if (currentSection == SectionEnum.Home) {
		<li>@Html.ActionLink(Resources.Shared.Home, "Index", "Home", null, new { @class = "selected" })</li>
	} else {
		<li>@Html.ActionLink(Resources.Shared.Home, "Index", "Home")</li>
	}

	@if (Request.IsAuthenticated) {

		if (SecurityService.CurrentMembership.IsDeveloper()) {
			<li>@Html.ActionLink(Resources.Shared.DevTools, "Index", "Home", new { Area = "Dev" }, new { title = Resources.Shared.DevToolsTooltip })</li>
		}

		if (SecurityService.CurrentMembership.IsAdmin()) {
			if (currentSection == SectionEnum.AdminTools) {
				<li>@Html.ActionLink(Resources.Shared.AdminTools, "Index", "AdminTools", null, new { title=Resources.Shared.AdminToolsTooltip, @class = "selected" })</li>
			} else {
				<li>@Html.ActionLink(Resources.Shared.AdminTools, "Index", "AdminTools", null, new { title=Resources.Shared.AdminToolsTooltip })</li>
			}
		}
		
		if (SecurityService.ValidateAnyPermissions(PermissionEnum.ViewSummaryReports, PermissionEnum.ViewMusicReports, PermissionEnum.ViewPerceptualReports)) {
			if (currentSection == SectionEnum.Reports) {
			<li>@Html.ActionLink(Resources.Shared.Reports, "Summary", "Reports", new { channelId }, new { title=Resources.Shared.ReportsTooltip, @class = classesSelected })</li>
			} else {
			<li>@Html.ActionLink(Resources.Shared.Reports, "Summary", "Reports", new { channelId }, new { title=Resources.Shared.ReportsTooltip, @class = classesUnselected })</li>
			}
			if (reportSections.Contains(currentSection)) {
				Html.RenderPartial("_ReportsMenuPartial");
			}
		}

		if (SecurityService.ValidatePermissions(PermissionEnum.ViewSurveys)) {
			if (currentSection == SectionEnum.Surveys) {
			<li>@Html.ActionLink(Resources.Shared.Surveys, "Index", "Surveys", new { channelId }, new { title=Resources.Shared.SurveysTooltip, @class = classesSelected })</li>
			} else {
			<li>@Html.ActionLink(Resources.Shared.Surveys, "Index", "Surveys", new { channelId }, new { title=Resources.Shared.SurveysTooltip, @class = classesUnselected })</li>
			}
			if (surveySections.Contains(currentSection)) {
				 Html.RenderPartial("_SurveysMenuPartial");
			}
		}

		if (SecurityService.ValidatePermissions(PermissionEnum.ViewEmails)) {
			if (currentSection == SectionEnum.MarketingEmails) {
			<li>@Html.ActionLink(Resources.Shared.Emails, "Index", "Emails", new { channelId }, new { title=Resources.Shared.MarketingEmailsTooltip, @class = classesSelected })</li>
			} else {
			<li>@Html.ActionLink(Resources.Shared.Emails, "Index", "Emails", new { channelId }, new { title=Resources.Shared.MarketingEmailsTooltip, @class = classesUnselected })</li>
			}
		}

		if (SecurityService.ValidatePermissions(PermissionEnum.ViewMembers)) {
			if (currentSection == SectionEnum.Members) {
			<li>@Html.ActionLink(Resources.Shared.Members, "Index", "Members", new { channelId }, new { title=Resources.Shared.MembersTooltip, @class = classesSelected })</li>
			} else {
			<li>@Html.ActionLink(Resources.Shared.Members, "Index", "Members", new { channelId }, new { title=Resources.Shared.MembersTooltip, @class = classesUnselected })</li>
			}
		}
		
		if (SecurityService.CurrentMembership.IsAdmin()) {
			if (currentSection == SectionEnum.Media) {
			<li>@Html.ActionLink(Resources.Shared.Media, "Index", "Media", new { channelId }, new { title=Resources.Shared.MediaTooltip, @class = classesSelected })</li>
			} else {
			<li>@Html.ActionLink(Resources.Shared.Media, "Index", "Media", new { channelId }, new { title=Resources.Shared.MediaTooltip, @class = classesUnselected })</li>
			}
		}
	}
</ul>
