﻿@inherits AirtimeViewPage

@using Airtime.Core
@using Airtime.Data.Account

@{
	if (ViewBag.Section == null) {
		ViewBag.Section = SectionEnum.Home;
	}
	var currentSection = (SectionEnum)ViewBag.Section;
	int channelId = ViewContext.RouteData.Values["channelId"].ConvertToOrDefault<int>();
}

@if (SecurityService.ValidatePermissions(PermissionEnum.ViewMusicReports)) {
	if (currentSection == SectionEnum.ReportsMusic) {
		<li class="submenu">@Html.ActionLink(Resources.Shared.Music, "Music", "Reports", new {channelId}, new {@class = "selected"})</li>
	} else {
		<li class="submenu">@Html.ActionLink(Resources.Shared.Music, "Music", "Reports", new {channelId}, null)</li>
	}
}

@if (SecurityService.ValidatePermissions(PermissionEnum.ViewPerceptualReports)) {
	if (currentSection == SectionEnum.ReportsPerceptuals) {
		<li class="submenu">@Html.ActionLink(Resources.Shared.Perceptuals, "Perceptuals", "Reports", new {channelId}, new {@class = "selected"})</li>
	} else {
		<li class="submenu">@Html.ActionLink(Resources.Shared.Perceptuals, "Perceptuals", "Reports", new {channelId}, null)</li>
	}
}
