﻿@inherits AirtimeViewPage

@using Airtime.Core

@{
	if (ViewBag.Section == null) {
		ViewBag.Section = SectionEnum.Home;
	}
	int channelId = ViewContext.RouteData.Values["channelId"].ConvertToOrDefault<int>();
	int? surveyId = ViewContext.RouteData.Values["surveyId"].ConvertToOrDefault<int?>();
	var currentSection = (SectionEnum)ViewBag.Section;

	var classes = new List<string>();
	if (surveyId == null || surveyId == 0) {
		classes.Add("disabled");
	}
}

@if (currentSection == SectionEnum.SurveysQuestions) {
	<li class="submenu">@Html.ActionLink(Resources.Shared.Questions, "Index", "Questions", new { channelId, surveyId }, new { @class = String.Join(" ", classes.Concat(new[] { "selected" })) })</li>
} else {
	<li class="submenu">@Html.ActionLink(Resources.Shared.Questions, "Index", "Questions", new { channelId, surveyId }, new { @class = String.Join(" ", classes) })</li>
}

@if (currentSection == SectionEnum.SurveysInvitations) {
	<li class="submenu">@Html.ActionLink(Resources.Shared.Invitations, "Index", "Invitations", new { channelId, surveyId }, new { @class = String.Join(" ", classes.Concat(new[] { "selected" })) })</li>
} else {
	<li class="submenu">@Html.ActionLink(Resources.Shared.Invitations, "Index", "Invitations", new { channelId, surveyId }, new { @class = String.Join(" ", classes) })</li>
}

@if (currentSection == SectionEnum.SurveysLaunch) {
	<li class="submenu">@Html.ActionLink(Resources.Shared.Launch, "Edit", "Surveys", new { channelId, surveyId }, new { @class = String.Join(" ", classes.Concat(new[] { "selected" })) })</li>
} else {
	<li class="submenu">@Html.ActionLink(Resources.Shared.Launch, "Edit", "Surveys", new { channelId, surveyId }, new { @class = String.Join(" ", classes) })</li>
}
