﻿.border-radius (@radius) {
	-webkit-border-radius: @radius;
	-moz-border-radius: @radius;
	border-radius: @radius;
}

.border-radius (@topleft, @topright, @bottomright, @bottomleft) {
    -webkit-border-radius: @topleft @topright @bottomright @bottomleft;
    -moz-border-radius: @topleft @topright @bottomright @bottomleft;
    border-radius: @topleft @topright @bottomright @bottomleft;
}

.border-radius-top(@radius) {
    -webkit-border-top-left-radius: @radius;
    -webkit-border-top-right-radius: @radius;
    -moz-border-radius-topleft: @radius;
    -moz-border-radius-topright: @radius;
    border-top-left-radius: @radius;
    border-top-right-radius: @radius;
}

.border-radius-bottom(@radius) {
    -webkit-border-bottom-left-radius: @radius;
    -webkit-border-bottom-right-radius: @radius;
    -moz-border-radius-bottomleft: @radius;
    -moz-border-radius-bottomright: @radius;
    border-bottom-left-radius: @radius;
    border-bottom-right-radius: @radius;
}

.box-shadow (@x:0, @y:1px, @blur:2px, @alpha:0.5) {
    -webkit-box-shadow: @x @y @blur @alpha;
    -moz-box-shadow: @x @y @blur @alpha;
    box-shadow: @x @y @blur @alpha;
}

.background-size (@size:contain) {
	-moz-background-size: @size;
	-o-background-size: @size;
	-webkit-background-size: @size;
	background-size: @size;
}

.opacity(@value) {
    @intValue : @value * 100;
    -moz-opacity: @value;
    filter: alpha(opacity=@intValue);
    opacity: @value;
}