﻿body {
  background-color: #f5f5f5;
}
.form-signin {
  max-width: 300px;
  padding: 19px 29px;
  margin: 40px auto;
  background-color: white;
  border: 1px solid #e5e5e5;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05);
  -moz-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05);
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05);
}
.form-signin .form-signin-heading,
.form-signin .checkbox {
  margin-bottom: 10px;
}
.form-signin .input[type="text"],
.form-signin input[type="password"],
.form-signin input[type="email"] {
  font-size: 16px;
  height: auto;
  margin-bottom: 15px;
  padding: 7px 9px;
}
.form-signin .logo {
  background-image: url(/Content/themes/airtime/images/logos/AirtimeSurveys.png);
  background-position: center;
  background-repeat: no-repeat;
  -moz-background-size: contain;
  -o-background-size: contain;
  -webkit-background-size: contain;
  background-size: contain;
  width: 100%;
  height: 118px;
}
input.ng-invalid.ng-dirty {
  background-color: #FA787E;
}
.widgetEditor {
  display: none;
}
.fb-like-box,
.fb-like-box span,
.fb-like-box span iframe {
  width: 100% !important;
}
.widget {
  overflow: auto;
}
