﻿@import "Mixins.less";

body {
    background-color: #f5f5f5;
}

.form-signin {
    max-width: 300px;
    padding: 19px 29px;
    margin: 40px auto;
    background-color: white;
    border: 1px solid #e5e5e5;
    .border-radius(5px);
    .box-shadow(0, 1px, 2px, rgba(0, 0, 0, 0.05));

    .form-signin-heading, .checkbox {
        margin-bottom: 10px;
    }

    .input[type="text"], input[type="password"], input[type="email"] {
        font-size: 16px;
        height: auto;
        margin-bottom: 15px;
        padding: 7px 9px;
    }

    .logo {
        background-image: url(/Content/themes/airtime/images/logos/AirtimeSurveys.png);
        background-position: center;
        background-repeat: no-repeat;
        .background-size(contain);
        width: 100%;
        height: 118px;
    }
}

input.ng-invalid.ng-dirty {
    background-color: #FA787E;
}

.widgetEditor {
    display: none;
}

.fb-like-box, .fb-like-box span, .fb-like-box span iframe {
	width: 100% !important;
}

.widget {
    overflow: auto;
}
