﻿@import "Mixins.less";

@base-color: #5c87b2;

body {
    background-color: @base-color;
    font-size: .85em;
    font-family: Verdana, Tahoma, Arial, "Helvetica Neue", Helvetica, Sans-Serif;
    margin: 0;
    padding: 0;
    color: #696969;
}

a {
    &:link {
        color: #034af3;
        text-decoration: underline;
    }
    &:visited {
        color: #505abc;
    }
    &:hover {
        color: #1d60ff;
        text-decoration: none;
    }
    &:active {
        color: #12eb87;
    }
}

p, ul {
    margin-bottom: 1em;
    line-height: 1.6em;
}

header, footer, nav, section {
    display: block;
}

hr {
    border: 0;
    height: 1px;
    background-color: lightgray;
    color: lightgray;
}


/* HEADINGS   
----------------------------------------------------------*/
h1, h2, h3, h4, h5, h6 {
    font-size: 1.5em;
    color: black;
}

h1 {
    font-size: 2em;
    padding-bottom: 0;
    margin-bottom: 0;
}

h2 {
    padding: 0 0 10px 0;
}

h3 {
    font-size: 1.2em;
}

h4 {
    font-size: 1.1em;
}

h5, h6 {
    font-size: 1em;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
}


/* PRIMARY LAYOUT ELEMENTS   
----------------------------------------------------------*/

.page {
    width: 95%;
    margin-left: auto;
    margin-right: auto;
}

header, #header {
    position: relative;
    margin-bottom: 0px;
    color: #000;
    padding: 0;

    h1 {
        font-weight: bold;
        padding: 5px 0;
        margin: 0;
        color: #fff;
        border: none;
        line-height: 2em;
        font-size: 32px !important;
        text-shadow: 1px 1px 2px #111;
    }
}

#mainheader {
    background: url('/Content/themes/airtime/images/logos/ATBanner112.jpg') @base-color top left no-repeat;
    height: 112px;
}

#mainnav {
    position: absolute;
    bottom: 0;
    right: 0;
}

#main {
    padding: 30px 30px 15px 30px;
    background-color: #fff;
}

footer, #footer {
    background-color: #fff;
    color: #999;
    padding: 10px 0;
    text-align: center;
    line-height: normal;
    margin: 0 0 30px 0;
    font-size: .9em;
    .border-radius-bottom(4px);
}


/* TAB MENU   
----------------------------------------------------------*/
ul#menu {
    position: relative;
    margin: 0;
    text-align: right;

    li {
        list-style: none;
        display: block;
        float: left;
        a {
            margin-left: 6px;
            white-space: nowrap;
            padding: 11px 20px;
            font-weight: bold;
            text-decoration: none;
            line-height: 2.8em;
            background-color: #e8eef4;
            color: #034af3;
            .border-radius-top(4px);
        }
        &.submenu a {
            margin-left: 1px;
            padding: 4px 8px 13px 8px;
            font-size: 90%;
            font-style: italic;
        }
        &.selected a {
            background-color: #fff;
            color: #000;
        }
    }

    a {
        &:hover {
            background-color: #fff;
            text-decoration: none;
        }
        &:active {
            background-color: #a6e2a6;
            text-decoration: none;
        }
        &.disabled {
            background-color: darkgray;
            cursor: default;
        }
        &.selected {
            background-color: white;
            cursor: default;
        }
    }
}


/* FORM LAYOUT ELEMENTS   
----------------------------------------------------------*/

form {
    clear: both;
}

fieldset {
    border: 1px solid #ddd;
    padding: 0 1.4em 1.4em 1.4em;
    margin: 0 0 1.5em 0;
}

legend {
    font-size: 1.2em;
    font-weight: bold;
}

textarea {
    min-height: 75px;
}

input[type="text"], input[type="password"] {
    border: 1px solid #ccc;
    padding: 2px;
    color: #444;
    width: 200px;
}

select {
    border: 1px solid #ccc;
    padding: 2px;
    color: #444;
}

input[type="submit"] {
    padding: 5px;
}

section#main form nav {
    text-align: right;
    margin: 4px;
}

input.short-input {
    width: 6em;
}

input.medium-input {
    width: 10em;
}

input.long-input {
    width: 600px;
}


/* TABLE
----------------------------------------------------------*/

table {
    border: solid 1px #e8eef4;
    border-collapse: collapse;

    td {
        padding: 5px;
        border: solid 1px #e8eef4;
    }

    th {
        padding: 6px 5px;
        text-align: left;
        background-color: #e8eef4;
        border: solid 1px #e8eef4;
    }
}


    /* TABLE DRAG N DROP
----------------------------------------------------------*/
    table tbody tr td.dragHandle {
        padding-right: 20px;
    }

.dragHandleIcon {
    background-image: url("/Content/themes/airtime/images/icons/icon-updown-arrow.gif");
    background-position: right center;
    background-repeat: no-repeat;
    cursor: move;
}

.dragging {
    font-weight: bold;
}


/* MISC  
----------------------------------------------------------*/
.hidden {
    display: none;
}

.clear {
    clear: both;
}

.error {
    color: Red;
}

.noWrap {
    white-space: nowrap;
}

.noBorder {
    border: 0;
}

.noPadding {
    padding: 0;
}

.width100 {
    width: 100%;
}

.width50 {
    width: 50%;
}

.width33 {
    width: 33%;
}

.width25 {
    width: 25%;
}

.width1 {
    width: 1%;
}

.alignCenter {
    text-align: center;
}

.alignLeft {
    text-align: left;
}

.alignRight {
    text-align: right;
}

.alignTop {
    vertical-align: top;
}

.floatLeft {
    float: left;
}

.floatRight {
    float: right;
}

.playButton {
    cursor: pointer;
}

nav, #menucontainer {
    margin-top: 40px;
    clear: both;
}

div#title {
    display: block;
    float: left;
    text-align: left;
}

div#logo {
    float: right;
    padding-bottom: 16px;
}

table.noBorder td {
    border: 0;
}

.channel-selection {
    border: 1px dotted gray;
    display: -moz-inline-stack;
    display: inline-block;
    position: relative;
    height: 150px;
    width: 150px;
    margin: 8px;
    vertical-align: middle;

    .channel-link-icon {
        position: absolute;
        height: 150px;
        width: 150px;
        top: 0;
        left: 0;
    }

    .channel-link-name {
        position: absolute;
        bottom: 0;
        left: 0;
        width: 134px;
        margin: 8px;
        font-weight: bold;
    }

    img {
        width: 150px;
        border-style: none;
    }
}

#logindisplay {
    float: right;
    font-size: 1.1em;
    display: block;
    text-align: right;
    margin: 10px;
    color: White;

    a {
        &:link, &:visited {
            color: white;
            text-decoration: underline;
        }

        &:hover {
            color: white;
            text-decoration: none;
        }
    }
}

.culture-selection {
    margin-bottom: 20px;

    .ui-selectmenu-status {
        text-align: left;
    }

    a:link {
        text-decoration: none;
    }
}

.survey-active {
    background-color: rgb(240, 255, 240);
}

.survey-ended {
    background-color: rgb(240, 240, 240);
}

.survey-archived {
    background-color: rgb(220, 220, 220);
    color: rgb(160,160,160);
}

.instruction {
    font-weight: bold;
    font-style: italic;
    background-color: mistyrose;
    color: red;
    padding: 16px 32px 16px 32px;
    margin-bottom: 1.5em;
    .border-radius(6px);
}

input::-webkit-input-placeholder, textarea::-webkit-input-placeholder,
input:-moz-placeholder, textarea:-moz-placeholder {
    color: #AAA;
}


/* Styles for validation helpers
-----------------------------------------------------------*/
.field-validation-error {
    color: #ff0000;
}

.field-validation-valid {
    display: none;
}

.input-validation-error {
    border: 1px solid #ff0000;
    background-color: #ffeeee;
}

.validation-summary-errors {
    font-weight: bold;
    font-style: italic;
    color: red;
    background-color: mistyrose;
    padding: 16px 32px 16px 32px;
    margin-bottom: 1.5em;
    .border-radius(6px);
}

.validation-summary-valid {
    display: none;
}


/* Styles for editor and display helpers
----------------------------------------------------------*/
.display-label {
    margin: 1em 0 0 0;
    font-weight: bold;
}

.editor-label {
    margin: 1em 0 0 0;
}

.display-field, .editor-field {
    margin: 0.5em 0 0 0;
}

.text-box {
    width: 30em;
    &.multi-line {
        height: 6.5em;
    }
}

.tri-state {
    width: 6em;
}

.ajax-panel {
    overflow: hidden;
    position: relative;
    display: -moz-inline-stack;
    display: inline-block;
    *display: inline;
}

.ajax-error {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #BBBBBB;
    .opacity(0.50);
    z-index: 900;
}


/* Style overrides for JQuery UI
----------------------------------------------------------*/

.ui-widget {
    font-size: 1em;
}


/* Style overrides for CkEditor
----------------------------------------------------------*/

.cke_skin_kama .cke_button_surveyLinkDialog .cke_label {
    display: inline !important;
}

.cke_skin_kama .cke_button_surveyLinkDialog .cke_icon {
    display: none !important;
}


/* STYLES FOR SONG PICKER CONTROLS
----------------------------------------------------------*/

#libraryContainer {
    width: 48%;
    padding: 8px;
    float: left;
}

#playlistContainer {
    width: 48%;
    padding: 8px;
    height: 100%;
    float: right;
}

#playlist {
    list-style-type: decimal;
    margin: 0;
    padding: 0;
    width: 100%;

    li {
        margin: 0 3px 3px 30px;
        padding: 2px;

        td .playButton {
            padding: 0 8px 0 4px;
        }
    }
}

.playlist-item {
    border: 0;
    margin: 0;
    padding: 0;
    width: auto;
    height: auto;
    display: inline-table;
    vertical-align: middle;

    td {
        border: 0;
        margin: 0;
        padding: 2px;
    }
}

.playlist-item-play {
    width: 0;
}

.playlist-item-handle {
    width: 28px;
    white-space: nowrap;
}

.playlist-artist-label {
    width: 100px;
    color: dimgrey;
}

.playlist-artist-value {
    width: 75%;
}

.playlist-title-label {
    width: 100px;
    color: dimgrey;
}

.playlist-title-value {
    width: 75%;
}

.playlist-library-label {
    width: 100px;
    color: dimgrey;
}

.playlist-library-value {
    width: 25%;
}

.playlist-length-label {
    width: 100px;
    color: dimgrey;
}

.playlist-length-value {
    width: 25%;
}

.ui-draggable-dragging {
    list-style-type: none;
}

.remove-item {
    cursor: pointer;
}
