﻿@using Airtime.Core;
@using Airtime.Data.Account
@using Airtime.Data.Messaging
@model Airtime.Models.Emails.EmailBlastEditModel 
@{
	ViewBag.Title = "Airtime Surveys - " + Resources.Emails.EditMarketingEmail;
	ViewBag.Section = SectionEnum.MarketingEmails;

	var commonAttributes = new Dictionary<string, object>();
	var disabled = Model.Disabled;
	if (disabled) {
		commonAttributes.Add("disabled", "disabled");
	}
}

@section Head {
	@Helpers.DateTimePickerScript()
	<script type="text/javascript">
		$(function() {
			var modelId = @Model.Id;

			function modelIsTransient() { return modelId === 0; }

			var criteriaTarget = $("#CriteriaTarget");
			var criteriaNumberOfMembers = $(".CriteriaNumberOfMembers");
			criteriaNumberOfMembers.change(function() {
				criteriaNumberOfMembers.not(this).val(this.value);
			});

			$(".accordion").accordion({
				heightStyle: "content",
				collapsible: false,
				active: $(".accordion h3").index($("h3[data-target=@Model.CriteriaTarget.ToString()]")),
				activate: function(event, ui) {
					criteriaTarget.val(ui.newHeader.data("target"));
				}
			});

			$(".cancel-button").click(function() {
				window.location.href = '@Html.Raw(Url.Action("Index", new {channelId = ViewContext.RouteData.Values["channelId"]}))';
			});

						@if (Model.GotTemplate) {
							<text>
				//By default when creating a new email, the Next button is disabled until the Preview button is clicked
				var bodyEditor = $("#Body.richtext");
				var nextButton = $(".submit-button");
				var previewButton = $(".preview-button");
				var previewMessage = $(".preview-message");
				if (bodyEditor.length && previewButton.length) {
					if (modelIsTransient()) {
						nextButton.attr("disabled", "disabled");
						previewMessage.show();
					}
					previewButton.click(function() {
						if (modelIsTransient()) {
							nextButton.removeAttr("disabled");
							previewMessage.hide();
						}
						var editor = bodyEditor.ckeditorGet();
						editor.execCommand("preview");
					});
				}
				</text>
						}
		});
	</script>
}


<h2>@Resources.Emails.EditMarketingEmail</h2>

@using (Html.BeginForm()) {
	@Html.ValidationSummary(false, Resources.Shared.PleaseCorrectErrors)

	<fieldset>
		<legend>@Resources.Emails.Scheduling</legend>

		<div class="editor-label">
			@Html.LabelFor(m => m.Status): @Model.Status.ToResourceString()
		</div>

		<div class="editor-label">
			@Html.LabelFor(m => m.ScheduleStartDate)
		</div>
		<div class="editor-field">
			@Html.EditorFor(m => m.ScheduleStartDate, new { Disabled = disabled })
			@Html.ValidationMessageFor(m => m.ScheduleStartDate)
		</div>
	</fieldset>

	<fieldset>
		<legend>@Resources.Emails.Targeting</legend>

		@Html.HiddenFor(m => m.CriteriaTarget)

		<div class="accordion">
			<h3 data-target="@EmailBlastTargetEnum.All_Members"><a href="#">@Resources.Emails.EntireDatabase</a></h3>
			<div>
				<p>@Resources.Emails.TargetEntireDatabase</p>
			</div>

			<h3 data-target="@EmailBlastTargetEnum.Random_Members"><a href="#">@Resources.Emails.RandomMembers</a></h3>
			<div>
				<div class="editor-label">
					@Html.LabelFor(m => m.CriteriaNumberOfMembers)
				</div>
				<div class="editor-field">
					@Html.TextBoxFor(m => m.CriteriaNumberOfMembers, new { @class = "short-input CriteriaNumberOfMembers" })
					@Html.ValidationMessageFor(m => m.CriteriaNumberOfMembers)
				</div>
			</div>

			<h3 data-target="@EmailBlastTargetEnum.Random_Members_Who_Completed"><a href="#">@Resources.Emails.RandomMembersWhoCompletedSurveys</a></h3>
			<div>
				<div class="editor-label">
					@Html.LabelFor(m => m.CriteriaNumberOfMembers)
				</div>
				<div class="editor-field">
					@Html.TextBoxFor(m => m.CriteriaNumberOfMembers, new { @class = "short-input CriteriaNumberOfMembers" })
					@Html.ValidationMessageFor(m => m.CriteriaNumberOfMembers)
				</div>

				<div class="editor-label">
					@Html.LabelFor(m => m.CriteriaLowerCompletedSurveyDate)
				</div>
				<div class="editor-field">
					@Html.EditorFor(m => m.CriteriaLowerCompletedSurveyDate) - @Html.EditorFor(m => m.CriteriaUpperCompletedSurveyDate)
					@Html.ValidationMessageFor(m => m.CriteriaLowerCompletedSurveyDate)
					@Html.ValidationMessageFor(m => m.CriteriaUpperCompletedSurveyDate)
				</div>
			</div>

			<h3 data-target="@EmailBlastTargetEnum.First_Members_To_Complete"><a href="#">@Resources.Emails.FirstMembersToCompleteMostRecentSurvey</a></h3>
			<div>
				<div class="editor-label">
					@Html.LabelFor(m => m.CriteriaNumberOfMembers)
				</div>
				<div class="editor-field">
					@Html.TextBoxFor(m => m.CriteriaNumberOfMembers, new { @class = "short-input CriteriaNumberOfMembers" })
					@Html.ValidationMessageFor(m => m.CriteriaNumberOfMembers)
				</div>
			</div>

			<h3 data-target="@EmailBlastTargetEnum.Active_Members"><a href="#">@Resources.Emails.ActiveMembers</a></h3>
			<div>
				<p>@Resources.Emails.TargetMembersWhoCompletedAtLeast</p>
			</div>

			<h3 data-target="@EmailBlastTargetEnum.Inactive_Members"><a href="#">@Resources.Emails.InactiveMembers</a></h3>
			<div>
				<p>@Resources.Emails.TargetMembersWhoDidNotCompleteAny</p>
			</div>

			<h3 data-target="@EmailBlastTargetEnum.Recent_Survey_Participants"><a href="#">@Resources.Emails.RecentSurveyParticipants</a></h3>
			<div>
				<p>@Resources.Emails.TargetMembersWhoCompletedLastSurvey</p>
			</div>

			<h3 data-target="@EmailBlastTargetEnum.Recent_Survey_Non_Participants"><a href="#">@Resources.Emails.RecentSurveyNonParticipants</a></h3>
			<div>
				<p>@Resources.Emails.TargetMembersWhoDidNotCompleteLastSurvey</p>
			</div>
		</div>
	</fieldset>

	<fieldset>
		<legend>@Resources.Emails.AdditionalFilters</legend>

		<div class="editor-label">
			@Html.LabelFor(m => m.CriteriaGender)
		</div>
		<div class="editor-field">
			@Html.RadioButtonFor(m => m.CriteriaGender, "", new { id = "CriteriaGenderAny" })@Html.Label("CriteriaGenderAny", Resources.Shared.Any)<br />
			@Html.RadioButtonFor(m => m.CriteriaGender, PersonGenderEnum.F, new { id = "CriteriaGenderFemale" })@Html.Label("CriteriaGenderFemale", PersonGenderEnum.F.ToResourceString())<br />
			@Html.RadioButtonFor(m => m.CriteriaGender, PersonGenderEnum.M, new { id = "CriteriaGenderMale" })@Html.Label("CriteriaGenderMale", PersonGenderEnum.M.ToResourceString())<br />
			@Html.ValidationMessageFor(m => m.CriteriaGender)
		</div>

		<div class="editor-label">
			@Html.LabelFor(m => m.CriteriaLowerAge)
		</div>
		<div class="editor-field">
			@Html.TextBoxFor(m => m.CriteriaLowerAge, new { @class = "short-input" }) - @Html.TextBoxFor(m => m.CriteriaUpperAge, new { @class = "short-input" })
			@Html.ValidationMessageFor(m => m.CriteriaLowerAge)
			@Html.ValidationMessageFor(m => m.CriteriaUpperAge)
		</div>

		<div class="editor-label">
			@Html.LabelFor(m => m.CriteriaOptInSurveys)
		</div>
		<div class="editor-field">
			@Html.RadioButtonFor(m => m.CriteriaOptInSurveys, "", new { id = "CriteriaOptInSurveysAny" })@Html.Label("CriteriaOptInSurveysAny", Resources.Shared.Any)<br />
			@Html.RadioButtonFor(m => m.CriteriaOptInSurveys, true, new { id = "CriteriaOptInSurveysYes" })@Html.Label("CriteriaOptInSurveysYes", Resources.Shared.Yes)<br />
			@Html.RadioButtonFor(m => m.CriteriaOptInSurveys, false, new { id = "CriteriaOptInSurveysNo" })@Html.Label("CriteriaOptInSurveysNo", Resources.Shared.No)<br />
			@Html.ValidationMessageFor(m => m.CriteriaOptInSurveys)
		</div>

		<div class="editor-label">
			@Html.LabelFor(m => m.CriteriaOptInNewsletters)
		</div>
		<div class="editor-field">
			@Html.RadioButtonFor(m => m.CriteriaOptInNewsletters, "", new { id = "CriteriaOptInNewslettersAny" })@Html.Label("CriteriaOptInNewslettersAny", Resources.Shared.Any)<br />
			@Html.RadioButtonFor(m => m.CriteriaOptInNewsletters, true, new { id = "CriteriaOptInNewslettersYes" })@Html.Label("CriteriaOptInNewslettersYes", Resources.Shared.Yes)<br />
			@Html.RadioButtonFor(m => m.CriteriaOptInNewsletters, false, new { id = "CriteriaOptInNewslettersNo" })@Html.Label("CriteriaOptInNewslettersNo", Resources.Shared.No)<br />
			@Html.ValidationMessageFor(m => m.CriteriaOptInNewsletters)
		</div>
	</fieldset>

	<fieldset>
		<legend>@Resources.Emails.Content</legend>

		<div class="editor-label">
			@Html.LabelFor(m => m.Subject)
		</div>
		<div class="editor-field">
			@Html.TextBoxFor(m => m.Subject, new Dictionary<string, object>(commonAttributes) { { "class", "long-input" } })
			@Html.ValidationMessageFor(m => m.Subject)
		</div>

		<div class="editor-label">
			@Html.LabelFor(m => m.Body)
		</div>
		@if (Model.GotTemplate) {
			@Html.HiddenFor(m => m.NoServerSideTemplate)
		} else {
			<div class="editor-field">
				@Html.CheckBoxFor(m => m.NoServerSideTemplate, commonAttributes)
				@if (disabled) {
					@Html.HiddenFor(m => m.NoServerSideTemplate)
				}
				@Html.LabelFor(m => m.NoServerSideTemplate)
			</div>
		}
		<div class="editor-field">
			@Html.ValidationMessageFor(m => m.Body)
			@Html.EditorFor(m => m.Body, new { height = "600px", Disabled = disabled })
		</div>
	</fieldset>

	<div class="preview-message instruction floatRight hidden">@Resources.Emails.YouMustPreviewBeforeNext</div>

	<nav>
		<button type="submit" name="submitAction" value="@SubmitActionEnum.Cancel" class="cancel-button cancel">@Resources.Shared.Cancel</button>
		@if (Model.GotTemplate) {
			<button type="button" class="preview-button">@Resources.Shared.Preview</button>
		}
		@if (!disabled) {
			<button type="submit" name="submitAction" value="@SubmitActionEnum.Save" class="submit-button">@Resources.Shared.Next</button>
		}
	</nav>
}
