﻿@using Airtime.Core;
@{
	ViewBag.Title = "Airtime Surveys - " + Resources.Shared.Emails;
	ViewBag.Section = SectionEnum.MarketingEmails;
}

<h2>@Resources.Shared.Emails</h2>

@using (Html.BeginForm()) {
	<nav>
		<button type="button" class="preview-button">@Resources.Shared.Preview</button>
		<button type="submit" name="submitAction" value="@SubmitActionEnum.Copy" class="copy-button">@Resources.Shared.Copy</button>
		<button type="submit" name="submitAction" value="@SubmitActionEnum.Add" class="add-button">@Resources.Shared.Add</button>
		<button type="button" name="submitAction" value="@SubmitActionEnum.Edit" class="edit-button">@Resources.Shared.Edit</button>
		<button type="submit" name="submitAction" value="@SubmitActionEnum.Delete" class="delete-button">@Resources.Shared.Delete</button>
	</nav>
	
	<table id="dataTable" class="dataTable">
		<thead>
			<tr>
				<th class="alignCenter">@Resources.DataTables.SelectAll</th>
				<th class="nowrap">@Resources.Emails.Status</th>				
				<th width="100%">@Resources.Emails.Subject</th>
				<th class="nowrap">@Resources.Emails.StartDate</th>
				<th class="nowrap">@Resources.Emails.Scheduled</th>
				<th class="nowrap">@Resources.Emails.Delivered</th>
				<th class="nowrap">@Resources.Emails.Failed</th>
			</tr>
		</thead>
		<tbody>
		</tbody>
	</table>

	<nav>
		<button type="button" class="preview-button">@Resources.Shared.Preview</button>
		<button type="submit" name="submitAction" value="@SubmitActionEnum.Copy" class="copy-button">@Resources.Shared.Copy</button>
		<button type="submit" name="submitAction" value="@SubmitActionEnum.Add" class="add-button">@Resources.Shared.Add</button>
		<button type="button" name="submitAction" value="@SubmitActionEnum.Edit" class="edit-button">@Resources.Shared.Edit</button>
		<button type="submit" name="submitAction" value="@SubmitActionEnum.Delete" class="delete-button">@Resources.Shared.Delete</button>
	</nav>
}

@section Head {
	@Html.RenderScript("~/bundles/datatables")
	<script type="text/javascript">
		$(function() {
			var dataTbody = $("#dataTable tbody");
			var dataTable = $("#dataTable").airtimeTable({
				AjaxSource : "@Html.Raw(Url.Action("List", new { channelId = Url.RequestContext.RouteData.Values["channelId"] }))",
				Columns : [
					{ Property: "Id", Title: "@Html.Raw(HttpUtility.JavaScriptStringEncode(Resources.DataTables.SelectAll))", CssClass: "alignCenter", Selectable: true, Sortable: false },
					{ Property: "StatusName", QueryOn:"Status", CssClass:"noWrap" },					
					{ Property: "Subject" },
					{ Property: "ScheduleStartDate", QueryOn: "Schedule.StartDate", CssClass:"noWrap alignCenter", DefaultSort: "desc" },
					{ Property: "StatisticsScheduled", QueryOn: "Statistics.Scheduled", CssClass:"noWrap alignCenter" },
					{ Property: "StatisticsDelivered", QueryOn: "Statistics.Delivered", CssClass:"noWrap alignCenter" },
					{ Property: "StatisticsFailed", QueryOn: "Statistics.Failed", CssClass:"noWrap alignCenter" }
				],
				Language: @Html.Partial("_DataTablesLanguagePartial"),
				DoubleClick: function(e) { editRow(dataTable.GetRowData(this).Id); }
			});

			function editRow(id) {
				$.post(
					"@Html.Raw(Url.Action("GetActionUrl", "Shared"))", {
						action:"@SubmitActionEnum.Edit",
						controller:"Emails",
						channelId:@ViewContext.RouteData.Values["channelId"],
						blastId:id
					},
					function(url) { window.location.href = url; }
				);
			}

			function getCurrentTopRowItemId() {
				var id = parseInt($("td.selectableColumn [name='IdSelection']:checkbox:checked:first", dataTbody).val(), 10);
				if (isNaN(id) || id <= 0) {
					id = parseInt($("td.selectableColumn [name='IdSelection']:checkbox:first", dataTbody).val(), 10);
				}
				return id;
			}

			$(".edit-button").click(function() {
				var itemId = getCurrentTopRowItemId();
				if (itemId > 0) {
					editRow(itemId);
				}
			});

			$(".preview-button").click(function() {
				var width = screen.availWidth < 1000 ? screen.availWidth : 1000;
				var height = screen.availHeight;
				var url = "@Html.Action("GetEmailPreviewUrl", "Shared", new { channelId = ViewContext.RouteData.Values["channelId"] })";
				var itemId = getCurrentTopRowItemId();
				if (itemId > 0) {
					url = url.replace("id=0", "id="+itemId);
					$.openWindow(url, "AirtimeEmailPreview", { width:width+"px", height:height+"px" });
				}
			});
		});
	</script>
}
