﻿@model IList<Airtime.Data.Messaging.EmailBlastOverview>

@{
	ViewBag.Title = "Email Overview";
	ViewBag.Section = SectionEnum.AdminTools;
}

<h2>Email Overview</h2>


@using (Html.BeginForm()) {
	<table class="dataTable">
		<thead>
			<tr>
				<th class="alignCenter width1">Status</th>
				<th class="width1">IDs (E-S-C)</th>
				<th>Source</th>
				<th>Subject</th>
				<th class="alignCenter">Start</th>
				<th class="alignCenter">End</th>
				<th class="alignCenter">Populated</th>
				<th class="alignCenter">First Delivered</th>
				<th class="alignCenter">Last Delivered</th>
				<th class="alignCenter width1">Scheduled</th>
				<th class="alignCenter width1">Delivered</th>
				<th class="alignCenter width1">Failed</th>
				<th class="alignCenter width1">Pending</th>
				<th class="alignCenter width1">Progress</th>
				<th class="alignCenter noWrap hidden"></th>
				<th class="alignCenter noWrap hidden"></th>
				<th class="alignCenter noWrap hidden"></th>
				<th class="alignCenter noWrap hidden"></th>
				<th class="alignCenter noWrap hidden"></th>
				<td class="hidden"></td>
			</tr>
		</thead>
		<tbody>
			@foreach (var email in Model) {
				<tr>
					<td>@email.Status</td>
					<td>@email.EmailId-@email.SurveyId-@email.ChannelId</td>
					<td>@email.Source</td>
					<td>@email.Subject</td>
					<td>@(email.Schedule.StartDate.HasValue ? email.Schedule.StartDate.Value.ToLocalTime().ToString("dd/MM/yyyy HH:mm:ss") : null)</td>
					<td>@(email.Schedule.EndDate.HasValue ? email.Schedule.EndDate.Value.ToLocalTime().ToString("dd/MM/yyyy HH:mm:ss") : null)</td>
					<td>@(email.Statistics.PopulatedTime.HasValue ? email.Statistics.PopulatedTime.Value.ToLocalTime().ToString("dd/MM/yyyy HH:mm:ss") : null)</td>
					<td>@(email.Statistics.FirstDeliveredTime.HasValue ? email.Statistics.FirstDeliveredTime.Value.ToLocalTime().ToString("dd/MM/yyyy HH:mm:ss") : null)</td>
					<td>@(email.Statistics.LastDeliveredTime.HasValue ? email.Statistics.LastDeliveredTime.Value.ToLocalTime().ToString("dd/MM/yyyy HH:mm:ss") : null)</td>
					<td>@email.Statistics.Scheduled</td>
					<td>@email.Statistics.Delivered</td>
					<td>@email.Statistics.Failed</td>
					<td>@email.Statistics.Pending</td>
					<td nowrap="nowrap">@String.Format("{0:P2}", email.Statistics.PercentCompleted)</td>
					<td class="alignCenter noWrap hidden">@(email.Schedule.StartDate.HasValue ? email.Schedule.StartDate.Value.Ticks : (long?)null)</td>
					<td class="alignCenter noWrap hidden">@(email.Schedule.EndDate.HasValue ? email.Schedule.EndDate.Value.Ticks : (long?)null)</td>
					<td class="alignCenter noWrap hidden">@(email.Statistics.PopulatedTime.HasValue ? email.Statistics.PopulatedTime.Value.Ticks : (long?)null)</td>
					<td class="alignCenter noWrap hidden">@(email.Statistics.FirstDeliveredTime.HasValue ? email.Statistics.FirstDeliveredTime.Value.Ticks : (long?)null)</td>
					<td class="alignCenter noWrap hidden">@(email.Statistics.LastDeliveredTime.HasValue ? email.Statistics.LastDeliveredTime.Value.Ticks : (long?)null)</td>
					<td class="hidden">@email.EmailId</td>
				</tr>
			}
		</tbody>
	</table>
	
	<nav>
		<button type="submit" name="submitAction" value="@SubmitActionEnum.Back" class="cancel-button cancel">@Resources.Shared.Back</button>
	</nav>
}


@section Head {
	@Html.RenderScript("~/bundles/datatables")
	<script type="text/javascript">
		$(function() {
			var dataTable = $(".dataTable").airtimeTable({
				ServerSide: false,
				Columns : [
					{ Title: "Status", Name:"Status", CssClass:"alignCenter", DefaultSort: "desc" },
					{ Title: "IDs (E-S-C)", Name:"Ids", CssClass:"noWrap", Visible:false },
					{ Title: "Source", Name:"Source", CssClass:"noWrap" },
					{ Title: "Subject", Name:"Subject", Visible:false },
					{ Title: "Start", CssClass:"alignCenter", DataSort:"StartDateTicks", DefaultSort: "asc" },
					{ Title: "End", CssClass:"alignCenter", DataSort:"EndDateTicks", Visible:false },
					{ Title: "Populated", CssClass:"alignCenter", DataSort:"PopulatedTimeTicks", DefaultSort: "asc" },
					{ Title: "First Delivered", CssClass:"alignCenter", DataSort:"FirstDeliveredTimeTicks", Visible:false },
					{ Title: "Last Delivered", CssClass:"alignCenter", DataSort:"LastDeliveredTimeTicks", Visible:false },
					{ Title: "Scheduled", CssClass:"alignCenter" },
					{ Title: "Delivered", CssClass:"alignCenter" },
					{ Title: "Failed", CssClass:"alignCenter", Visible:false },
					{ Title: "Pending", CssClass:"alignCenter" },
					{ Title: "Progress", CssClass:"alignCenter noWrap" },
					{ Name: "StartDateTicks", Internal: true },
					{ Name: "EndDateTicks", Internal: true },
					{ Name: "PopulatedTimeTicks", Internal: true },
					{ Name: "FirstDeliveredTimeTicks", Internal: true },
					{ Name: "LastDeliveredTimeTicks", Internal: true },
					{ Name: "Id", Internal: true }
				],
				Paginate: false,
				Language: @Html.Partial("_DataTablesLanguagePartial"),
				DoubleClick: function(e) { openEmailPreview(dataTable.GetRowData(this).Id); }
			});
			function openEmailPreview(emailId) {
				var id = parseInt(emailId, 10);
				if (id > 0) {
					var width = screen.availWidth < 1000 ? screen.availWidth : 1000;
					var height = window.innerHeight;
					var url = "@Html.Action("GetEmailPreviewUrl", "Shared")".replace("id=0", "id="+id);
					$.openWindow(url, "AirtimeEmailPreview", { width:width+"px", height:height+"px" });
				}
			}
		});
	</script>
}
