﻿@{
	ViewBag.Title = Resources.Shared.AdminTools;
	ViewBag.Section = SectionEnum.AdminTools;
}

<h2>@Resources.Shared.AdminTools</h2>


@using (Html.BeginForm()) {
	<div>
		<p>@Html.ActionLink("SCA Weekly Survey Links", "SurveyLinks")</p>
		<p>@Html.ActionLink("Loyalty Reports", "LoyaltyReports")</p>
		<p>@Html.ActionLink("Email Overview", "EmailOverview")</p>
	</div>
}
