﻿@{
	ViewBag.Title = "Loyalty Reports";
	ViewBag.Section = SectionEnum.AdminTools;
}

<h2>Loyalty Reports</h2>

@Html.ValidationSummary(false, Resources.Shared.PleaseCorrectErrors)

@using (Html.BeginForm()) {
	<div class="editor-label">
		@Html.Label("ChannelIds", "Channels")
	</div>
	<div class="editor-field">
		<select id="ChannelIds" name="ChannelIds" size="20" multiple="multiple">
			@foreach (var channel in ViewBag.Channels) {
				<option value="@channel.Id">@channel.AdminName</option>
			}
		</select>
	</div>

	<div class="editor-label">
		@Html.Label("FromDate", "Select Surveys That End Between")
	</div>
	<div class="editor-field">
		@Html.TextBox("FromDate", new DateTime(DateTime.Now.Year, 1, 1).ToShortDateString(), new { @class = "datepicker medium-input" })
		and
		@Html.TextBox("ToDate", DateTime.Now.ToShortDateString(), new { @class = "datepicker medium-input" })
	</div>


	<div class="editor-label">
		@Html.Label("MinimumInvited", "Minimum Invited")
	</div>
	<div class="editor-field">
		@Html.TextBox("MinimumInvited", 1, null, new { @class = "short-input" })
	</div>
	
	
	<div class="editor-label">
		@Html.Label("MinimumCompleted", "Minimum Completed")
	</div>
	<div class="editor-field">
		@Html.TextBox("MinimumCompleted", 1, null, new { @class = "short-input" })
	</div>
	
		
	<div class="editor-label">
		@Html.Label("MinimumLoyalty", "Minimum Loyalty Percentage")
	</div>
	<div class="editor-field">
		@Html.TextBox("MinimumLoyalty", 0, null, new { @class = "short-input" })
	</div>

		
	<nav>
		<button type="submit" name="submitAction" value="@SubmitActionEnum.Back" class="cancel-button cancel">@Resources.Shared.Back</button>
		<button type="submit" name="submitAction" value="@SubmitActionEnum.ExportAsExcel" class="cancel-button cancel">@Resources.Shared.ExportExcel</button>
	</nav>
}


@section Head {
	@Helpers.DateTimePickerScript()
}