﻿@inherits AirtimeViewPage
@{
	ViewBag.Title = "SCA Weekly Survey Links";
	ViewBag.Section = SectionEnum.AdminTools;
}

<h2>SCA Weekly Survey Links</h2>

<p>
	<i><b>Note:</b> Survey links shown below are blind SCA surveys that have not yet started. If there are multiple future surveys for any channel, these links may not be the correct ones.</i>
</p>

<fieldset>
	<p>
		Sydney under 35 (2Day)<br />
		@if (ViewBag.Surveys.ContainsKey("2Day Blind")) {
			@ConfigurationService.BuildAirtime1Url("/tokenlogin.aspx", String.Format(
				"sid={0}&lang=3&exttoken1=XXX&A=XX&G=XX&TL=XX&SM=XX&SC=XX,XX,XX&BM=XX&BS=XX,XX,XX&OC=XX",
				ViewBag.Surveys["2Day Blind"].Id
			))
		} else {
			<span class="error">CANNOT FIND SURVEY</span>
		}
	</p>
	<p>
		Sydney 33 & over (2MMM)<br />
		@if (ViewBag.Surveys.ContainsKey("2MMM Blind")) {
			@ConfigurationService.BuildAirtime1Url("/tokenlogin.aspx", String.Format(
				"sid={0}&lang=3&exttoken1=XXX&A=XX&G=XX&TL=XX&SM=XX&SC=XX,XX,XX&BM=XX&BS=XX,XX,XX&L1=XX&L2=XX&L3=XX",
				ViewBag.Surveys["2MMM Blind"].Id
			))
		} else {
			<span class="error">CANNOT FIND SURVEY</span>
		}
	</p>
	<br />
	<p>
		Melbourne under 35 (3Fox)<br />
		@if (ViewBag.Surveys.ContainsKey("3Fox Blind")) {
			@ConfigurationService.BuildAirtime1Url("/tokenlogin.aspx", String.Format(
				"sid={0}&lang=3&exttoken1=XXX&A=XX&G=XX&TL=XX&SM=XX&SC=XX,XX,XX&BM=XX&BS=XX,XX,XX&OC=XX",
				ViewBag.Surveys["3Fox Blind"].Id
			))
		} else {
			<span class="error">CANNOT FIND SURVEY</span>
		}
	</p>
	<p>
		Melbourne 33 & over (3MMM)<br />
		@if (ViewBag.Surveys.ContainsKey("3MMM Blind")) {
			@ConfigurationService.BuildAirtime1Url("/tokenlogin.aspx", String.Format(
				"sid={0}&lang=3&exttoken1=XXX&A=XX&G=XX&TL=XX&SM=XX&SC=XX,XX,XX&BM=XX&BS=XX,XX,XX&L1=XX&L2=XX&L3=XX",
				ViewBag.Surveys["3MMM Blind"].Id
			))
		} else {
			<span class="error">CANNOT FIND SURVEY</span>
		}
	</p>
	<br />
	<p>
		Brisbane under 35 (B105)<br />
		@if (ViewBag.Surveys.ContainsKey("B105 Blind")) {
			@ConfigurationService.BuildAirtime1Url("/tokenlogin.aspx", String.Format(
				"sid={0}&lang=3&exttoken1=XXX&A=XX&G=XX&TL=XX&SM=XX&SC=XX,XX,XX&BM=XX&BS=XX,XX,XX&OC=XX",
				ViewBag.Surveys["B105 Blind"].Id
			))
		} else {
			<span class="error">CANNOT FIND SURVEY</span>
		}
	</p>
	<p>
		Brisbane 35 & over (4MMM)<br />
		@if (ViewBag.Surveys.ContainsKey("4MMM Blind")) {
			@ConfigurationService.BuildAirtime1Url("/tokenlogin.aspx", String.Format(
				"sid={0}&lang=3&exttoken1=XXX&A=XX&G=XX&TL=XX&SM=XX&SC=XX,XX,XX&BM=XX&BS=XX,XX,XX&L1=XX&L2=XX&L3=XX",
				ViewBag.Surveys["4MMM Blind"].Id
			))
		} else {
			<span class="error">CANNOT FIND SURVEY</span>
		}
	</p>
	<br />
	<p>
		Adelaide under 35 (SAFM)<br />
		@if (ViewBag.Surveys.ContainsKey("SAFM Blind")) {
			@ConfigurationService.BuildAirtime1Url("/tokenlogin.aspx", String.Format(
				"sid={0}&lang=3&exttoken1=XXX&A=XX&G=XX&TL=XX&SM=XX&SC=XX,XX,XX&BM=XX&BS=XX,XX,XX&OC=XX",
				ViewBag.Surveys["SAFM Blind"].Id
			))
		} else {
			<span class="error">CANNOT FIND SURVEY</span>
		}
	</p>
	<p>
		Adelaide 35 & over (5MMM)<br />
		@if (ViewBag.Surveys.ContainsKey("5MMM Blind")) {
			@ConfigurationService.BuildAirtime1Url("/tokenlogin.aspx", String.Format(
				"sid={0}&lang=3&exttoken1=XXX&A=XX&G=XX&TL=XX&SM=XX&SC=XX,XX,XX&BM=XX&BS=XX,XX,XX&OC=XX",
				ViewBag.Surveys["5MMM Blind"].Id
			))
		} else {
			<span class="error">CANNOT FIND SURVEY</span>
		}
	</p>
	<br />
	<p>
		Perth under 35 (92.9)<br />
		@if (ViewBag.Surveys.ContainsKey("92.9 Blind")) {
			@ConfigurationService.BuildAirtime1Url("/tokenlogin.aspx", String.Format(
				"sid={0}&lang=3&exttoken1=XXX&A=XX&G=XX&TL=XX&SM=XX&SC=XX,XX,XX&BM=XX&BS=XX,XX,XX&OC=XX",
				ViewBag.Surveys["92.9 Blind"].Id
			))
		} else {
			<span class="error">CANNOT FIND SURVEY</span>
		}
	</p>
	<p>
		Perth 35 & over (MIXP)<br />
		@if (ViewBag.Surveys.ContainsKey("MIXP Blind")) {
			@ConfigurationService.BuildAirtime1Url("/tokenlogin.aspx", String.Format(
				"sid={0}&lang=3&exttoken1=XXX&A=XX&G=XX&TL=XX&SM=XX&SC=XX,XX,XX&BM=XX&BS=XX,XX,XX&OC=XX",
				ViewBag.Surveys["MIXP Blind"].Id
			))
		} else {
			<span class="error">CANNOT FIND SURVEY</span>
		}
	</p>
</fieldset>

@using (Html.BeginForm()) {
	<nav>
		<button type="submit" name="submitAction" value="@SubmitActionEnum.Back" class="cancel-button cancel">@Resources.Shared.Back</button>
	</nav>
}
