﻿@using Airtime.Data.Client;

@{
	ViewBag.Title = "Airtime Surveys - " + Resources.Shared.Home;
}

<div style="clear:both; text-align:center">
@if (Request.IsAuthenticated) {
	foreach (Channel channel in ViewBag.Channels) {
		<a href="@Url.Action("SelectChannel", new { channelID = channel.Id })" class="channel-selection">
			<span class="channel-link-icon">
				@if (!String.IsNullOrEmpty(channel.LogoUrl)) {
					<img src="@channel.LogoUrl" alt="@channel.Name" title="@channel.Name" />
				}
			</span>
			<span class="channel-link-name">
				@channel.AdminName
			</span>
		</a>
	}
}
</div>
