﻿@model Airtime.Models.Account.LogOnModel

@{
	ViewBag.Title = "Airtime Surveys - " + Resources.Account.LogOn;
}

@section Head {
	@Html.RenderScript("~/bundles/jqueryui")
	<script type="text/javascript">
		$(function() {
			$("select#cultureSelector").selectmenu().change(function() {
				window.location.replace($("option:selected", this).val());
			});
		});
	</script>
}


<h2>@Resources.Account.LogOn</h2>

@Helpers.CultureSelector("LogOn")

@Html.ValidationSummary(true, Resources.Account.LoginUnsuccessful)

@using (Html.BeginForm()) {
	<fieldset>
		<legend>@Resources.Account.AccountInformation</legend>

		<p>
			@Resources.Account.EnterUsernameAndPassword
		</p>

		<div class="editor-label">
			@Html.LabelFor(m => m.Username)
		</div>
		<div class="editor-field">
			@Html.TextBoxFor(m => m.Username)
			@Html.ValidationMessageFor(m => m.Username)
		</div>

		<div class="editor-label">
			@Html.LabelFor(m => m.Password)
		</div>
		<div class="editor-field">
			@Html.PasswordFor(m => m.Password)
			@Html.ValidationMessageFor(m => m.Password)
		</div>

		<div class="editor-label">
			@Html.CheckBoxFor(m => m.RememberMe)
			@Html.LabelFor(m => m.RememberMe)
		</div>

		<p>
			<button type="submit" name="submitAction" value="logon" class="submit-button">@Resources.Account.LogOn</button>
		</p>
		
		<input type="hidden" name="Email" value="." />
	</fieldset>
}
