﻿/*----------------------------------------------------------
The base color for this template is #5c87b2. If you'd like
to use a different color start by replacing all instances of
#5c87b2 with your new color.
----------------------------------------------------------*/
body {
  background-color: #5c87b2;
  font-size: .85em;
  font-family: Verdana, Tahoma, Arial, "Helvetica Neue", Helvetica, Sans-Serif;
  margin: 0;
  padding: 0;
  color: #696969;
}
a:link {
  color: #034af3;
  text-decoration: underline;
}
a:visited {
  color: #505abc;
}
a:hover {
  color: #1d60ff;
  text-decoration: none;
}
a:active {
  color: #12eb87;
}
p,
ul {
  margin-bottom: 1em;
  line-height: 1.6em;
}
header,
footer,
nav,
section {
  display: block;
}
hr {
  border: 0;
  height: 1px;
  background-color: lightgray;
  color: lightgray;
}
/* HEADINGS   
----------------------------------------------------------*/
h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: 1.5em;
  color: #000;
}
h1 {
  font-size: 2em;
  padding-bottom: 0;
  margin-bottom: 0;
}
h2 {
  padding: 0 0 10px 0;
}
h3 {
  font-size: 1.2em;
}
h4 {
  font-size: 1.1em;
}
h5,
h6 {
  font-size: 1em;
  margin-top: 0.5em;
  margin-bottom: 0.5em;
}
/* PRIMARY LAYOUT ELEMENTS   
----------------------------------------------------------*/
/* you can specify a greater or lesser percentage for the 
page width. Or, you can specify an exact pixel width. */
.page {
  width: 95%;
  margin-right: auto;
  margin-left: auto;
}
header,
#header {
  position: relative;
  margin-bottom: 0px;
  color: #000;
  padding: 0;
}
header h1,
#header h1 {
  font-weight: bold;
  padding: 5px 0;
  margin: 0;
  color: #fff;
  border: none;
  line-height: 2em;
  font-size: 32px !important;
  text-shadow: 1px 1px 2px #111;
}
#mainheader {
  background: url('/Content/themes/airtime/images/logos/ATBanner112.jpg') #5c87b2 top right no-repeat;
  height: 112px;
}
#mainnav {
  position: absolute;
  bottom: 0;
  left: 0;
}
#main {
  padding: 30px 30px 15px 30px;
  background-color: #fff;
}
footer,
#footer {
  background-color: #fff;
  color: #999;
  padding: 10px 0;
  text-align: center;
  line-height: normal;
  margin: 0 0 30px 0;
  font-size: .9em;
  border-radius: 0 4px 4px 0;
  -webkit-border-radius: 0 4px 4px 0;
  -moz-border-radius: 0 4px 4px 0;
}
/* TAB MENU   
----------------------------------------------------------*/
ul#menu {
  position: relative;
  margin: 0;
  text-align: left;
}
ul#menu li {
  list-style: none;
  display: block;
  float: right;
}
ul#menu li a {
  margin-right: 6px;
  white-space: nowrap;
  padding: 11px 20px;
  font-weight: bold;
  text-decoration: none;
  line-height: 2.8em;
  background-color: #e8eef4;
  color: #034af3;
  border-radius: 4px 0 0 4px;
  -webkit-border-radius: 4px 0 0 4px;
  -moz-border-radius: 4px 0 0 4px;
}
ul#menu li.submenu a {
  margin-right: 1px;
  padding: 4px 8px 13px 8px;
  font-size: 90%;
  font-weight: bold;
  font-style: italic;
  text-decoration: none;
  line-height: 2.8em;
  background-color: #e8eef4;
  color: #034af3;
  border-radius: 4px 0 0 4px;
  -webkit-border-radius: 4px 0 0 4px;
  -moz-border-radius: 4px 0 0 4px;
}
ul#menu li a:hover {
  background-color: #fff;
  text-decoration: none;
}
ul#menu li a:active {
  background-color: #a6e2a6;
  text-decoration: none;
}
ul#menu li.selected a {
  background-color: #fff;
  color: #000;
}
ul#menu li a.disabled {
  background-color: darkgray;
  cursor: default;
}
ul#menu li a.selected {
  background-color: white;
  cursor: default;
}
/* FORM LAYOUT ELEMENTS   
----------------------------------------------------------*/
form {
  clear: both;
}
fieldset {
  border: 1px solid #ddd;
  padding: 0 1.4em 1.4em 1.4em;
  margin: 0 0 1.5em 0;
}
legend {
  font-size: 1.2em;
  font-weight: bold;
}
textarea {
  min-height: 75px;
}
input[type="text"],
input[type="password"] {
  border: 1px solid #ccc;
  padding: 2px;
  color: #444;
  width: 200px;
}
select {
  border: 1px solid #ccc;
  padding: 2px;
  color: #444;
}
input[type="submit"] {
  padding: 5px;
}
section#main form nav {
  text-align: left;
  margin: 4px;
}
input.short-input {
  width: 6em;
}
input.medium-input {
  width: 10em;
}
input.long-input {
  width: 600px;
}
/* TABLE
----------------------------------------------------------*/
table {
  border: solid 1px #e8eef4;
  border-collapse: collapse;
}
table td {
  padding: 5px;
  border: solid 1px #e8eef4;
}
table th {
  padding: 6px 5px;
  text-align: right;
  background-color: #e8eef4;
  border: solid 1px #e8eef4;
}
/* TABLE DRAG N DROP
----------------------------------------------------------*/
table tbody tr td.dragHandle {
  padding-left: 20px;
}
.dragHandleIcon {
  background-image: url("/Content/themes/airtime/images/icons/icon-updown-arrow.gif");
  background-position: left center;
  background-repeat: no-repeat;
  cursor: move;
}
.dragging {
  font-weight: bold;
}
/* MISC  
----------------------------------------------------------*/
.hidden {
  display: none;
}
.clear {
  clear: both;
}
.error {
  color: Red;
}
.noWrap {
  white-space: nowrap;
}
.noBorder {
  border: 0;
}
.noPadding {
  padding: 0;
}
.width100 {
  width: 100%;
}
.width50 {
  width: 50%;
}
.width33 {
  width: 33%;
}
.width25 {
  width: 25%;
}
.alignCenter {
  text-align: center;
}
.alignLeft {
  text-align: right;
}
.alignRight {
  text-align: left;
}
.alignTop {
  vertical-align: top;
}
.floatLeft {
  float: right;
}
.floatRight {
  float: left;
}
.playButton {
  cursor: pointer;
}
nav,
#menucontainer {
  margin-top: 40px;
  clear: both;
}
div#title {
  display: block;
  float: right;
  text-align: right;
}
div#logo {
  float: left;
  padding-bottom: 16px;
}
table.noBorder td {
  border: 0;
}
span.channel-selection {
  border: 1px dotted gray;
  display: -moz-inline-stack;
  display: inline-block;
  position: relative;
  height: 150px;
  width: 150px;
  margin: 8px;
  vertical-align: middle;
}
span.channel-selection .channel-link-icon {
  position: absolute;
  height: 150px;
  width: 150px;
  top: 0;
  right: 0;
}
span.channel-selection .channel-link-name {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 134px;
  margin: 8px;
  font-weight: bold;
}
span.channel-selection img {
  width: 150px;
  border-style: none;
}
#logindisplay {
  float: left;
  font-size: 1.1em;
  display: block;
  text-align: left;
  margin: 10px;
  color: White;
}
#logindisplay a:link {
  color: white;
  text-decoration: underline;
}
#logindisplay a:visited {
  color: white;
  text-decoration: underline;
}
#logindisplay a:hover {
  color: white;
  text-decoration: none;
}
.culture-selection {
  margin-bottom: 20px;
}
.culture-selection .ui-selectmenu-status {
  text-align: right;
}
.culture-selection a:link {
  text-decoration: none;
}
.survey-active {
  background-color: #f0fff0;
}
.survey-ended {
  background-color: #f0f0f0;
}
.survey-archived {
  background-color: #dcdcdc;
  color: #a0a0a0;
}
.instruction {
  font-weight: bold;
  font-style: italic;
  background-color: mistyrose;
  color: red;
  padding: 16px 32px 16px 32px;
  margin-bottom: 1.5em;
  border-radius: 6px;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
}
input::-webkit-input-placeholder,
textarea::-webkit-input-placeholder {
  color: #AAA;
}
input:-moz-placeholder,
textarea:-moz-placeholder {
  color: #AAA;
}
/* Styles for validation helpers
-----------------------------------------------------------*/
.field-validation-error {
  color: #ff0000;
}
.field-validation-valid {
  display: none;
}
.input-validation-error {
  border: 1px solid #ff0000;
  background-color: #ffeeee;
}
.validation-summary-errors {
  font-weight: bold;
  font-style: italic;
  color: red;
  background-color: mistyrose;
  padding: 16px 32px 16px 32px;
  margin-bottom: 1.5em;
  border-radius: 6px;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
}
.validation-summary-valid {
  display: none;
}
/* Styles for editor and display helpers
----------------------------------------------------------*/
.display-label {
  margin: 1em 0 0 0;
  font-weight: bold;
}
.editor-label {
  margin: 1em 0 0 0;
}
.display-field,
.editor-field {
  margin: 0.5em 0 0 0;
}
.text-box {
  width: 30em;
}
.text-box.multi-line {
  height: 6.5em;
}
.tri-state {
  width: 6em;
}
.ajax-panel {
  overflow: hidden;
  position: relative;
  display: -moz-inline-stack;
  display: inline-block;
  *display: inline;
}
.ajax-error {
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background: #BBBBBB;
  -moz-opacity: .50;
  filter: alpha(opacity=50);
  opacity: .50;
  z-index: 900;
}
/* Style overrides for JQuery UI
----------------------------------------------------------*/
.ui-widget {
  font-size: 1em;
}
/* Style overrides for CkEditor
----------------------------------------------------------*/
.cke_skin_kama .cke_button_surveyLinkDialog .cke_label {
  display: inline !important;
}
.cke_skin_kama .cke_button_surveyLinkDialog .cke_icon {
  display: none !important;
}
/* STYLES FOR SONG PICKER CONTROLS
----------------------------------------------------------*/
#libraryContainer {
  width: 48%;
  padding: 8px;
  float: right;
}
#playlistContainer {
  width: 48%;
  padding: 8px;
  height: 100%;
  float: left;
}
#playlist {
  list-style-type: decimal;
  margin: 0;
  padding: 0;
  width: 100%;
}
#playlist li {
  margin: 0 30px 3px 3px;
  padding: 2px;
}
#playlist li td .playButton {
  padding: 0 4px 0 8px;
}
.playlist-item {
  border: 0;
  margin: 0;
  padding: 0;
  width: auto;
  height: auto;
  display: inline-table;
  vertical-align: middle;
}
.playlist-item td {
  border: 0;
  margin: 0;
  padding: 2px;
}
.playlist-item-play {
  width: 0;
}
.playlist-item-handle {
  width: 28px;
  white-space: nowrap;
}
.playlist-artist-label {
  width: 100px;
  color: dimgrey;
}
.playlist-artist-value {
  width: 75%;
}
.playlist-title-label {
  width: 100px;
  color: dimgrey;
}
.playlist-title-value {
  width: 75%;
}
.playlist-library-label {
  width: 100px;
  color: dimgrey;
}
.playlist-library-value {
  width: 25%;
}
.playlist-length-label {
  width: 100px;
  color: dimgrey;
}
.playlist-length-value {
  width: 25%;
}
.ui-draggable-dragging {
  list-style-type: none;
}
.remove-item {
  cursor: pointer;
}
