﻿@using Airtime.Data.Surveying.Questions
@model Airtime.Models.Questions.QuestionEditModel

@{
	switch (Model.QuestionType) {
		case QuestionTypeEnum.RADIO: ViewBag.PageHeading = Resources.Questions.EditMultiChoiceSingleAnswer; break;
		case QuestionTypeEnum.CHECKBOX: ViewBag.PageHeading = Resources.Questions.EditMultiChoiceMultiAnswer; break;
		case QuestionTypeEnum.AUDIO: ViewBag.PageHeading = Resources.Questions.EditMultiChoiceAudioSingleAnswer; break;
		default: ViewBag.PageHeading = Resources.Questions.EditMultipleChoiceQuestion; break;
	}
	ViewBag.Title = "Airtime Surveys - " + ViewBag.PageHeading;
	ViewBag.Section = SectionEnum.SurveysQuestions;
}

<h2>@ViewBag.PageHeading</h2>

@using (Html.BeginForm()) {
	@Html.ValidationSummary(false, Resources.Shared.PleaseCorrectErrors)

	<fieldset>
		<legend>@Resources.Questions.QuestionEditor</legend>

		@Html.HiddenFor(model => model.Id)
		@Html.HiddenFor(model => model.QuestionType)

		<div class="editor-label">
			@Html.LabelFor(model => model.Name)
		</div>
		<div class="editor-field">
			@Html.TextBoxFor(model => model.Name, new { @class = "long-input" })
			@Html.ValidationMessageFor(model => model.Name)
		</div>

		<div class="editor-label">
			@Html.LabelFor(model => model.Content)
		</div>
		<div class="editor-field">
			@Html.EditorFor(model => model.Content)
			@Html.ValidationMessageFor(model => model.Content)
		</div>
	</fieldset>

	if (Model.QuestionType == QuestionTypeEnum.AUDIO) {
		<div class="clear"></div>
		@Html.EditorFor(q => q.Songs, new { MaximumSongs = 1 })
		<div class="clear"></div>
	}
	
	<fieldset>
		<legend>@Resources.Questions.Choices</legend>

		<nav>
			<button type="button" class="add-station-list-button">@Resources.Questions.AddStationList</button>
			<button type="button" class="add-button">@Resources.Shared.Add</button>
			<button type="button" class="edit-button">@Resources.Shared.Edit</button>
			<button type="button" class="delete-button">@Resources.Shared.Delete</button>
		</nav>

		<div>
			<div class="ui-toolbar ui-widget-header ui-corner-tl ui-corner-tr ui-helper-clearfix">&nbsp;</div>
			<table id="choicesTable" class="dataTable">
				<thead>
					<tr>
						<th class="ui-state-default alignCenter selectableColumn"><input type="checkbox" title="@Resources.DataTables.SelectAll" /></th>
						<th class="ui-state-default alignRight noWrap">@Resources.Questions.Position</th>
						<th class="ui-state-default" width="100%">@Resources.Questions.Choice</th>
						<th class="ui-state-default noWrap">@Resources.Questions.BranchTo</th>
						<th class="ui-state-default hidden"></th>
					</tr>
				</thead>
				<tbody>
				</tbody>
			</table>
			<div class="ui-toolbar ui-widget-header ui-corner-bl ui-corner-br ui-helper-clearfix">&nbsp;</div>
		</div>
		<br/>
	
		<nav>
			<button type="button" class="add-station-list-button">@Resources.Questions.AddStationList</button>
			<button type="button" class="add-button">@Resources.Shared.Add</button>
			<button type="button" class="edit-button">@Resources.Shared.Edit</button>
			<button type="button" class="delete-button">@Resources.Shared.Delete</button>
		</nav>

	</fieldset>
	
	<nav>
		<button type="submit" name="submitAction" value="cancel" class="cancel-button cancel">@Resources.Shared.Cancel</button>
		<button type="submit" name="submitAction" value="save" class="submit-button">@Resources.Shared.Next</button>
	</nav>

	<div id="addChoiceDialog" class="hidden">
		<div class="editor-label">
			@Html.Label("AddChoiceName", @Resources.Questions.Choice)
		</div>
		<div class="editor-field">
			@Html.TextBox("AddChoiceName", "", new { @class = "long-input" })
		</div>

		<div class="editor-label">
			@Html.Label("AddBranchToQuestion", @Resources.Questions.BranchToQuestion)
		</div>
		<div class="editor-field">
			<select id="AddBranchToQuestion" name="AddBranchToQuestion">
				<option>@Resources.Shared.None</option>
			</select>
		</div>
	</div>

	
	<div id="editChoiceDialog" class="hidden">
		<div class="editor-label">
			@Html.Label("EditChoiceName", @Resources.Questions.Choice)
		</div>
		<div class="editor-field">
			@Html.TextBox("EditChoiceName", "", new { @class = "long-input" })
		</div>

		<div class="editor-label">
			@Html.Label("EditBranchToQuestion", @Resources.Questions.BranchToQuestion)
		</div>
		<div class="editor-field">
			<select id="EditBranchToQuestion" name="EditBranchToQuestion">
				<option>@Resources.Shared.None</option>
			</select>
		</div>
	</div>
}

@if (Model.QuestionType == QuestionTypeEnum.AUDIO) {
	using (Html.BeginForm("Upload", "Media", new {channelId = Url.RequestContext.RouteData.Values["channelId"]}, FormMethod.Post, new {id = "uploadForm"})) {
		<fieldset style="clear: both">
			<legend>@Resources.Media.UploadNewSong</legend>

			<div class="editor-label">
				@Resources.Media.Artist
			</div>
			<div class="editor-field">
				@Html.TextBox("Artist", "", new {@class = "long-input required"})
			</div>

			<div class="editor-label">
				@Resources.Media.Title
			</div>
			<div class="editor-field">
				@Html.TextBox("Title", "", new {@class = "long-input required"})
			</div>

			@foreach (var field in ViewBag.CustomSongFields) {
				<div class="editor-label">
					@field.Name
				</div>
				<div class="editor-field">
					<input class="long-input customField" id="@field.Name" name="@field.Name" type="text" />
				</div>
			}

			<div class="editor-label">
				@Resources.Media.File
			</div>
			<div class="editor-field">
				<input type="file" name="File" id="File" style="width: 500px" class="required" />
			</div>

			<br />
			<button type="submit" name="submitAction" value="upload" id="uploadButton">@Resources.Questions.UploadToPlaylist</button>
			<br />

			<div id="uploadOutput"></div>
		</fieldset>
	}
}


@section Head {
	<script id="choiceRowTemplate" type="text/x-jquery-tmpl">
		<tr>
			<td class="alignCenter selectableCell"><input type="checkbox" value="${Id}" /><input type="hidden" value="${Id}" name="Choices[${Position}].Id" /></td>
			<td class="noWrap alignRight dragHandle">${Position+1}<input type="hidden" value="${Position}" name="Choices[${Position}].Position" /></td>
			<td>${Name}<input type="hidden" value="${Name}" name="Choices[${Position}].Name" /></td>
			<td class="noWrap">${BranchQuestionName}<input type="hidden" value="${BranchQuestionId}" name="Choices[${Position}].BranchQuestionId" /></td>
		</tr>
	</script>

	<script id="branchOptionTemplate" type="text/x-jquery-tmpl">
		<option value="${Id}">{{if Position>3}}${Position-3}{{else}}@Resources.Questions.End{{/if}}. ${Name}</option>
	</script>

	@Html.RenderScript("~/bundles/datatables")
	@Html.RenderScript("~/bundles/ajaxforms")
	<script type="text/javascript">
		$(function() {
			var branchesData = @Html.Raw(ViewBag.Branches);
			var choicesData = @Html.Raw(ViewBag.Choices);
			var stationNames = @Html.Raw(ViewBag.StationNames);

			var form = $("form:first");
			var addChoiceInput = $("#AddChoiceName");
			var addBranchInput = $("#AddBranchToQuestion");
			var editChoiceInput = $("#EditChoiceName");
			var editBranchInput = $("#EditBranchToQuestion");

			var choicesTable = $("#choicesTable").data("data", choicesData);
			var choicesTbody = $("#choicesTable tbody");
			var choiceRowTemplate = $("#choiceRowTemplate");
			var branchOptionTemplate = $("#branchOptionTemplate");

			
			choiceRowTemplate.tmpl(choicesData).appendTo(choicesTbody.empty());
			branchOptionTemplate.tmpl(branchesData).appendTo(addBranchInput);
			branchOptionTemplate.tmpl(branchesData).appendTo(editBranchInput);


			function addChoice(choiceName, branchQuestionId) {
				if (isNaN(branchQuestionId)) {
					branchQuestionId = 0;
				}

				var choices = choicesTable.data("data");

				var newPosition = 0;
				if (choices.length > 0) {
					newPosition = $.Enumerable.From(choices).Max(function(x) { return x.Position + 1; });
				}

				var branchQuestionName = "";
				if (branchQuestionId > 0) {
					branchQuestionName = $.Enumerable.From(branchesData).Where(function(x) { return x.Id === branchQuestionId; }).First().Name;
				}

				var choice = {
					Id: 0,
					Name: choiceName,
					BranchQuestionId: branchQuestionId,
					BranchQuestionName: branchQuestionName,
					Position: newPosition
				};
				choices.push(choice);
				choiceRowTemplate.tmpl(choice).appendTo(choicesTbody);
			}


			var addChoiceDialog = $("#addChoiceDialog").dialog({
				title: "@Html.Raw(HttpUtility.JavaScriptStringEncode(Resources.Questions.AddNewChoice))",
				autoOpen: false,
				modal: true,
				width: "630px",
				minWidth: 200,
				minHeight: 180,
				open: function (event, ui) {
					addChoiceInput.focus();
				},
				close: function (event, ui) {
					addChoiceInput.val("");
					editBranchInput.val("");
				},
				buttons: [
					{
						"data-action": "close",
						text: "@Html.Raw(HttpUtility.JavaScriptStringEncode(Resources.Shared.Close))",
						click: function() { $(this).dialog("close"); }
					},
					{
						"data-action": "ok",
						text: "@Html.Raw(HttpUtility.JavaScriptStringEncode(Resources.Shared.Add))",
						click: function() {
							var choiceName = $.trim(addChoiceInput.val());
							if (choiceName.length > 0) {
								addChoice(choiceName, parseInt(addBranchInput.val(), 10));
								addChoiceInput.val("").focus();
								addBranchInput.val("");
							}
						}
					}
				]
			});

			
			var editChoiceDialog = $("#editChoiceDialog").dialog({
				title: "@Html.Raw(HttpUtility.JavaScriptStringEncode(Resources.Questions.EditChoice))",
				autoOpen: false,
				modal: true,
				width: "630px",
				minWidth: 200,
				minHeight: 180,
				open: function(event, ui) {
					var choice = $(this).data("edit-item");
					editChoiceInput.val(choice.Name).focus();
					editBranchInput.val(choice.BranchQuestionId);
				},
				close: function (event, ui) {
					$(this).removeData("edit-row");
					$(this).removeData("edit-item");
					editChoiceInput.val("");
					editBranchInput.val("");
				},
				buttons: [
					{
						"data-action": "close",
						text: "@Html.Raw(HttpUtility.JavaScriptStringEncode(Resources.Shared.Cancel))",
						click: function() { $(this).dialog("close"); }
					},
					{
						"data-action": "ok",
						text: "@Html.Raw(HttpUtility.JavaScriptStringEncode(Resources.Shared.Save))",
						click: function() {
							var choiceName = $.trim(editChoiceInput.val());
							if (choiceName.length > 0) {
								var branchQuestionId = parseInt(editBranchInput.val(), 10);
								if (isNaN(branchQuestionId)) {
									branchQuestionId = 0;
								}

								var branchQuestionName = "";
								if (branchQuestionId > 0) {
									branchQuestionName = $.Enumerable.From(branchesData).Where(function(x) { return x.Id == branchQuestionId; }).First().Name;
								}

								var choice = $(this).data("edit-item");
								choice.Name = choiceName;
								choice.BranchQuestionId = branchQuestionId;
								choice.BranchQuestionName = branchQuestionName;

								var row = $(this).data("edit-row");
								$(row).replaceWith(choiceRowTemplate.tmpl(choice));

								$(this).dialog("close");
							}
						}
					}
				]
			});

		
			$(".ui-dialog").keyup(function(e) {
				if (e.keyCode == 13) {
					$(":button[data-action='ok']", this).click();
				}
			});


			$(".selectableColumn :checkbox", choicesTable).click(function(event) {
				var checked = this.checked;
				$(".selectableCell :checkbox", choicesTable).each(function() {
					this.checked = checked;
				});
				return true;
			});

			$(choicesTbody).on({
				"mouseenter": function() {
					$(".dragHandle", this).addClass("dragHandleIcon");
				},
				"mouseleave": function() {
					$(".dragHandle", this).removeClass("dragHandleIcon");
				}
			}, "tr:not(.nodrag)");

			$(choicesTbody).tableDnD({
				onDrop: function(table, row) {
					var choices = [];
					var dirtyTable = false;

					choicesTbody.find("tr").each(function(index) {
						var dataItem = $.tmplItem(this).data;
						if (dataItem.Position != index) {
							dataItem.Position = index;
							dirtyTable = true;
						}
						choices.push(dataItem);
					});

					if (dirtyTable) {
						choicesTable.data("data", choices);
						choiceRowTemplate.tmpl(choices).appendTo(choicesTbody.empty());
					}
				},
				onDragClass: "dragging",
				dragHandle: "tr:not(.nodrag) td.dragHandle",
				scrollAmount: 25
			});

			
			$(choicesTbody).on("dblclick", "tr", function(event) {
				editChoiceDialog.data("edit-row", this);
				editChoiceDialog.data("edit-item", $.tmplItem(this).data);
				editChoiceDialog.dialog("open");
			});


			$(".add-station-list-button").click(function () {
				for (var i=0; i<stationNames.length; i++) {
					addChoice(stationNames[i], 0);
				}
			});

			
			$(".add-button").click(function() {
				addChoiceDialog.dialog("open");
			});

			
			$(".edit-button").click(function() {
				choicesTbody.find(".selectableCell :checkbox:checked:first").closest("tr").each(function() {
					editChoiceDialog.data("edit-row", this);
					editChoiceDialog.data("edit-item", $.tmplItem(this).data);
				});
				editChoiceDialog.dialog("open");
			});

			
			$(".delete-button").click(function() {
				var dirtyTable = false;

				choicesTbody.find(".selectableCell :checkbox:checked").closest("tr").each(function() {
					$(this).remove();
					dirtyTable = true;
				});

				if (dirtyTable) {
					var choices = [];
					choicesTbody.find("tr").each(function(index) {
						var dataItem = $.tmplItem(this).data;
						dataItem.Position = index;
						choices.push(dataItem);
					});
					choicesTable.data("data", choices);
					choiceRowTemplate.tmpl(choices).appendTo(choicesTbody.empty());
				}
			});

			$(".cancel-button").click(function() {
				window.location.href = '@Html.Raw(Url.Action("Index", new { channelId = ViewContext.RouteData.Values["channelId"], surveyId = ViewContext.RouteData.Values["surveyId"] }))';
			});
		});
	</script>

	@if (Model.QuestionType == QuestionTypeEnum.AUDIO) {
		<script type="text/javascript">
			$(function() {
				var playlistContainer = $("#playlistContainer");
				var uploadOutput = $("#uploadOutput");
				var uploadFile = $("#File");
				var uploadArtist = $("#Artist");
				var uploadTitle = $("#title");
				var uploadCustomFields = $(".customField");
				$("#uploadForm").ajaxForm({
					clearForm: true,
					dataType: "json",
					beforeSubmit: function(a, f, o) {
						o.dataType = "json";
						uploadOutput.html("@Html.Raw(HttpUtility.JavaScriptStringEncode(Resources.Questions.Uploading))");
					},
					success: function(data) {
						var addSong = playlistContainer.data("addSong");
						addSong(data);
						$("#libraryTable").dataTable().fnDraw(true);
						uploadOutput.html("");
						uploadFile.val("");
						uploadCustomFields.val("");
					},
					error: function () {
						uploadOutput.html("<span class='error'>@Resources.Shared.Error</span>");
						alert("@Html.Raw(HttpUtility.JavaScriptStringEncode(Resources.Questions.SelectedFileCouldNotBeUploaded))");
					}
				}).validate();
				$(".cancel-button").click(function() {
					window.location.href = '@Html.Raw(Url.Action("Index", new { channelId = ViewContext.RouteData.Values["channelId"], surveyId = ViewContext.RouteData.Values["surveyId"] }))';
				});
			});
		</script>
	}

}
