﻿@model Airtime.Models.Questions.QuestionEditModel

@{
	ViewBag.Title = "Airtime Surveys - " + Resources.Questions.EditOpenEndedQuestion;
	ViewBag.Section = SectionEnum.SurveysQuestions;
}

@section Head {
	<script type="text/javascript">
		$(function() {
			$(".cancel-button").click(function() {
				window.location.href = '@Html.Raw(Url.Action("Index", new { channelId = ViewContext.RouteData.Values["channelId"], surveyId = ViewContext.RouteData.Values["surveyId"] }))';
			});
		});
	</script>
}

<h2>@Resources.Questions.EditOpenEndedQuestion</h2>

@using (Html.BeginForm()) {
	@Html.ValidationSummary(false, Resources.Shared.PleaseCorrectErrors)

	<fieldset>
		<legend>@Resources.Questions.QuestionEditor</legend>

		@Html.HiddenFor(model => model.Id)

		<div class="editor-label">
			@Html.LabelFor(model => model.Name)
		</div>
		<div class="editor-field">
			@Html.TextBoxFor(model => model.Name, new { @class = "long-input" })
			@Html.ValidationMessageFor(model => model.Name)
		</div>

		<div class="editor-label">
			@Html.LabelFor(model => model.Content)
		</div>
		<div class="editor-field">
			@Html.EditorFor(model => model.Content)
			@Html.ValidationMessageFor(model => model.Content)
		</div>
	</fieldset>

	<nav>
		<button type="submit" name="submitAction" value="cancel" class="cancel-button cancel">@Resources.Shared.Cancel</button>
		<button type="submit" name="submitAction" value="save" class="submit-button">@Resources.Shared.Next</button>
	</nav>
}
