﻿@using Airtime.Data.Account
@using Airtime.Models.Questions;

@inherits AirtimeViewPage<Airtime.Models.Questions.QuestionEditModel>

@{
	ViewBag.Title = "Airtime Surveys - " + Resources.Questions.EditSongsQuestion;
	ViewBag.Section = SectionEnum.SurveysQuestions;
}

@section Head {
	@Html.RenderScript("~/bundles/ajaxforms")
	<script type="text/javascript">
		$(function() {
			var playlistContainer = $("#playlistContainer");
			var uploadOutput = $("#uploadOutput");
			var uploadFile = $("#File");
			var uploadArtist = $("#Artist");
			var uploadTitle = $("#title");
			var uploadCustomFields = $(".customField");
			$("#uploadForm").ajaxForm({
				clearForm: true,
				dataType: "json",
				beforeSubmit: function(a, f, o) {
					o.dataType = "json";
					uploadOutput.html("@Html.Raw(HttpUtility.JavaScriptStringEncode(Resources.Questions.Uploading))");
				},
				success: function(data) {
					var addSong = playlistContainer.data("addSong");
					addSong(data);
					$("#libraryTable").dataTable().fnDraw(true);
					uploadOutput.html("");
					uploadFile.val("");
					uploadCustomFields.val("");
				},
				error: function () {
					uploadOutput.html("<span class='error'>@Html.Raw(HttpUtility.JavaScriptStringEncode(Resources.Shared.Error))</span>");
					alert("@Html.Raw(HttpUtility.JavaScriptStringEncode(Resources.Questions.SelectedFileCouldNotBeUploaded))");
				}
			}).validate();
			$(".cancel-button").click(function() {
				window.location.href = '@Html.Raw(Url.Action("Index", new { channelId = ViewContext.RouteData.Values["channelId"], surveyId = ViewContext.RouteData.Values["surveyId"] }))';
			});
		});
	</script>
}

<h2>@Resources.Questions.EditSongsQuestion</h2>

@using (Html.BeginForm()) {
	@Html.ValidationSummary(false, Resources.Shared.PleaseCorrectErrors)

	<fieldset>
		<legend>@Resources.Questions.QuestionEditor</legend>

		@Html.HiddenFor(model => model.Id)
		@Html.HiddenFor(model => model.QuestionType)

		<div class="editor-label">
			@Html.LabelFor(model => model.Name)
		</div>
		<div class="editor-field">
			@Html.TextBoxFor(model => model.Name, new { @class = "long-input" })
			@Html.ValidationMessageFor(model => model.Name)
		</div>

		<div class="editor-label">
			@Html.LabelFor(model => model.Content)
		</div>
		<div class="editor-field">
			@Html.EditorFor(model => model.Content)
			@Html.ValidationMessageFor(model => model.Content)
		</div>
	</fieldset>

	if (SecurityService.CurrentMembership.IsAdmin()) {
		@Html.EditorFor(q => q.Songs, new { MaximumSongs = 1000 })
	} else {
		@Html.EditorFor(q => q.Songs, new { MaximumSongs = ConfigurationService.MaximumSongListSize })
	}

	<nav>
		<button type="submit" name="submitAction" value="cancel" class="cancel-button cancel">@Resources.Shared.Cancel</button>
		<button type="submit" name="submitAction" value="save" class="submit-button">@Resources.Shared.Next</button>
	</nav>
}


@using (Html.BeginForm("Upload", "Media", new { channelId = Url.RequestContext.RouteData.Values["channelId"] }, FormMethod.Post, new { id = "uploadForm" })) {
	<fieldset style="clear:both">
		<legend>@Resources.Media.UploadNewSong</legend>

		<div class="editor-label">
			@Resources.Media.Artist
		</div>
		<div class="editor-field">
			@Html.TextBox("Artist", "", new { @class = "long-input required" })
		</div>

		<div class="editor-label">
			@Resources.Media.Title
		</div>
		<div class="editor-field">
			@Html.TextBox("Title", "", new { @class = "long-input required" })
		</div>
		
		@foreach (var field in ViewBag.CustomSongFields) {
			<div class="editor-label">
				@field.Name
			</div>
			<div class="editor-field">
				<input class="long-input customField" id="@field.Name" name="@field.Name" type="text" />
			</div>
		}

		<div class="editor-label">
			@Resources.Media.File
		</div>
		<div class="editor-field">
			<input type="file" name="File" id="File" style="width:500px" class="required" />
		</div>

		<br />
		<button type="submit" name="submitAction" value="upload" id="uploadButton">@Resources.Questions.UploadToPlaylist</button>
		<br />

		<div id="uploadOutput"></div>
	</fieldset>
}