﻿@using Airtime.Data.Account
@using Airtime.Models.Questions;

@inherits AirtimeViewPage<Airtime.Models.Questions.QuestionIndexModel>

@{
	ViewBag.Title = "Airtime Surveys - " + String.Format(Resources.Questions.SurveyQuestions, Model.Survey.Name);
	ViewBag.Section = SectionEnum.SurveysQuestions;
	var disabled = (SecurityService.CurrentMembership.Role != MembershipRoleEnum.Developer && Model.Survey.Schedule.StartDate <= DateTime.UtcNow) || Model.Survey.Archived || Model.Survey.Deleted > 0;
}


<h2>@String.Format(Resources.Questions.SurveyQuestions, Model.Survey.Name)</h2>

@using (Html.BeginForm()) {
	<nav>
		<button type="button" class="preview-button">@Resources.Shared.Preview</button>
		<button type="submit" name="submitAction" value="copy" @Helpers.Disabled(disabled)>@Resources.Shared.Copy</button>
		<button type="button" class="add-button" @Helpers.Disabled(disabled)>@Resources.Shared.Add</button>
		<button type="submit" name="submitAction" value="edit" class="edit-button" @Helpers.Disabled(disabled)>@Resources.Shared.Edit</button>
		<button type="submit" name="submitAction" value="delete" class="delete-button" @Helpers.Disabled(disabled)>@Resources.Shared.Delete</button>
	</nav>
	
	<table id="dataTable" class="dataTable">
		<thead>
			<tr>
				<th class="alignCenter">@Resources.DataTables.SelectAll</th>
				<th class="alignRight noWrap">@Resources.Questions.Position</th>
				<th width="100%">@Resources.Questions.Name</th>
				<th class="noWrap">@Resources.Questions.QuestionType</th>
			</tr>
		</thead>
		<tbody>
		</tbody>
	</table>

	<nav>
		<button type="button" class="preview-button">@Resources.Shared.Preview</button>
		<button type="submit" name="submitAction" value="copy" @Helpers.Disabled(disabled)>@Resources.Shared.Copy</button>
		<button type="button" class="add-button" @Helpers.Disabled(disabled)>@Resources.Shared.Add</button>
		<button type="submit" name="submitAction" value="edit" class="edit-button" @Helpers.Disabled(disabled)>@Resources.Shared.Edit</button>
		<button type="submit" name="submitAction" value="delete" class="delete-button" @Helpers.Disabled(disabled)>@Resources.Shared.Delete</button>
	</nav>
	<br />
	<nav>
		<button type="submit" name="submitAction" value="cancel" class="cancel-button cancel">@Resources.Shared.Cancel</button>
		<button type="submit" name="submitAction" value="save" class="submit-button">@Resources.Shared.Next</button>
	</nav>
}

<div id="addQuestionDialog" class="hidden">
	@using (Html.BeginForm()) {
		<div class="editor-label">
			@Html.LabelFor(m => m.QuestionType)
		</div>
		<div class="editor-field">
			@Html.DropDownListFor(m => m.QuestionType, Model.AvailableQuestionTypes.Select(e => new SelectListItem {Text = e.ToResourceString(), Value = e.ToString()}))
		</div>
		<input type='hidden' name='submitAction' value='add' />
	}
</div>

@section Head {
	@Html.RenderScript("~/bundles/datatables")
	<script type="text/javascript">
		$(function() {
			var dataTbody = $("#dataTable tbody");
			var dataTable = $("#dataTable").airtimeTable({
				AjaxSource: "@Html.Raw(Url.Action("List", new { channelId = ViewContext.RouteData.Values["channelId"], surveyId = ViewContext.RouteData.Values["surveyId"] }))",
				Language: @Html.Partial("_DataTablesLanguagePartial"),
				Columns: [
					{ Property: "Id", Title: "@Html.Raw(HttpUtility.JavaScriptStringEncode(Resources.DataTables.SelectAll))", CssClass: "alignCenter", Selectable: true, Sortable: false },
					{
						Property: "Position",
						CssClass: "noWrap alignRight dragHandle",
						Sortable: false,
						DefaultSort: "asc",
						Render: function(rowData, column) {
							return rowData.Position > 0 ? rowData.Position : "";
						}
					},
					{ Property: "Name", Sortable: false },
					{ Property: "QuestionType", CssClass: "noWrap", Sortable: false }
				],
				RowCallback: function(rowData, row) {
					if (rowData.Category != "Normal") {
						$(row).addClass("nodrag nodrop");
					}
					return row;
				},
				@if (!disabled) {
					<text>
						DoubleClick: function(e) {
							$.post(
								"@Html.Raw(Url.Action("GetActionUrl", "Shared"))", {
									action:"Edit",
									controller:"Questions",
									channelId:@ViewContext.RouteData.Values["channelId"],
									surveyId:@ViewContext.RouteData.Values["surveyId"],
									questionId:dataTable.GetRowData(this).Id
								},
								function(url) { window.location.href = url; }
							);
						},
					</text>
				}
				Paginate: false,
				Filter: false
			});

			@if (!disabled) {
				<text>
					dataTbody.on({
						mouseenter: function() {
							$(".dragHandle", this).addClass("dragHandleIcon");
						},
						mouseleave: function() {
							$(".dragHandle", this).removeClass("dragHandleIcon");
						}
					}, "tr:not(.nodrag)");
			
					dataTbody.tableDnD({
						onDrop: function(table) {
							var data = dataTable.data("data");
							var orderedIds = [];

							for (var i = 0; i < table.rows.length; i++) {
								var row = table.rows[i];
								var position = dataTable.fnGetPosition(row);
								orderedIds.push(data[position].Id);
							}

							$.ajax({
								type: "POST",
								data: { orderedIds : orderedIds },
								traditional: true,
								success: function(data, textStatus, jqXHR) {
									dataTable.fnDraw();
								},
								error: function() {
									//TODO: Display error message in the datatable's info bar
									dataTable.fnDraw();
								},
								url: "@Html.Raw(Url.Action("Reorder", new { channelId = ViewContext.RouteData.Values["channelId"], surveyId = ViewContext.RouteData.Values["surveyId"] }))"
							});
						},
						onDragClass: "dragging",
						dragHandle: "tr:not(.nodrag) td.dragHandle",
						scrollAmount: 25
					});
				</text>
			}

			$(".cancel-button").click(function() {
				window.location.href = '@Html.Raw(Url.Action("Edit", "Surveys", new { channelId = ViewContext.RouteData.Values["channelId"], surveyId = ViewContext.RouteData.Values["surveyId"] }))';
			});

			$(".preview-button").click(function() {
				var width = screen.availWidth < 1000 ? screen.availWidth : 1000;
				var height = screen.availHeight;
				var url = "@Html.Action("GetSurveyPreviewUrl", "Shared", new {
				channelId = ViewContext.RouteData.Values["channelId"],
				surveyId = ViewContext.RouteData.Values["surveyId"]
			})";
				var questionId = parseInt($("td.selectableColumn [name='IdSelection']:checkbox:checked:first", dataTbody).val(), 10);
				if (questionId > 0) {
					url = url.replace("question=0", "question=" + questionId);
				}
				$.openWindow(url, "AirtimePreview", { width: width + "px", height: height + "px" });
			});

			@if (!disabled) {
				<text>
					$(".edit-button").click(function() {
						var questionId = parseInt($("td.selectableColumn [name='IdSelection']:checkbox:checked:first", dataTbody).val(), 10);
						if (!(questionId > 0)) {
							$(".add-button:first").click();
							return false;
						}
					});
				</text>
			}

			var addQuestionDialog = $("#addQuestionDialog");
			addQuestionDialog.dialog({
				title: "@Html.Raw(HttpUtility.JavaScriptStringEncode(Resources.Questions.AddNewQuestion))",
				autoOpen: false,
				modal: true,
				width: "300px",
				minWidth: 200,
				minHeight: 180,
				buttons: [
					{ text: "@Html.Raw(HttpUtility.JavaScriptStringEncode(Resources.Shared.Close))", click: function() { $(this).dialog("close"); } },
					{
						text: "@Html.Raw(HttpUtility.JavaScriptStringEncode(Resources.Shared.Add))",
						click: function() {
							$("form", addQuestionDialog).submit();
							$(this).dialog("disable");
						}
					}
				]
			});

			$(".add-button").click(function() {
				addQuestionDialog.dialog("open");
			});
		});
	</script>
}
