﻿@using Airtime.Core
@using Airtime.Data.Messaging
@model Airtime.Models.Emails.EmailBlastModel

@{
	ViewBag.Title = "Airtime Surveys - " + (
		Model.RecipientSource == RecipientSourceEnum.All_Participants
		? String.Format(Resources.Emails.EditInvitation, Model.SurveyName)
		: String.Format(Resources.Emails.EditReminder, Model.SurveyName)
	);
	ViewBag.Section = SectionEnum.SurveysInvitations;

	var commonAttributes = new Dictionary<string, object>();
	var disabled = Model.Disabled;
	if (disabled) {
		commonAttributes.Add("disabled", "disabled");
	}
}

@section Head {
	@Helpers.DateTimePickerScript()

	<script type="text/javascript">
		$(function() {
			var pageCreateTicks = @Model.PageCreateTicks;
			var browserPageCreateTicks = Date.now();
			var browserOffsetTicks = pageCreateTicks - browserPageCreateTicks;
			if (browserOffsetTicks < 1000) {
				// ignore < 1 second difference.
				browserOffsetTicks = 0;
			}

			var modelId = @Model.Id;
			var surveyScheduleStartTicks = @Model.SurveyScheduleStartTicks;

			var enabledStartDateClicked = false;
			var startDateFields = $("#StartDateFields");
			var enableStartDate = $("#EnableStartDate");
			var scheduleStartDate = $("#ScheduleStartDate");
			var invitationSendDateTicks = getDatePickerTicks(scheduleStartDate);
			var form = $("form");
			var validator = form.validate();
			var s = validator.settings;

			var validator = form.data('validator');
			validator.settings.ignore = ":hidden:not(.richtext)"; // fix validate() for ckEditor required.

			function modelIsTransient() { return modelId === 0; }

			function surveyHasStarted() {
				// assume survey dates not changing
				return (browserNowTicks() >= surveyScheduleStartTicks);
			}

			function browserNowTicks() {
				// Using browserOffsetTicks to avoid assuming browser time in sync with server time.
				return (Date.now() + browserOffsetTicks);
			}

			function browserNow() {
				return new Date(browserNowTicks());
			}

			function getDatePickerTicks(inputField) {
				var date = inputField.datetimepicker("getDate");
				return date ? date.getTime() : undefined;
			}

			function showStartDateField() {
				startDateFields.show();
				enableStartDate.hide();
			}

			function showEnableStartDateButton() {
				startDateFields.hide();
				enableStartDate.show();
			}

			// limit send date to survey end if set.
			if (surveyHasStarted()) {
				$(".survey-started").show();
			}

			var formLoadShowDate = surveyHasStarted() || !!scheduleStartDate.val();
			if (formLoadShowDate) {
				showStartDateField();
			} else {
				showEnableStartDateButton();
			}

			if (invitationSendDateTicks && invitationSendDateTicks < pageCreateTicks) {
				// deny change of invitiation send date if before now and schedule start date is not transient.
				if (!modelIsTransient()) {
					scheduleStartDate.datetimepicker().datetimepicker('disable');
				}
			}

			enableStartDate.click(function() {
				enabledStartDateClicked = true;
				startDateFields.show();
				enableStartDate.hide();

				scheduleStartDate.rules("add", {
					required: true,
					messages: {
						required: "@Html.Raw(HttpUtility.JavaScriptStringEncode(Resources.Emails.InvitationSendDateRequiredAsSpecifyDateClicked))"
					}
				});
			});

			form.submit(function() {
				if (surveyHasStarted()) {
					var startDate = scheduleStartDate.datetimepicker("getDate");
					if (!startDate) {
						form.validate().showErrors({
							ScheduleStartDate: "@Html.Raw(HttpUtility.JavaScriptStringEncode(Resources.Emails.InvitationSendDateRequiredAsSurveyCommenced))"
						});
						var scrollTo = scheduleStartDate.closest("fieldset");
						$(window).scrollTop(scrollTo.offset().top);
						return false;
					}
				}
			});

			$(".cancel-button").click(function() {
				window.location.href = '@Html.Raw(Url.Action("Index", new { channelId = ViewContext.RouteData.Values["channelId"], surveyId = ViewContext.RouteData.Values["surveyId"] }))';
			});

			@if (Model.GotTemplate) {
				<text>
				//By default when creating a new email, the Next button is disabled until the Preview button is clicked
				var bodyEditor = $("#Body.richtext");
				var nextButton = $(".submit-button");
				var previewButton = $(".preview-button");
				var previewMessage = $(".preview-message");
				if (bodyEditor.length && previewButton.length) {
					if (modelIsTransient()) {
						nextButton.attr("disabled", "disabled");
						previewMessage.show();
					}
					previewButton.click(function() {
						if (modelIsTransient()) {
							nextButton.removeAttr("disabled");
							previewMessage.hide();
						}
						var editor = bodyEditor.ckeditorGet();
						editor.execCommand("preview");
					});
				}
				</text>
			}
		});
	</script>
}

@if (Model.RecipientSource == RecipientSourceEnum.All_Participants) {
	<h2>@String.Format(Resources.Emails.EditInvitation, Model.SurveyName)</h2>
} else {
	<h2>@String.Format(Resources.Emails.EditReminder, Model.SurveyName)</h2>
}

<div class="survey-started instruction floatLeft hidden">@Resources.Emails.SurveyHasAlreadyCommenced</div>

@using (Html.BeginForm()) {
	@Html.ValidationSummary(false, Resources.Shared.PleaseCorrectErrors)

	@Html.HiddenFor(m => m.RecipientSource)
				
	<fieldset>
		<legend>@Resources.Emails.Scheduling</legend>
		
		<div class="editor-label">
			@Html.LabelFor(m => m.Status): @Model.Status.ToResourceString()
		</div>        

		<div id="StartDateFields" class="hidden">
			<div class="editor-label">
				@Html.LabelFor(m => m.ScheduleStartDate)
			</div>
			<div class="editor-field">
				@Html.EditorFor(m => m.ScheduleStartDate, new { Disabled = disabled })
				@Html.ValidationMessageFor(m => m.ScheduleStartDate)
			</div>
		</div>
		<div class="editor-field">
			<button type="button" id="EnableStartDate" class="hidden">@Resources.Emails.CustomInvitationSendDate</button>
		</div>
	</fieldset>

	if (Model.RecipientSource == RecipientSourceEnum.All_Participants) {
		<fieldset>
			<legend>@Resources.Emails.Targeting</legend>
			<div class ="editor-label">
				@Html.LabelFor(m => m.TargetPercentage)
			</div>
			<div class="editor-field">
				@Html.TextBoxFor(m => m.TargetPercentage, commonAttributes)
				@Html.ValidationMessageFor(m => m.TargetPercentage)
			</div>
		</fieldset>
	} else {
		@Html.HiddenFor(m => m.TargetPercentage)
	}

	<fieldset>
		<legend>@Resources.Emails.Content</legend>

		<div class="editor-label">
			@Html.LabelFor(m => m.Subject)
		</div>
		<div class="editor-field">
			@Html.TextBoxFor(m => m.Subject, new Dictionary<string, object>(commonAttributes) { { "class", "long-input" } })
			@Html.ValidationMessageFor(m => m.Subject)
		</div>

		<div class="editor-label">
			@Html.LabelFor(m => m.Body)
		</div>
		@if (Model.GotTemplate) {
			@Html.HiddenFor(m => m.NoServerSideTemplate)
		} else {
			<div class="editor-field">
				@Html.CheckBoxFor(m => m.NoServerSideTemplate, commonAttributes)
				@if (disabled) {
					@Html.HiddenFor(m => m.NoServerSideTemplate)
				}
				@Html.LabelFor(m => m.NoServerSideTemplate)
			</div>
		}
		<div class="editor-field">
			@Html.ValidationMessageFor(m => m.Body)
			@Html.EditorFor(m => m.Body, new { height = "600px", Disabled = disabled })
		</div>
	</fieldset>

	<div class="preview-message instruction floatRight hidden">@Resources.Emails.YouMustPreviewBeforeNext</div>

	<nav>
		<button type="submit" name="submitAction" value="cancel" class="cancel-button cancel">@Resources.Shared.Cancel</button>
		@if (Model.GotTemplate) {
			<button type="button" class="preview-button">@Resources.Shared.Preview</button>
		}
		@if (!disabled) {
			<button type="submit" name="submitAction" value="save" class="submit-button" @Helpers.Disabled(disabled)>@Resources.Shared.Next</button>
		}
	</nav>	
}
