﻿@using System.Globalization
@using Airtime.Data.Messaging
@model Airtime.Models.Invitations.InvitiationIndexModel

@{
	ViewBag.Title = "Airtime Surveys - " + String.Format(Resources.Emails.SurveyInvitations, Model.SurveyName);
	ViewBag.Section = SectionEnum.SurveysInvitations;
}

<h2>@String.Format(Resources.Emails.SurveyInvitations, Model.SurveyName)</h2>

@using (Html.BeginForm()) {
	<nav>
		<button type="button" class="preview-button">@Resources.Shared.Preview</button>
		<button type="submit" name="submitAction" value="copy" class="copy-button">@Resources.Shared.Copy</button>
		<button type="submit" name="submitAction" value="addInvitation">@Resources.Emails.AddInvitation</button>
		<button type="submit" name="submitAction" value="addReminder">@Resources.Emails.AddReminder</button>
		<button type="button" name="submitAction" value="edit" class="edit-button">@Resources.Shared.Edit</button>
		<button type="submit" name="submitAction" value="delete" class="delete-button">@Resources.Shared.Delete</button>
	</nav>
	
	<table id="dataTable" class="dataTable">
		<thead>
			<tr>
				<th class="alignCenter">@Resources.DataTables.SelectAll</th>
				<th class="nowrap">@Resources.Emails.Status</th>				
				<th width="100%">@Resources.Emails.Subject</th>
				<th class="nowrap">@Resources.Emails.Target</th>
				<th class="nowrap">@Resources.Emails.StartDate</th>
				<th class="nowrap">@Resources.Emails.Scheduled</th>
				<th class="nowrap">@Resources.Emails.Delivered</th>
				<th class="nowrap">@Resources.Emails.Failed</th>
			</tr>
		</thead>
		<tbody>
		</tbody>
	</table>

	<nav>
		<button type="button" class="preview-button">@Resources.Shared.Preview</button>
		<button type="submit" name="submitAction" value="copy" class="copy-button">@Resources.Shared.Copy</button>
		<button type="submit" name="submitAction" value="addInvitation">@Resources.Emails.AddInvitation</button>
		<button type="submit" name="submitAction" value="addReminder">@Resources.Emails.AddReminder</button>
		<button type="button" name="submitAction" value="edit" class="edit-button">@Resources.Shared.Edit</button>
		<button type="submit" name="submitAction" value="delete" class="delete-button">@Resources.Shared.Delete</button>
	</nav>
	<br />
	<nav>
		<button type="submit" name="submitAction" value="cancel" class="cancel-button cancel">@Resources.Shared.Back</button>
		<button type="submit" name="submitAction" value="save" class="submit-button">@Resources.Shared.Next</button>
	</nav>
}

@section Head {
	@Html.RenderScript("~/bundles/datatables")
	<script type="text/javascript">
		$(function() {
			var dataTbody = $("#dataTable tbody");
			var dataTable = $("#dataTable").airtimeTable({
				AjaxSource : "@Html.Raw(Url.Action("List", new { channelId = Url.RequestContext.RouteData.Values["channelId"], surveyId = Url.RequestContext.RouteData.Values["surveyId"] }))",
				Columns : [
					{ Property: "Id", Title: "@Html.Raw(HttpUtility.JavaScriptStringEncode(Resources.DataTables.SelectAll))", CssClass: "alignCenter", Selectable: true, Sortable: false },
					{ Property: "StatusName", QueryOn:"Status", CssClass:"noWrap" },
					{ Property: "Subject" },
					{
						Property: "Id", CssClass: "alignCenter noWrap", Sortable: false,
						Template: '{{if RecipientSource == @((int)RecipientSourceEnum.All_Participants)}} @Html.Raw(HttpUtility.JavaScriptStringEncode(Resources.Emails.All)) (${TargetPercentage} @CultureInfo.CurrentCulture.NumberFormat.PercentSymbol) {{else}} @Html.Raw(HttpUtility.JavaScriptStringEncode(Resources.Emails.Reminder)) {{/if}}'
					},
					{ Property: "ScheduleStartDate", QueryOn: "Schedule.StartDate", CssClass:"noWrap alignCenter", DefaultSort: "desc" },
					{ Property: "StatisticsScheduled", QueryOn: "Statistics.Scheduled", CssClass:"noWrap alignCenter" },
					{ Property: "StatisticsDelivered", QueryOn: "Statistics.Delivered", CssClass:"noWrap alignCenter" },
					{ Property: "StatisticsFailed", QueryOn: "Statistics.Failed", CssClass:"noWrap alignCenter" }
				],
				Language: @Html.Partial("_DataTablesLanguagePartial"),
				DoubleClick: function(e) { editRow(dataTable.GetRowData(this).Id); }
			});
			
			function editRow(id) {
				$.post(
					"@Html.Raw(Url.Action("GetActionUrl", "Shared"))", {
						action:"Edit",
						controller:"Invitations",
						channelId:@ViewContext.RouteData.Values["channelId"],
						surveyId:@ViewContext.RouteData.Values["surveyId"],
						blastId:id
					},
					function(url) { window.location.href = url; }
				);
			}

			function getCurrentTopRowItemId() {
				var id = parseInt($("td.selectableColumn [name='IdSelection']:checkbox:checked:first", dataTbody).val(), 10);
				if (isNaN(id) || id <= 0) {
					id = parseInt($("td.selectableColumn [name='IdSelection']:checkbox:first", dataTbody).val(), 10);
				}
				return id;
			}

			$(".edit-button").click(function() {
				var itemId = getCurrentTopRowItemId();
				if (itemId > 0) {
					editRow(itemId);
				}
			});

			$(".preview-button").click(function() {
				var width = screen.availWidth < 1000 ? screen.availWidth : 1000;
				var height = screen.availHeight;
				var url = "@Html.Action("GetEmailPreviewUrl", "Shared", new { channelId = ViewContext.RouteData.Values["channelId"] })";
				var itemId = getCurrentTopRowItemId();
				if (itemId > 0) {
					url = url.replace("id=0", "id="+itemId);
					$.openWindow(url, "AirtimeEmailPreview", { width:width+"px", height:height+"px" });
				}
			});
		});
	</script>
}