﻿<table>
	<tr>
		<td class="ui-state-default">Server Name</td>
		<td>@ViewBag.ServerName</td>
	</tr>
	<tr>
		<td class="ui-state-default">App Path</td>
		<td>@ViewBag.AppPath</td>
	</tr>
	<tr>
		<td class="ui-state-default">Server Total Memory</td>
		<td>@ViewBag.TotalMemory</td>
	</tr>
	<tr>
		<td class="ui-state-default">Server Available Memory</td>
		<td>@ViewBag.AvailableMemory</td>
	</tr>
	<tr>
		<td class="ui-state-default">Process Private Memory</td>
		<td>@ViewBag.ProcessMemory</td>
	</tr>
	<tr>
		<td class="ui-state-default">Cache Items</td>
		<td>@ViewBag.CacheItems</td>
	</tr>
</table>

<input type="hidden" id="ServerName" value="@ViewBag.ServerName" />
<input type="hidden" id="AppPath" value="@ViewBag.AppPath" />
<input type="hidden" id="TotalMemory" value="@((ulong)ViewBag.TotalMemory)" />
<input type="hidden" id="AvailableMemory" value="@((ulong)ViewBag.AvailableMemory)" />
<input type="hidden" id="ProcessMemory" value="@((ulong)ViewBag.ProcessMemory)" />
<input type="hidden" id="CacheItems" value="@((ulong)ViewBag.CacheItems)" />
