﻿@if(Request.IsAuthenticated) {
	<text>@Resources.Account.Welcome <b>@Context.User.Identity.Name</b>!
	[ @Html.ActionLink(Resources.Account.LogOff, "LogOff", "Home", new { Area = "Admin" }, null) ]</text>
}
else {
	@:[ @Html.ActionLink(Resources.Account.LogOn, "LogOn", "Home", new { Area = "Admin" }, null) ]
}
