﻿@inherits AirtimeViewPage

<ul id="menu">
	<li>@Html.ActionLink(Resources.Shared.Home, "Index", "Home", new { Area = "Admin" }, null)</li>

	@if (Request.IsAuthenticated) {
		<li>@Html.ActionLink(Resources.Shared.DevTools, "Index", "Home")</li>
		<li>@Html.ActionLink(Resources.Dev.Errors, "Index", "Elmah")</li>
		<li>@Html.ActionLink(Resources.Dev.Cache, "Index", "CacheMgr")</li>
	}
</ul>
