﻿@{
	ViewBag.Title = "Import Questions";
}

<h2>Import Questions</h2>


@using (Html.BeginForm("ImportQuestions", "Home", FormMethod.Post, new { enctype = "multipart/form-data" })) {
	<fieldset>
		<legend>Setup</legend>

		<div class="editor-label">
			Survey
		</div>
		<div class="editor-field">
			@Html.DropDownList("SurveyId", new SelectList(ViewBag.SurveyDropDownList, "Value", "Text"))
		</div>

		<div class="editor-label">
			Data File
		</div>
		<div class="editor-field">
			<input type="file" name="file" id="file" />
		</div>

		<nav>
			<button type="submit" name="submitAction" value="@SubmitActionEnum.Upload" class="cancel-button cancel">@Resources.Shared.Upload</button>
		</nav>
	</fieldset>
}


<fieldset>
	<legend>Results</legend>
</fieldset>


@using (Html.BeginForm()) {
	<nav>
		<button type="submit" name="submitAction" value="@SubmitActionEnum.Back" class="cancel-button cancel">@Resources.Shared.Back</button>
	</nav>
}
