﻿@{
	ViewBag.Title = "Developer Tools";
	ViewBag.Section = SectionEnum.DeveloperTools;
}

<h2>Developer Tools</h2>

@using (Html.BeginForm()) {
	
	<div class="accordion">
		<h3 data-tab="Links"><a href="#">Links</a></h3>
		<div>
			<p>@Html.ActionLink("Test", "Test")</p>
			<p>@Html.ActionLink("Import Questions", "ImportQuestions")</p>
			<p>@Html.ActionLink("Test Error Handling", "ThrowException")</p>
			<p>@Html.ActionLink("Resource Strings", "ResourceStrings")</p>
			<p>@Html.ActionLink("Public Site", "Index", "Home", new { Area = "Public" }, null)</p>
		</div>
	
		<h3 data-tab="SignalRTesting"><a href="#">SignalR Broadcast Testing</a></h3>
		<div>
			<input type="text" id="Message" />
			<input type="submit" id="Broadcast" value="Broadcast" />
			<ul id="MessageLog"></ul>
		</div>

		<h3 data-tab="SanitizerTesting"><a href="#">HTML Sanitizer Testing</a></h3>
		<div>
			@Html.TextArea("HtmlCode", ViewBag.HtmlCode as string, 10, 10, new { @class = "width100" })
			@Html.TextArea("HtmlCodeClean", ViewBag.HtmlCodeClean as string, 10, 10, new { @class = "width100", @readonly = "readonly" })
			<nav>
				<button type="submit" name="submitAction" value="@SubmitActionEnum.Clean" class="clean-button">Clean HTML</button>
			</nav>
		</div>
	</div>
}


@section Head {
	<script type="text/javascript">
		$(function() {
			//$(".accordion").show();
			$(".accordion").accordion({
				heightStyle: "content",
				active: $(".accordion h3").index($("h3[data-tab=@ViewBag.ActiveTab]")),
				collapsible: true,
			});
		});

		$(function() {
			var messageBox = $("#Message");
			var messageLog = $("#MessageLog");

			var chat = $.connection.cylonHub;

			chat.client.addMessage = function(message) {
				messageLog.append("<li>" + message + "</li>");
			};

			$("#Broadcast").click(function() {
				chat.server.echo(messageBox.val())
					.done(function () { })
					.fail(function(e) {
						console.warn(e);
					});
				messageBox.select();
				messageBox.focus();
				return false;
			});

			$.connection.hub.start();

			messageBox.focus();
		});
	</script>
}
