﻿@{
	ViewBag.Title = "Resource Strings";
}

<h2>Resource Strings</h2>

@Html.ValidationSummary(false, Resources.Shared.PleaseCorrectErrors)

<script type="text/javascript">
	var resources = @Html.Raw(ViewBag.ResourcesJson);
</script>

@using (Html.BeginForm()) {
	<nav>
		<button type="submit" name="submitAction" value="@SubmitActionEnum.Back" class="cancel-button cancel">@Resources.Shared.Back</button>
	</nav>
}
