﻿@{
	ViewBag.Title = "Test";
}

<h2>Test Person</h2>

@Html.ValidationSummary(false, Resources.Shared.PleaseCorrectErrors)

@using (Html.BeginForm()) {
	<nav>
		<button type="button" class="button" id="TestButton">TEST</button>
		<button type="submit" name="submitAction" value="@SubmitActionEnum.Back" class="cancel-button cancel">@Resources.Shared.Back</button>
	</nav>
}
