﻿@model Airtime.Models.Media.SongModel

@{
	ViewBag.Title = "Airtime Surveys - " + Resources.Media.EditSong;
	ViewBag.Section = SectionEnum.Media;
}

<h2>@Resources.Media.EditSong</h2>

@using (Html.BeginForm()) {
	<fieldset>
		<div class="editor-label">
			@Html.LabelFor(m => m.Artist)
		</div>
		<div class="editor-field">
			@Html.TextBoxFor(m => m.Artist)
			@Html.ValidationMessageFor(m => m.Artist)
		</div>

		<div class="editor-label">
			@Html.LabelFor(m => m.Title)
		</div>
		<div class="editor-field">
			@Html.TextBoxFor(m => m.Title)
			@Html.ValidationMessageFor(m => m.Title)
		</div>

		<div class="editor-label">
			@Html.LabelFor(m => m.Year)
		</div>
		<div class="editor-field">
			@Html.TextBoxFor(m => m.Year)
			@Html.ValidationMessageFor(m => m.Year)
		</div>

		<div class="editor-label">
			@Html.LabelFor(m => m.Genre)
		</div>
		<div class="editor-field">
			@Html.TextBoxFor(m => m.Genre)
			@Html.ValidationMessageFor(m => m.Genre)
		</div>

		<div class="editor-label">
			@Html.LabelFor(m => m.Tempo)
		</div>
		<div class="editor-field">
			@Html.TextBoxFor(m => m.Tempo)
			@Html.ValidationMessageFor(m => m.Tempo)
		</div>
		
		@foreach (var field in ViewBag.CustomAttributes) {
			<div class="editor-label">
				@field.Key
			</div>
			<div class="editor-field">
				<input class="input customField" id="@field.Key" name="@field.Key" value="@field.Value" type="text" />
			</div>
		}

		<nav>
		    <button type="submit" name="submitAction" value="@SubmitActionEnum.Download">@Resources.Shared.Download</button>
		    <button type="submit" name="submitAction" value="@SubmitActionEnum.Cancel" class="cancel-button cancel">@Resources.Shared.Cancel</button>
		    <button type="submit" name="submitAction" value="@SubmitActionEnum.Save" class="submit-button">@Resources.Shared.Submit</button>
		</nav>
	</fieldset>
}
