﻿@using Airtime.Core;
@{
	ViewBag.Title = "Airtime Surveys - " + Resources.Shared.MediaLibrary;
	ViewBag.Section = SectionEnum.Media;
}

<h2>@Resources.Shared.MediaLibrary</h2>

@Helpers.AudioPlayerScript()

@using (Html.BeginForm()) {
	<nav>
		<button type="submit" name="submitAction" value="@SubmitActionEnum.Add">@Resources.Shared.Add</button>
		<button type="submit" name="submitAction" value="@SubmitActionEnum.Edit">@Resources.Shared.Edit</button>
		<button type="submit" name="submitAction" value="@SubmitActionEnum.Delete" class="delete-button">@Resources.Shared.Delete</button>
	</nav>

	<div class="tableContainer">
		<table id="dataTable" class="dataTable">
			<thead>
				<tr>
					<th class="alignCenter">@Resources.DataTables.SelectAll</th>
					<th width="50%">@Resources.Media.Artist</th>
					<th width="50%">@Resources.Media.Title</th>
					<th>@Resources.Media.Length</th>
					<th>@Resources.Media.Library</th>
					<th>@Resources.Media.Company</th>
					<th class="alignCenter unsortableColumn">@Resources.Media.Play</th>
				</tr>
			</thead>
			<tbody>
			</tbody>
		</table>
	</div>

	<nav>
		<button type="submit" name="submitAction" value="@SubmitActionEnum.Add">@Resources.Shared.Add</button>
		<button type="submit" name="submitAction" value="@SubmitActionEnum.Edit">@Resources.Shared.Edit</button>
		<button type="submit" name="submitAction" value="@SubmitActionEnum.Delete" class="delete-button">@Resources.Shared.Delete</button>
	</nav>
}

@section Head {
	@Html.RenderScript("~/bundles/datatables")
	<script type="text/javascript">
		$(function() {
			var dataTable = $("#dataTable").airtimeTable({
				AjaxSource : "@Html.Raw(Url.Action("List", new { channelId = Url.RequestContext.RouteData.Values["channelId"] }))",
				Columns : [
					{ Property: "Id", Title: "@Html.Raw(HttpUtility.JavaScriptStringEncode(Resources.DataTables.SelectAll))", CssClass: "alignCenter", Selectable: true, Sortable: false },
					{ Property: "Artist", DefaultSort: "asc" },
					{ Property: "Title" , DefaultSort: "asc" },
					{ Property: "Length", CssClass:"alignCenter" },
					{ Property: "Library", CssClass:"noWrap", Visible:false },
					{
						Property: "CompanyName", QueryOn:"Company.Name", CssClass:"noWrap",
						Render: function(rowData, column) {
							return rowData.CompanyName != null ? rowData.CompanyName : "@Html.Raw(HttpUtility.JavaScriptStringEncode(Resources.Media.GLOBAL))";
						}
					},
					{
						Property: "Id",
						CssClass: "alignCenter",
						Template: '<img src="@Url.Content("~/Content/themes/airtime/images/icons/icon-play-button.gif")" alt="Play" class="playButton" data-song-url="${Filename}" />'
					}
				],
				Language: @Html.Partial("_DataTablesLanguagePartial"),
				DoubleClick: function(e) {
					$.post(
						"@Html.Raw(Url.Action("GetActionUrl", "Shared"))", {
							action:"Edit",
							controller:"Media",
							channelId:@ViewContext.RouteData.Values["channelId"],
							songId:dataTable.GetRowData(this).Id
						},
						function(url) { window.location.href = url; }
					);
				}
			});
		});
	</script>
}
