﻿@using Airtime.Data.Surveying
@inherits AirtimeViewPage

@{
	ViewBag.Title = "Airtime Surveys - " + Resources.Shared.Surveys;
	ViewBag.Section = SectionEnum.Surveys;
}

<h2>@Resources.Shared.Surveys</h2>


@using (Html.BeginForm()) {
	<nav>
		<button type="button" class="preview-button">@Resources.Shared.Preview</button>
		<button type="button" class="createSurvey-button">@Resources.Surveys.CreateSurvey</button>
		<button type="button" class="edit-button">@Resources.Shared.Edit</button>
		<button type="button" class="addReminder-button">@Resources.Surveys.AddReminder</button>
		<button type="submit" name="submitAction" value="delete" class="delete-button">@Resources.Shared.Delete</button>
	</nav>
	
	<table id="dataTable" class="dataTable">
		<thead>
			<tr>
				<th class="alignCenter">@Resources.DataTables.SelectAll</th>
				<th width="100%">@Resources.Surveys.Name</th>
				<th class="noWrap">@Resources.Surveys.StartDate</th>
				<th class="noWrap">@Resources.Surveys.EndDate</th>
				<th class="noWrap">@Resources.Surveys.Invited</th>
				<th class="noWrap">@Resources.Surveys.Completed</th>
				<th>@Resources.Surveys.WebCompleted</th>
				<th>@Resources.Surveys.IosCompleted</th>
				<th>@Resources.Surveys.AndroidCompleted</th>
				<th>@Resources.Surveys.Status</th>
			</tr>
		</thead>
		<tbody>
		</tbody>
	</table>

	<nav>
		<button type="button" class="preview-button">@Resources.Shared.Preview</button>
		<button type="button" class="createSurvey-button">@Resources.Surveys.CreateSurvey</button>
		<button type="button" class="edit-button">@Resources.Shared.Edit</button>
		<button type="button" class="addReminder-button">@Resources.Surveys.AddReminder</button>
		<button type="submit" name="submitAction" value="delete" class="delete-button">@Resources.Shared.Delete</button>
	</nav>

}

<div id="createSurveyDialog" class="hidden">
	<form id="createSurveyDialogNoSubmit">
		
		<div class="accordion">
			<h3 id="@SubmitActionEnum.Add"><a href="#">@Resources.Surveys.CreateEmptySurvey</a></h3>
			<div>
				<div class="editor-label">
					@Html.Label("AddEditSurveyNameLabel", @Resources.Surveys.Name)
				</div>
				<div class="editor-field">
					@Html.TextBox("AddEditSurveyName", "", new { @class = "long-input" })
				</div>
			</div>

			<h3 id="@SubmitActionEnum.Copy"><a href="#">@Resources.Surveys.CopySurvey</a></h3>
			<div>
				<div class="editor-label">
					@Html.Label("CopyFromSurveyLabel", @Resources.Surveys.CopyNewSurvey)
				</div>
				<div class="editor-field">
					@Html.DropDownList("CopyFromSurvey", Enumerable.Empty<SelectListItem>())
				</div>

				<div class="editor-label">
					@Html.Label("CopyEditSurveyNameLabel", @Resources.Surveys.Name)
				</div>
				<div class="editor-field">
					@Html.TextBox("CopyEditSurveyName", "", new { @class = "long-input" })
				</div>
			</div>
		</div>

	</form>
</div>

@section Head {
	@Html.RenderScript("~/bundles/datatables")
	<script type="text/javascript">
		$(function() {
			var form = $("form:first");
			var ajaxBusy;
			AjaxBusy(true);

			function GetFirstCheckedCheckboxOrFirstCheckbox() {
				var selectableColumns = dataTbody.find(".selectableColumn");
				var checkboxReference = selectableColumns.find(":checkbox:checked").first();
				if (checkboxReference.length == 0) { // use top row if none are checked
					checkboxReference = selectableColumns.find(":checkbox").first();
				}
				return checkboxReference;
			}

			function GetCurrentTopRow() {
				var checkboxReference = GetFirstCheckedCheckboxOrFirstCheckbox();
				var row = checkboxReference.closest("tr")[0]; // refer to DOM row object.
				return row;
			}

			function GetCurrentTopRowItemId() {
				var row = GetCurrentTopRow();
				if (typeof row == "undefined") {
					return 0;
				}
				var editItem = dataTable.GetRowData(row);
				return parseInt(editItem.Id, 10);
			}

			function EditSurvey(surveyId) {
				$.post(
					"@Html.Raw(Url.Action("GetActionUrl", "Shared"))", {
						action: "Index",
						controller: "Questions",
						channelId: @ViewContext.RouteData.Values["channelId"],
						surveyId: surveyId
					},
					function(url) { window.location.href = url; }
				);
			}

			var dataTable = $("#dataTable").airtimeTable({
				AjaxSource: "@Html.Raw(Url.Action("List", new {channelId = ViewContext.RouteData.Values["channelId"]}))",
				Columns: [
					{ Property: "Id", Title: "@Html.Raw(HttpUtility.JavaScriptStringEncode(Resources.DataTables.SelectAll))", CssClass: "alignCenter", Selectable: true, Sortable: false },
					{ Property: "Name" },
					{ Property: "ScheduleStartDate", QueryOn: "Schedule.StartDate", CssClass: "noWrap alignCenter", DefaultSort: "desc" },
					{ Property: "ScheduleEndDate", QueryOn: "Schedule.EndDate", CssClass: "noWrap alignCenter" },
					{ Property: "StatisticsInvited", QueryOn: "Statistics.Invited", CssClass: "noWrap alignCenter" },
					{ Property: "StatisticsCompleted", QueryOn: "Statistics.Completed", CssClass: "noWrap alignCenter" },
					{ Property: "StatisticsWebCompleted", QueryOn: "Statistics.WebCompleted", CssClass: "noWrap alignCenter", Visible: false, Sortable: false },
					{ Property: "StatisticsIosCompleted", QueryOn: "Statistics.IosCompleted", CssClass: "noWrap alignCenter", Visible: false },
					{ Property: "StatisticsAndroidCompleted", QueryOn: "Statistics.AndroidCompleted", CssClass: "noWrap alignCenter", Visible: false },
					{ Property: "StatusName", CssClass: "noWrap alignCenter", Sortable: false, Visible: false }
				],
				Language: @Html.Partial("_DataTablesLanguagePartial"),
				FilterPlaceholder: "@Html.Raw(HttpUtility.JavaScriptStringEncode(Resources.Surveys.Placeholder_SearchBy))",
				DoubleClick: function(e) { EditSurvey(dataTable.GetRowData(this).Id); },
				RowCallback: function(rowData, row) {
					switch (rowData.Status) {
					case "@SurveyStatusEnum.Setup":
						$(row).addClass("survey-setup");
						break;
					case "@SurveyStatusEnum.Preview":
						$(row).addClass("survey-preview");
						break;
					case "@SurveyStatusEnum.Active":
						$(row).addClass("survey-active");
						break;
					case "@SurveyStatusEnum.Ended":
						$(row).addClass("survey-ended");
						break;
					case "@SurveyStatusEnum.Archived":
						$(row).addClass("survey-archived");
						break;
					}
					return row;
				},
				MergeAjaxFieldsCallback: function() {
					AjaxBusy(true);
					return null;
				},
				PostAjaxCallback: function() {
					AjaxBusy(false);
				}
			});

			function AjaxBusy(busy) {
				ajaxBusy = busy;
				var buttons = form.find(".createSurvey-button");
				buttons.attr("disabled", ajaxBusy);
			}

			$(".preview-button").click(function() {
				var itemId = GetCurrentTopRowItemId();
				if (itemId > 0) {
					var width = screen.availWidth < 1000 ? screen.availWidth : 1000;
					var height = screen.availHeight;
					var url = "@Html.Action("GetSurveyPreviewUrl", "Shared", new {channelId = ViewContext.RouteData.Values["channelId"]})";
					url = url.replace("test=0", "test=" + itemId);
					$.openWindow(url, "AirtimeSurveyPreview", { width: width + "px", height: height + "px" });
				}
			});

			var dataTbody = $("#dataTable tbody");
			var createSurveyUrl = "@Html.Raw(Url.Action("Create", "Surveys", new {channelId = ViewContext.RouteData.Values["channelId"]}))";

			var validateRules = {
				debug: true,
				rules: {
					AddEditSurveyName: "required",
					CopyEditSurveyName: "required"
				},
				messages: {
					AddEditSurveyName: "@Html.Raw(HttpUtility.JavaScriptStringEncode(Resources.Surveys.SurveyRequiresNameField))",
					CopyEditSurveyName: "@Html.Raw(HttpUtility.JavaScriptStringEncode(Resources.Surveys.SurveyRequiresNameField))"
				}
			};

			var createSurveyDialogNoSubmitForm = $("#createSurveyDialogNoSubmit");

			createSurveyDialogNoSubmitForm.validate(validateRules);

			function dialogOkSurveyCreated(url) {
				$(this).dialog("close");
				if (url) {
					window.location.href = url;
				} else {
					window.location.reload();
				}
			}

			var dialogOk = function(submitAction, dialog, dialogForm, nameFieldActionMap, surveyId, dialogSuccess) {
				if (dialogForm.valid()) {
					var ajaxParam = {
						type: "POST",
						dataType: "json",
						url: createSurveyUrl,
						async: false,
						data: {
							submitAction: submitAction,
							name: nameFieldActionMap[submitAction].val()
						},
						success: function(data, textStatus, jqXHR) {
							if (dialogSuccess) {
								var redirectUrl = jqXHR.getResponseHeader("@Html.Raw(HttpUtility.JavaScriptStringEncode(ConfigurationService.XtraRedirectUrlHeader))");
								setTimeout(function() {
									dialogSuccess.call(dialog, redirectUrl);
								}, 0);
							}
						},
						error: function(jqXHR, textStatus, errorThrown) {
							if (jqXHR.status == 400) {
								var fieldName = nameFieldActionMap[submitAction].attr("id");
								var errorMap = {};
								errorMap[fieldName] = errorThrown;
								var msg = "Cannot create the survey as another already exists with given name";
								if (surveyId) {
									dialogForm.validate().showErrors({CopyEditSurveyName: msg});
								} else {
									dialogForm.validate().showErrors({AddEditSurveyName: msg});
								}
							}
						}
					};
					if (surveyId) {
						ajaxParam.data.surveyId = surveyId;
					}
					$.ajax(ajaxParam);
				}
			};

			var dialogInitialised = false;
			var createSurveyMode = undefined;
			var createSurveyDialog = $("#createSurveyDialog");
			var addEditSurveyNameInput = $("#AddEditSurveyName", createSurveyDialog);
			var copyEditSurveyNameInput = $("#CopyEditSurveyName", createSurveyDialog);
			var lastCopiedSurveyNameId = undefined;
			var editSurveyNameFieldModeMap = {
				"@SubmitActionEnum.Add": addEditSurveyNameInput,
				"@SubmitActionEnum.Copy": copyEditSurveyNameInput
			};
			var copyFromSurveySelect = $("#CopyFromSurvey", createSurveyDialog);

			function setEditFieldFromSelectedSurveyName() {
				if (createSurveyMode) {
					if (createSurveyMode === "@SubmitActionEnum.Copy") {
						var selectedOption = copyFromSurveySelect.find("option:selected");
						var selectedSurveyId = copyFromSurveySelect.val();
						var selectedSurveyName = selectedOption.text();

						if ((!lastCopiedSurveyNameId) ||
							(lastCopiedSurveyNameId && lastCopiedSurveyNameId != selectedSurveyId)) {
							lastCopiedSurveyNameId = selectedSurveyId;
							editSurveyNameFieldModeMap[createSurveyMode].val(selectedSurveyName);
						}

						copyEditSurveyNameInput.focus();
					} else if (createSurveyMode === "@SubmitActionEnum.Add") {
						addEditSurveyNameInput.focus();
					}
				}
			}

			createSurveyDialog.dialog({
				title: "@Html.Raw(HttpUtility.JavaScriptStringEncode(Resources.Surveys.CreateSurvey))",
				autoOpen: false,
				modal: true,
				closeOnEscape: true,
				minWidth: 700,
				minHeight: 180,
				open: function(event, ui) {
					var editItem = $(this).data("edit-item");

					if (!dialogInitialised) {
						$("option", copyFromSurveySelect).remove(); // remove all members then populate.
						$.each(dataTable.GetData(), function(key, value) {
							copyFromSurveySelect.append($("<option></option>")
								.attr("value", value.Id)
								.text(value.Name));
						});
						copyFromSurveySelect.change(function() {
							setEditFieldFromSelectedSurveyName();
						});

						var copyHeader = $("h3#Copy");
						var copyBody = copyHeader.next();
						var accordionActive = false;
						if (editItem === undefined) { // remove the Copy section
							copyHeader.hide();
							copyBody.hide();
							accordionActive = 0;
						} else {
							copyHeader.show();
							copyBody.show();
							copyFromSurveySelect.val(editItem.Id);
							setEditFieldFromSelectedSurveyName();
						}

						var accordions = $(".accordion");
						accordions.accordion({
							active: accordionActive,
							collapsible: true,
							heightStyle: "content"
						});

						var createButton = $("#button-create");
						if (accordionActive === false) {
							accordions.on("accordionactivate", function(eventP, uiP) {
								createSurveyMode = uiP.newHeader.attr("id");
								createButton.button("enable");
								accordions.accordion("option", "collapsible", false);
								setEditFieldFromSelectedSurveyName();
							});
						} else {
							// no options only create empty
							createSurveyMode = "@SubmitActionEnum.Add";
							createButton.button("enable");
							addEditSurveyNameInput.focus();
						}
						dialogInitialised = true;
					}
				},
				close: function() {
					$(this).removeData("edit-row");
					$(this).removeData("edit-item");
				},
				buttons: [
					{
						"data-action": "close",
						id: "button-close",
						text: "@Html.Raw(HttpUtility.JavaScriptStringEncode(Resources.Shared.Close))",
						click: function() { $(this).dialog("close"); }
					},
					{
						"data-action": "ok",
						id: "button-create",
						disabled: true, // enable when select what doing on form
						text: "@Html.Raw(HttpUtility.JavaScriptStringEncode(Resources.Shared.Create))",
						click: function() {
							if (createSurveyMode) { // just in case check we have mode
								dialogOk(createSurveyMode,
									createSurveyDialog,
									createSurveyDialogNoSubmitForm,
									editSurveyNameFieldModeMap,
									createSurveyMode === "@SubmitActionEnum.Copy" ? copyFromSurveySelect.val() : undefined,
									dialogOkSurveyCreated);
							}
						}
					}
				]
			});

			$(".ui-dialog").keyup(function(e) {
				if (e.keyCode == 13) {
					$(":button[data-action='ok']", this).click();
				}
			});

			$(".createSurvey-button").click(function() {
				var row = GetCurrentTopRow();
				var editItem = undefined;
				createSurveyDialog.data("edit-row", row);
				if (row !== undefined) {
					editItem = dataTable.GetRowData(row);
				}
				createSurveyDialog.data("edit-item", editItem);
				createSurveyDialog.dialog("open");
			});

			$(".edit-button").click(function() {
				var itemId = GetCurrentTopRowItemId();
				if (itemId > 0) {
					EditSurvey(itemId);
				} else {
					$(".createSurvey-button").first().click();
				}
			});

			$(".addReminder-button").click(function() {
				if (!$(GetFirstCheckedCheckboxOrFirstCheckbox()).is(":checked")) {
					$("<input type='hidden' name='IdSelection' value='" + GetCurrentTopRowItemId() + "' />").appendTo(form);
				}
				if ($("input[name='submitAction']").length == 0) {
					$("<input type='hidden' name='submitAction' value='addReminder' />").appendTo(form);
				}
				form.submit();
			});
		});
	</script>
}
